{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}
<main class="forecast-add-cohort-wizard" id="content" role="main" tabindex="-1">
    <a href="#" class="link-back">Back</a>

    <div class="grid-row">
    <div class="column-two-thirds">
        <div class="hgroup form-group">
           <h1 class="heading-xlarge">
               ADD COHORT WIZARD
            </h1>
          <p>TELL THE USER THEY CAN ADD MULTIPLE PROSPECTIVE COHORTS.</p>          
        </div>
      </div>
    </div>


    <div class="grid-row">
        <div class="column-two-thirds">
         <form>
<div class="form-group">  
        <label class="form-label-bold" for="email">Apprenticeship name</label>
        <input class="form-control" type="text"> 
        </div>
    
        <div class="form-group">  
        <label class="form-label-bold" for="email">Agreed cost</label>
        <input class="form-control" type="text"> 
        </div>
    
    <div class="form-group">  
        <label class="form-label-bold" for="email">Number of 16-18 year old apprentices</label>
        <input class="form-control" type="text"> 
        </div>
    
    <div class="form-group">  
        <label class="form-label-bold" for="email">Number of 19+ year old apprentices</label>
        <input class="form-control" type="text"> 
        </div>
        
    <div class="form-group">  
        <label class="form-label-bold" for="email">Start date</label>
        <input class="form-control" type="text"> 
        </div>
    </form>
            
            <a class="button secondary" href="#">Save and add another</a>
            <a class="button" href="view-commitments.html">Save and continue</a>

        </div>
    
    </div>
   
</main>
{% endblock %}
