{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="transfers-dashboard" id="content" role="main" tabindex="-1">
    {% include "includes/link-back.html" %}

<div class="grid-row">
        <div class="column-two-thirds">
            <div class="hgroup">
            <h1 class="heading-xlarge">
        Forecast your transfer funds
      </h1>
                
                <p class="lede">See how much your available transfer funds is impacted by adding more apprenticeship transfers to it</p>
            
    
                
                <a class="button" href="../forecasting/add-cohort-wizard.html">Add an apprenticeship</a>                

</div>
        </div>
    </div> 

  
    
<div id="transactions" class="container" style="">
                    <h2 class="heading-medium">Transfer projection balance</h2>
        <table class="" id="transferProjectionBalance">
                    <thead>
            <tr>
                <th>Year</th>
                <th>Transfer allowance</th>
                <th>Cost of training</th>
                <th>Transfer allowance remaining</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2020/2021</td>
                <td>£999.999</td>
                <td>£999,999</td>
                <td>£999,999</td>
                <td><a href="monthly-transfer-forecast">Details</a></td>
            </tr>
    </tbody>
            </table>
        </div>    

    <div id="apprenticeships" class="container" style="">
                    <h2 class="heading-medium">Apprenticeships transfer projection</h2>
        <table class="" id="apprenticeshipsTransferProjection">
                    <thead>
            <tr>
                <th>Apprenticeship</th>
                <th>Total cost</th>
                <th>Cost in 2018/2019</th>
                <th>Cost in 2019/2020</th>
                <th>Cost in 2020/2021</th>
                <th>Cost in 2021/2022</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Drummer</td>
                <td>£999.999</td>
                <td>£999,999</td>
                <td>£999,999</td>
                <td>£999,999</td>
                <td>£999,999</td>
            </tr>
    </tbody>
            </table>
        </div>    
    
</main><!-- / #content -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/tabletop.js/1.5.1/tabletop.min.js'></script>

{% endblock %}
