{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="forecast-view-commitments" id="content" role="main" tabindex="-1">
    {% include "includes/link-back.html" %}

    <div class="grid-row">
    <div class="column-two-thirds">
        <div class="hgroup form-group">
           <h1 class="heading-xlarge">
               Current commitments
            </h1>
          <p>SHOW THE USERS THEIR CURRENT COMMITMENTS ADDED TO THE FORECAST</p>          
        </div>
      </div>
    </div>
    
    <a class="button" href="forecast-transfer.html?msg=added">Continue</a>
    <a class="button secondary" href="add-cohort-wizard.html">Add a new cohort</a>

    <h3 class="heading-medium">Commmitments added</h3>
<table class="responsive">
        <thead>
            <tr>
                <th>Apprenticeship</th>
                <th>Apprentices <div>16-18 &nbsp;&nbsp;&nbsp; <span class="form-hint" style="display:inline;"> 19+</span></div></th>
                <th>Cost per apprentice <div>16-18 &nbsp;&nbsp;&nbsp; <span class="form-hint" style="display:inline;"> 19+</span></div></th>
                <th>Monthly cost</th>
                <th>Installments</th>
                <th>Completition payment</th>
                <th>Total cost</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <tr>
        <tr>
            <td>Healthcare Science Assistant<span class="form-hint">Level 2</span></td>
            <td>11 <span class="form-hint">14</span></td>
            <td>£4,300 <span class="form-hint">£6,000</span></td>
            <td>£10,300</td>
            <td>12</td>
            <td>£2,600</td>
            <td>£12,900</td>
        </tr>
        <tr>
            <td>Healthcare Science Assistant<span class="form-hint">Level 2</span></td>
            <td>11 <span class="form-hint">14</span></td>
            <td>£4,300 <span class="form-hint">£6,000</span></td>
            <td>£10,300</td>
            <td>12</td>
            <td>£2,600</td>
            <td>£12,900</td>
        </tr>

            </tbody>
    </table>

    
    
</main><!-- / #content -->
{% endblock %}
