{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="forecast-index" id="content" role="main" tabindex="-1">
    
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.18/c3.min.css" media="screen" rel="stylesheet" type="text/css" />    


<!--
<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-footable/3.1.6/footable.core.standalone.css" media="screen" rel="stylesheet" type="text/css" />    
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-footable/3.1.6/footable.js" type="text/javascript"></script>
-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js" type="text/javascript"></script>
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.18/c3.min.js" type="text/javascript"></script>
    
<a href="#" class="link-back">Back to finance</a>
    <div class="grid-row">
    <div class="column-two-thirds">
        <div class="hgroup form-group">
           <h1 class="heading-xlarge">
               Funding projection
            </h1>
          <p>The figures below show the estimated funds that may be available to you for the duration of your apprenticeships.</p> 

<p>These figures are based on the current information in your account and the data provided by your training provider which is used to calculate funding. The table shows the monthly projection figures until April 2019.</p>

 
        </div>
        
      </div>
        <div class="column-one-third">
            <div class="related">
                <div class="hidden">
            <h4 class="heading-small">Skip to</h4>
        <ul class="list list-bullets">
        <li><a href="#viz">Your account projection</a></li>
        <li><a href="#apprentice">Costs by apprentice</a></li>
        <li><a href="#apprenticeship">Costs by apprenticeship</a></li>
        </ul>
            </div>
           
            <h3 class="heading-small">Download this data</h3>
          <div class="form-group">
                <ul class="list list-links">
                    
                    <li><a href="#" class="" data-clipboard-action="copy" data-clipboard-target="#balancesheet">
    Download as a CSV file
</a>  </li>
                    <li class="hidden">    <a href="#" class="" data-clipboard-action="copy" data-clipboard-target="#balancesheet">
    Copy to a spreadsheet
</a></li>
                </ul>
                
            </div>   
                    <details>
                    <summary>What does the download include?</summary>
 <p>The download includes the following data:</p>
            <ul class="list list-bullet">
                <li>Funds in</li>
                <li>Cost of training</li>
                <li>Completion payments</li>
                <li>Future funds</li>
            </ul>                    
                </details>
  
</div>
        </div>
    </div>

    
    <div name="balance" id="balance" class="grid-row">
      <div class="column-full">
              <h4 class="heading-large">Your account projection</h4>

          <div class="grid-row" style="margin-bottom: 30px;">
            <div class="column-two-thirds">
<p>A month by month projection of your account balance.</p>
                  
           
                
    
              
              </div>
            <div class="column-one-third">
                   <div id="" class="panel panel-width-thin">
            <div class="chart-date">
                Pending completion payments
            </div>
            <div class="chart-value">
            <span class="bold-large">£999,999,999</span>
            </div>
        </div>
              
              </div>
          </div>
          
          

          <table class="small" id="balancesheet">
                <thead>
                    <tr>
                        <th class="nowrap">Date</th>
                        <th class="financial">Cost of training</th>
                        <th class="financial">Completion payments</th>
                        <th class="financial">Funds in</th>
                        <th class="financial">Future funds</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
</div>


    
    
    <div class="grid-row">
        <div class="column-two-thirds">
 <details>
                <summary>How the &lsquo;cost of training&rsquo; is calculated</summary>
                <div class="panel panel-width-thin">
                
           <p>The &lsquo;cost of training&rsquo; column shows the total of the previous monthly training payments that have been made to your training providers. The agreed training costs for each apprenticeship are used throughout the forecast.</p>
                <p>The completion payment column shows the total of completion payments that happen in that month.</p> 
                    <p>Payments are calculated on the 5th working day of each month and will show in your account soon after. This payment will be updated in the forecast.</p>
                <p>The funding projection does not include any overdue completion payments where the apprenticeships have overrun the planned completion date.</p>
                
                </div>
            </details>
          
          
                  
            <details>
                <summary>How are the  &lsquo;funds in&rsquo; figures worked out?</summary>
                <div class="panel panel-width-thin">
                
           <p>The ‘funds in’ column show the total of the last received levy credits from your PAYE schemes. The figure will be updated on the 20th of each month.</p>
                <p>The same figures are used throughout the forecast.</p>
                
                </div>
            </details>      
                  
            <details>
                <summary>Where is the  &lsquo;end point assessment&rsquo; cost?</summary>
                <div class="panel panel-width-thin">
                
           <p>The  &lsquo;end-point assessment cost&rsquo; is paid by your training provider at the end of the apprenticeship.  The funds for this payment are included in the training and completion costs.</p>
                <p>This payment will be made to the end point assessment organisation by the training provider at the end of the apprenticeship or soon after the apprenticeship has finished.</p>
                </div>
            </details>         
        </div>
    </div>
    
<div class="info-highlighted">
                        <h3 class="heading-medium">Disclaimer</h3>
    <p>This tool is designed to illustrate what your funds may look like based on the apprenticeships currently in your apprenticeship service account. </p><p>The actual amount of funds available is likely to vary if there are any changes made to your apprenticeship arrangements, including, for example, changes in the number of apprentices employed, or the cost and duration of their training.</p> <p>You should therefore not rely solely on the information provided by this tool when making decisions about how to spend future levy funds.</p>
                    </div>    

    
    
    
    <script src='https://cdnjs.cloudflare.com/ajax/libs/tabletop.js/1.5.1/tabletop.min.js'></script>

    <style>
        .content-fixed {
            position: relative !important;
            padding-left: 10px;
        }
    </style>

    

</main><!-- / #content -->
{% endblock %}