{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="paye-remove" id="content" role="main" tabindex="-1">

    {% include "includes/link-back.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="hgroup">
            <h1 class="heading-xlarge">Remove PAYE</h1>
                <p class="lede">Confirm you are ready to remove the PAYE scheme.</p>
                <p>Removing the PAYE scheme is non-reversable. Funds accrued in the account will remain there, any future levy paid by this PAYE scheme will remain unallocated unless the PAYE scheme is added to a Manage apprenticeships account.</p>
            </div>

        </div>
</div> 

 <div class="grid-row">
        <div class="column-two-thirds">
            <table>
            <tbody>
            <tr>
            <th scope="row">
            PAYE scheme
            </th>
            <td>
            777/AA00001
            </td>
            </tr>
            <tr>
            <th scope="row">
                Organisation name
            </th>
            <td>
                Tescos Plc
            </td>
            </tr>
            </tbody>
            </table>        
        </div>
    </div>
            
<div class="grid-row">

      
      <div class="column-two-thirds">
          <h1 class="heading-medium">Are you sure you want to remove this PAYE scheme?</h1>

             <form action="">
            
        <div class="form-group">

                                         <div class="multiple-choice">

        <input id="addpaye" type="radio" name="next" value="addpaye">
      <label class="" data-target="addpaye" for="addpaye">
Yes, permenantly remove this scheme
      </label>
            </div>
                                         <div class="multiple-choice">
        <input id="checkfinance" type="radio" name="next" value="checkfinance">
      <label class="" data-target="checkfinance" for="checkfinance">
No, cancel this request       
        </label>
            </div>            
      </div>

  
      <a class="button" href="#" id="submit">Continue</a>
      
</form>
          
                 
</div></div>    

</main><!-- / #content -->
{% endblock %}
