{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="what-you-need" id="content" role="main" tabindex="-1">
    {% include "includes/link-back.html" %}

    
    
<div class="grid-row">
        <div class="column-two-thirds">
            <div class="hgroup">
            <h1 class="heading-xlarge">What you'll need</h1>
                <p class="lede">Your levy funds come from HMRC via your PAYE schemes.</p>
                <p>To access your funds you will need:</p>
                <ul class="list list-bullet">
                    <li>the Government Gateway login details</li>
                    <li>PAYE scheme numbers used for your payroll</li>
                    <li>your Companies House number</li>
                </ul>
            </div>
        </div>
</div> 
    
<div class="grid-row">
    <div class="column-two-thirds">
        <form>
            <legend class="heading-small">
                Do you have everything you need?        
            </legend>
                <div class="form-group">
                    <div class="multiple-choice">
                        <input type="radio" name="next" value="value">
                        <label>Yes, I have everything</label>
                    </div>
                    <div class="multiple-choice">
                        <input type="radio" name="next" value="value">
                        <label>No, show me how to get these things</label>
                    </div>
                </div>
            <div class="form-group">
                <a class="button" href="/apps/{{currentApp.appDirName}}/views/onboarding/get-setup-as-a-user">Continue</a>
            </div>
        </form>
    </div>
</div>    

</main><!-- / #content -->
{% endblock %}
