{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="confirm-your-identity" id="content" role="main" tabindex="-1">
    {% include "includes/link-back.html" %}

    
    <div class="govuk-box-highlight">
        <h2 class="bold-large">
       We've sent you an email        </h2>
        <p>To confirm your identity, we've sent a code to <strong class="bold-small userId">ty.fairclough@gmail.com</strong></p>
        </div>
    
    
<div class="grid-row">
        <div class="column-two-thirds">
            <div class="hgroup">
            <h1 class="heading-xlarge">Confirm your identity</h1>
            </div>
        </div>
</div> 
    
<form>
  <fieldset>
    <legend class="visuallyhidden">Enter code</legend>
      <div class="form-group" id="name">
          <label class="form-label-bold" for="code">
          <span class="form-label-bold">Enter code</span>
        </label>
          <input aria-invalid="true" class="form-control" id="code" type="text" aria-required="true">
      </div>
    </fieldset>
    <div class="form-group">
        <a href="/apps/{{currentApp.appDirName}}/views/onboarding/search-for-your-organisation" class="button">Continue</a>
    </div>
</form>
    
    <div class="panel panel-width-thin">
        <h4 class="heading-small">Not received an email?</h4>
        <p>You can <a href="#">request another email</a>.</p>
    </div>
</main><!-- / #content -->
{% endblock %}
