{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="index" id="content" role="main" tabindex="-1">
    <section id="config" class="outofservice">
    <h1 class="heading-large">Before you start</h1>
        <form>
            <legend class="bold-medium">What type of employer are you</legend>
            <p class="form-hint">If you need help ask the researcher to answer this for you.</p>
            <div class="form-group">
                  <div class="multiple-choice">
        <input id="nonlevy" type="radio" name="radio-group" value="nonlevy">
        <label for="nonlevy">I'm new to all this</label>
      </div>

      <div class="multiple-choice">
        <input id="levy" type="radio" name="radio-group" value="levy">
        <label for="levy">I already have an apprenticeship account</label>
      </div>
                </div>
            <a class="button button-start">Start</a>
        </form>
        
    </section>
    
    <section id="unauthenticated" class="hidden">
  <div class="grid-row">
    <div class="column-two-thirds">
        <div class="hgroup">
      <h1 class="heading-xlarge">
Manage apprenticeships 
            </h1>
<p>This service is for organisations that pay the apprenticeship levy.</p>
<p>Use this service to:</p>
            
        <ul class="list list-bullet">
            <li>create new apprenticeship levy accounts</li>
            <li>spend your levy funds on apprentices</li>
            <li>start, stop or amend your apprenticeship programmes</li>
            <!--<li>your Companies House number - <a href="https://beta.companieshouse.gov.uk/search/" rel="external">find my Companies House number</a></li>-->
        </ul>
    </div>
  </div>
        
 </div>
 <div class="grid-row">
     <section id="signinsignup">
     <div class="column-full">
         <h3 class="heading-medium">Sign in</h3>
        <form>
        <div class="form-group">  
        <label class="form-label-bold" for="email">Email address</label>
        <input class="form-control" type="text"> 
        </div>
        <div class="form-group">  
        <label class="form-label-bold" for="email">Password</label>
        <input class="form-control" type="password"> 
        </div>
        <div class="form-group">
        <a href="/apps/{{currentApp.appDirName}}/views/account/index" class="button">Sign in</a>
        </div>
        </form>
        <h2 class="heading-small">Problems signing in?</h2>
        <ul class="list list-links">
        <li>        <a href="/apps/{{currentApp.appDirName}}/views/user/forgot-your-password">Forgotten your password?</a>
        </li>
        <li>        <a href="/apps/{{currentApp.appDirName}}/views/user/reset-your-password">Reset your password?</a>
        </li>
        </ul>
    </div>     
     <div class="column-two-thirds">
         <h3 class="heading-large">Create my organisation's new levy account</h3>
         <p>You need the Government Gateway login details for your PAYE schemes. </p>
         <a id="register" class="" href="/apps/{{currentApp.appDirName}}/views/onboarding/what-you-need">Create my organisation's new levy account - I'll be the account owner</a>
    <h3 class="heading-medium">Before you start</h3>
        <p><a href="https://www.gov.uk/government/publications/apprenticeship-levy-how-it-will-work/apprenticeship-levy-how-it-will-work">Find out about the apprenticeship levy</a> and <a href="#">find out how you can use apprenticeship levy service</a>.</p>
        
        <h3 class="heading-medium">If you don’t pay the apprenticeship levy</h3>
        <p>You can <a href="https://www.recruit-apprentice.service.gov.uk/">advertise an apprenticeship vacancy</a> and <a href="https://findapprenticeshiptraining.sfa.bis.gov.uk/">search for training courses and providers</a></p>      
         </div>
       </section>          
     </div>    
    </section>


</main><!-- / #content -->
{% endblock %}