{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="index" id="content" role="main" tabindex="-1">

  <div class="grid-row">
    <div class="column-full blue">
        <div class="hgroup">
      <h1 class="heading-xlarge">
Employer apprenticeship academy 
            </h1>
                <a class="button button-start" href="onboarding/chooseGoal.html">Get started</a>
    </div>
  </div>
        
 </div>
 <div class="grid-row">
     <section>
     <div class="column-full">
        
         <h2 class="heading-large">Champion apprenticeships, be a leader in your organisation</h2>
         <p>Our byte size lessons are engaging and easy to learn. Earn badges for completing competetencies.</p>
         

         
    </div>     
       </section>
     <section>
     <div class="column-full">
        
         <h2 class="heading-large">Easy to use, fast to learn</h2>
         
         <ul class="list list-bullets">
            <li>
                <span class="bold-small">Step by step lessons</span>
                <p>Easy to follow lessons for all subjects</p>
             </li>
             <li>
                <span class="bold-small">50+ videos</span>
                <p>Hours of tutorials presented by Apprenticeship experts at the ESFA</p>
             </li>
             <li>
                <span class="bold-small">Peer 2 peer support</span>
                <p>Connect with your peers and share knowledge and experience.</p>
             </li>
             <li>
                <span class="bold-small">Earn badges</span>
                <p>Complete subjects to earn your stripes and progress through the academy</p>
             </li>
         </ul>
         
         
    </div>     
       </section>          
     </div>    
    


</main><!-- / #content -->
{% endblock %}