{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="change-email" id="content" role="main" tabindex="-1">

    {% include "includes/link-back.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="hgroup">
            <h1 class="heading-xlarge">Change your email address</h1>
                <p class="lede">Update your password by first confirming your current password</p>
            </div>
        </div>
</div> 


    <form id="profileSetup" action="accesscode">
  <fieldset>
    <legend class="visuallyhidden">Current email address</legend>
      <div class="form-group" id="name">
          <label class="form-label-bold" for="users-name">
              <span class="form-label-bold">Current email address</span>
        </label>
              
          <input disabled class="form-control" type="text" value="joe.bloggs@gmail.com">
      </div>
    </fieldset>
   <fieldset>
    <legend class="visuallyhidden">New email address</legend>
      <div class="form-group" id="name">
          <label class="form-label-bold" for="users-name">
          <!--span class="form-hint">Here is a hint for this form field.</span-->
              <span class="form-label-bold">New email address</span>
        </label>
              
          <input class="form-control" type="text">
      </div>
    </fieldset>
            <a href="/sprint/48/onboarding/check-mail.html" class="button">Continue</a>
</form>
    
</main><!-- / #content -->
{% endblock %}
