{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="lesson" data-level="7" data-lesson="1" id="content" role="main" tabindex="-1">
    <header>
<div class="grid-row">
    <div class="column-two-thirds">
<div class="progress-wrap progress" data-progress-percent="10">
  <div class="progress-bar progress"></div>
</div>
        <p class="form-hint">Question <span class="current">1</span> of <span class="total">10</span></p>
    </div>
</div>
    </header>    

      <section  id="1" data-answer="2" class="question">
        <div class="grid-row">
            <div class="column-two-thirds">
 <div class="hgroup">
      <h1 class="heading-xlarge">
what is the public sector target for apprentices in thier organisation?         </h1>
            
            <form>
                <div class="form-group">
                    <div class="multiple-choice">
                            <input id="q1" type="radio" name="radio-group" value="1">
                            <label for="q1">5,000 per department
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q2" type="radio" name="radio-group" value="2">
                            <label for="q2">2.3% of thier work force
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q3" type="radio" name="radio-group" value="3">
                            <label for="q3">£50,000 in training spent
                            </label>
                    </div>
                </div>
                <button class="button submit">Submit answer</button>
            </form>
    </div>

            <div class="success-summary">
    <h3 class="heading-medium">Correct</h3>
    <p>Government expect all public sector organisations to achieve a target set of 5% in the next 12 months. </p>
    <a class="button next">Next question</a>
</div>
        
<div class="error-summary">
    <h3 class="heading-medium">Incorrect</h3>
    <p>Government expect all public sector organisations to achieve a target set of 5% in the next 12 months. </p>
    <a class="button next">Next question</a>
</div>            
            </div>
        </div>
</section>
    
      <section  id="2" data-answer="3" class="question">
        <div class="grid-row">
            <div class="column-two-thirds">
 <div class="hgroup">
      <h1 class="heading-xlarge">
Which of the following are exempt from the public sector target       </h1>
            
            <form>
                <div class="form-group">
                    <div class="multiple-choice">
                            <input id="q4" type="radio" name="radio-group" value="1">
                            <label for="q4">The MOD
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q5" type="radio" name="radio-group" value="2">
                            <label for="q5">Quangos
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q6" type="radio" name="radio-group" value="3">
                            <label for="q6">Those bodies with less than 250 employees
                            </label>
                    </div>
                </div>
                <button class="button submit">Submit answer</button>
            </form>
    </div>

            <div class="success-summary">
    <h3 class="heading-medium">Correct</h3>
    <p>"All public bodies in scope of the target; with a few exceptions, all public bodies
with 250 or more staff in England as of 31 March in each of 2017, 2018, 2019 and
2020 are within scope." </p>
    <a class="button next">Next question</a>
</div>
        
<div class="error-summary">
    <h3 class="heading-medium">Incorrect</h3>
    <p>"All public bodies in scope of the target; with a few exceptions, all public bodies
with 250 or more staff in England as of 31 March in each of 2017, 2018, 2019 and
2020 are within scope." </p>    <a class="button next">Next question</a>
</div>            
            </div>
        </div>
</section>
      <section  id="3" data-answer="1" class="question">
        <div class="grid-row">
            <div class="column-two-thirds">
 <div class="hgroup">
      <h1 class="heading-xlarge">
What happens if the public sector target is not met?      </h1>
            
            <form>
                <div class="form-group">
                    <div class="multiple-choice">
                            <input id="q7" type="radio" name="radio-group" value="1">
                            <label for="q7">The public body has to fill out a form explaining why they did not reach the target
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q8" type="radio" name="radio-group" value="2">
                            <label for="q8">They public body will have it's next budget cut by 0.5% of the year's last paybill declared to HMRC
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q9" type="radio" name="radio-group" value="3">
                            <label for="q9">The training and development function of the public body will be put on special measures under the  Apprenticeships, Skills, Children and
Learning Act 2009
                            </label>
                    </div>
                </div>
                <button class="button submit">Submit answer</button>
            </form>
    </div>

            <div class="success-summary">
    <h3 class="heading-medium">Correct</h3>
    <p></p>
    <a class="button next">Next question</a>
</div>
        
<div class="error-summary">
    <h3 class="heading-medium">Incorrect</h3>
       <p></p>
 <a class="button next">Next question</a>
</div>            
            </div>
        </div>
</section>
      <section  id="4" data-answer="3" class="question">
        <div class="grid-row">
            <div class="column-two-thirds">
 <div class="hgroup">
      <h1 class="heading-xlarge">
What data is required to be published for Government consumption?  </h1>
            
            <form>
                <div class="form-group">
                    <div class="multiple-choice">
                            <input id="q10" type="radio" name="radio-group" value="1">
                            <label for="q10">The total cost of apprenticeship spend in each period
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q11" type="radio" name="radio-group" value="2">
                            <label for="q11">The overall budget spent by the body used on apprenticeship training expressed as a percentage of total spend on CPD
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q12" type="radio" name="radio-group" value="3">
                            <label for="q12">Headcount on the day before the first day of each reporting period in the target
                            </label>
                    </div>
                </div>
                <button class="button submit">Submit answer</button>
            </form>
    </div>

            <div class="success-summary">
    <h3 class="heading-medium">Correct</h3>
    <p></p>
    <a class="button next">Next question</a>
</div>
        
<div class="error-summary">
    <h3 class="heading-medium">Incorrect</h3>
       <p></p>
 <a class="button next">Next question</a>
</div>            
            </div>
        </div>
</section>
    
</main><!-- / #content -->
{% endblock %}