{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="lesson" data-level="2" data-lesson="4" id="content" role="main" tabindex="-1">
    <header>
<div class="grid-row">
    <div class="column-two-thirds">
<div class="progress-wrap progress" data-progress-percent="10">
  <div class="progress-bar progress"></div>
</div>
        <p class="form-hint">Question <span class="current">1</span> of <span class="total">10</span></p>
    </div>
</div>
    </header>    

    <section  id="1" data-answer="2" class="question">
        <div class="grid-row">
            <div class="column-two-thirds">
 <div class="hgroup">
      <h1 class="heading-xlarge">
Can you train your own apprentices and recieving government funding for it           </h1>
            
            <form>
                <div class="form-group">
                    <div class="multiple-choice">
                            <input id="q1" type="radio" name="radio-group" value="1">
                            <label for="q1">Yes anyone can
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q2" type="radio" name="radio-group" value="2">
                            <label for="q2">Yes, if you are an approved training provider
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q3" type="radio" name="radio-group" value="3">
                            <label for="q3">No, apprentices must be trained by a third party organisation to receive government funding
                            </label>
                    </div>
                </div>
                <button class="button submit">Submit answer</button>
            </form>
    </div>

            <div class="success-summary">
    <h3 class="heading-medium">Correct</h3>
    <p>Some organisations have the capacity to train apprentices in-house, this can also include other organisation's employees. The organisation must be an approved training provider to recieve funding for either in-house or external apprentices.</p>
    <a class="button next">Next question</a>
</div>
        
<div class="error-summary">
    <h3 class="heading-medium">Incorrect</h3>
    <p>Some organisations have the capacity to train apprentices in-house, this can also include other organisation's employees. The organisation must be an approved training provider to recieve funding for either in-house or external apprentices.</p>
    <a class="button next">Next question</a>
</div>            
            </div>
        </div>
</section>
    
    <section  id="2" data-answer="1" class="question">
        <div class="grid-row">
            <div class="column-two-thirds">
 <div class="hgroup">
      <h1 class="heading-xlarge">
You are required to write a signed commitment statement, what is it?            </h1>
            
            <form>
                <div class="form-group">
                    <div class="multiple-choice">
                            <input id="q4" type="radio" name="radio-group" value="1">
                            <label for="q4">This sets out how you, your training provider and your apprentice will support the successful achievement of the apprenticeship
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q5" type="radio" name="radio-group" value="2">
                            <label for="q5">This outlines the agreement you have with the training provider to allow the apprentice to spend the alloted 20% time for off-the-job training
                            </label>
                    </div>
                </div>
                <button class="button submit">Submit answer</button>
            </form>
    </div>

            <div class="success-summary">
    <h3 class="heading-medium">Correct</h3>
    <p>The signed commitment statement shows the ESFA that you have made the necessary commitments and provisions to support your apprentice through their apprenticeship.</p>
    <a class="button next">Next question</a>
</div>
        
<div class="error-summary">
    <h3 class="heading-medium">Incorrect</h3>
    <p>The signed commitment statement shows the ESFA that you have made the necessary commitments and provisions to support your apprentice through their apprenticeship.</p>
    <a class="button next">Next question</a>
</div>            
            </div>
        </div>
</section>
    
    <section  id="3" data-answer="2" class="question">
        <div class="grid-row">
            <div class="column-two-thirds">
 <div class="hgroup">
      <h1 class="heading-xlarge">
How much does the end point assessment normally cost?      </h1>
            
            <form>
                <div class="form-group">
                    <div class="multiple-choice">
                            <input id="q6" type="radio" name="radio-group" value="1">
                            <label for="q6">£500 + vat
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q7" type="radio" name="radio-group" value="2">
                            <label for="q7">No more than 20% of the cost of training
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q8" type="radio" name="radio-group" value="3">
                            <label for="q8">£175 for the first 10 apprentices lowering to £155 there after
                            </label>
                    </div>
                </div>
                <button class="button submit">Submit answer</button>
            </form>
    </div>

            <div class="success-summary">
    <h3 class="heading-medium">Correct</h3>
    <p>Most end point assessments cost around 20% of the total funding.</p>
    <a class="button next">Next question</a>
</div>
        
<div class="error-summary">
    <h3 class="heading-medium">Incorrect</h3>
    <p>Most end point assessments cost around 20% of the total funding.</p>
    <a class="button next">Next question</a>
</div>            
            </div>
        </div>
</section>
    <section  id="4" data-answer="1" class="question">
        <div class="grid-row">
            <div class="column-two-thirds">
 <div class="hgroup">
      <h1 class="heading-xlarge">
What does the abbreviation ATA stand for?     </h1>
            
            <form>
                <div class="form-group">
                    <div class="multiple-choice">
                            <input id="q9" type="radio" name="radio-group" value="1">
                            <label for="q9">An apprenticeship Training Agency
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q9" type="radio" name="radio-group" value="2">
                            <label for="q9">An Apprenticeship Target Application
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q10" type="radio" name="radio-group" value="3">
                            <label for="q10">An Annual target for apprenitces
                            </label>
                    </div>
                </div>
                <button class="button submit">Submit answer</button>
            </form>
    </div>

            <div class="success-summary">
    <h3 class="heading-medium">Correct</h3>
    <p></p>
    <a class="button next">Next question</a>
</div>
        
<div class="error-summary">
    <h3 class="heading-medium">Incorrect</h3>
    <p></p>
    <a class="button next">Next question</a>
</div>            
            </div>
        </div>
</section>

</main><!-- / #content -->
{% endblock %}