{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="lesson" data-level="1" data-lesson="1" id="content" role="main" tabindex="-1">
    <header>
<div class="grid-row">
    <div class="column-two-thirds">
<div class="progress-wrap progress" data-progress-percent="10">
  <div class="progress-bar progress"></div>
</div>
        <p class="form-hint">Question <span class="current">1</span> of <span class="total">10</span></p>
    </div>
</div>
    </header>    

    <section  id="1" data-answer="1" class="question">
        <div class="grid-row">
            <div class="column-two-thirds">
 <div class="hgroup">
      <h1 class="heading-xlarge">
How long does an apprentice's employment contract need to last            </h1>
            
            <form>
                <div class="form-group">
                    <div class="multiple-choice">
                            <input id="q1" type="radio" name="radio-group" value="1">
                            <label for="q1">At least the length of the apprenticeship's expected duration
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q2" type="radio" name="radio-group" value="2">
                            <label for="q2">12 months
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q3" type="radio" name="radio-group" value="3">
                            <label for="q3">No end date can be determined, all contracts must be provided on a permenant and on-going basis
                            </label>
                    </div>
                </div>
                <button class="button submit">Submit answer</button>
            </form>
    </div>

            <div class="success-summary">
    <h3 class="heading-medium">Correct</h3>
    <p></p>
    <a class="button next">Next question</a>
</div>
        
<div class="error-summary">
    <h3 class="heading-medium">Incorrect</h3>
    <p></p>
    <a class="button next">Next question</a>
</div>            
            </div>
        </div>
</section>
    
    <section  id="2" data-answer="2" class="question">
        <div class="grid-row">
            <div class="column-two-thirds">
 <div class="hgroup">
      <h1 class="heading-xlarge">
Which is the best description of an apprentice?            </h1>
            
            <form>
                <div class="form-group">
                    <div class="multiple-choice">
                            <input id="q4" type="radio" name="radio-group" value="1">
                            <label for="q4">An 18 to 21 year old in work with on the job training
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q5" type="radio" name="radio-group" value="2">
                            <label for="q5">Any employee provided with on-the-job training and accompanying study
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q6" type="radio" name="radio-group" value="3">
                            <label for="q6">A school leaver continuing to study while also working
                            </label>
                    </div>
                </div>
                <button class="button submit">Submit answer</button>
            </form>
    </div>

            <div class="success-summary">
    <h3 class="heading-medium">Correct</h3>
    <p>Government believes it is important to support small organisations, including small charities, to take on apprentices.</p>
    <a class="button next">Next question</a>
</div>
        
<div class="error-summary">
    <h3 class="heading-medium">Incorrect</h3>
    <p>Government believes it is important to support small organisations, including small charities, to take on apprentices.</p>
    <a class="button next">Next question</a>
</div>            
            </div>
        </div>
</section>
    
    <section  id="3" data-answer="2" class="question">
        <div class="grid-row">
            <div class="column-two-thirds">
 <div class="hgroup">
      <h1 class="heading-xlarge">
        Can an apprentice be studying for two, or more, apprenticeships at the same time?
      </h1>
            
            <form>
                <div class="form-group">
                    <div class="multiple-choice">
                            <input id="q7" type="radio" name="radio-group" value="1">
                            <label for="q7">Yes
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q8" type="radio" name="radio-group" value="2">
                            <label for="q8">No
                            </label>
                    </div>
                </div>
                <button class="button submit">Submit answer</button>
            </form>
    </div>

            <div class="success-summary">
    <h3 class="heading-medium">Correct</h3>
    <p>An apprentice can only be on one apprenticeship at any given time. They can however change apprenticeship by stopping the current one.</p>
    <a class="button next">Next question</a>
</div>
        
<div class="error-summary">
    <h3 class="heading-medium">Incorrect</h3>
    <p>An apprentice can only be on one apprenticeship at any given time. They can however change apprenticeship by stopping the current one.</p>
    <a class="button next">Next question</a>
</div>            
            </div>
        </div>
</section>
    <section  id="4" data-answer="3" class="question">
        <div class="grid-row">
            <div class="column-two-thirds">
 <div class="hgroup">
      <h1 class="heading-xlarge">
        Apprentices to recieve funding must legally do what
      </h1>
            
            <form>
                <div class="form-group">
                    <div class="multiple-choice">
                            <input id="q9" type="radio" name="radio-group" value="1">
                            <label for="q9">Complete a series of recorded milestones
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q10" type="radio" name="radio-group" value="2">
                            <label for="q10">Be assessed by an independent training assessor
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q11" type="radio" name="radio-group" value="3">
                            <label for="q11">Spend at least 20% of their time in off the job training
                            </label>
                    </div>
                </div>
                <button class="button submit">Submit answer</button>
            </form>
    </div>

            <div class="success-summary">
    <h3 class="heading-medium">Correct</h3>
    <p>HMRC can only check people's location by their home address and thus why the percentage is calculated against this address.</p>
    <a class="button next">Next question</a>
</div>
        
<div class="error-summary">
    <h3 class="heading-medium">Incorrect</h3>
    <p>HMRC can only check people's location by their home address and thus why the percentage is calculated against this address.</p>
    <a class="button next">Next question</a>
</div>            
            </div>
        </div>
</section>
    <section  id="5" data-answer="2" class="question">
        <div class="grid-row">
            <div class="column-two-thirds">
 <div class="hgroup">
      <h1 class="heading-xlarge">
True or false, as an employee you must advertise your vacancy through the "Recruit an apprentice" service      </h1>
            
            <form>
                <div class="form-group">
                    <div class="multiple-choice">
                            <input id="q12" type="radio" name="radio-group" value="1">
                            <label for="q12">True
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q13" type="radio" name="radio-group" value="2">
                            <label for="q13">False
                            </label>
                    </div>
                </div>
                <button class="button submit">Submit answer</button>
            </form>
    </div>

            <div class="success-summary">
    <h3 class="heading-medium">Correct</h3>
    <p>The free "Recruit an apprentice" service is not mandatory, you will find many active school leavers and graduates on the service should you not have an apprentice already in your organisation.</p>
    <a class="button next">Next question</a>
</div>
        
<div class="error-summary">
    <h3 class="heading-medium">Incorrect</h3>
    <p>The free "Recruit an apprentice" service is not mandatory, you will find many active school leavers and graduates on the service should you not have an apprentice already in your organisation.</p>
    <a class="button next">Next question</a>
</div>            
            </div>
        </div>
</section>
    <section  id="6" data-answer="1" class="question">
        <div class="grid-row">
            <div class="column-two-thirds">
 <div class="hgroup">
      <h1 class="heading-xlarge">What is the minimum salary you can offer an apprentice   </h1>
            
            <form>
                <div class="form-group">
                    <div class="multiple-choice">
                            <input id="q14" type="radio" name="radio-group" value="1">
                            <label for="q14">£3.50 per hour
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q15" type="radio" name="radio-group" value="2">
                            <label for="q15">The minimum wage of £5.60 for over 18s
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q16" type="radio" name="radio-group" value="3">
                            <label for="q16">The national living wage
                            </label>
                    </div>
                </div>
                <button class="button submit">Submit answer</button>
            </form>
    </div>

            <div class="success-summary">
    <h3 class="heading-medium">Correct</h3>
    <p>There is a special apprentice national minimum wage rate that applies to all apprentices regardless of thier age</p>
    <a class="button next">Next question</a>
</div>
        
<div class="error-summary">
    <h3 class="heading-medium">Incorrect</h3>
    <p>There is a special apprentice national minimum wage rate that applies to all apprentices regardless of thier age</p>
    <a class="button next">Next question</a>
</div>            
            </div>
        </div>
</section>
    <section  id="7" data-answer="3" class="question">
        <div class="grid-row">
            <div class="column-two-thirds">
 <div class="hgroup">
      <h1 class="heading-xlarge">When do you NOT need to pay your apprentice</h1>
            
            <form>
                <div class="form-group">
                    <div class="multiple-choice">
                            <input id="q17" type="radio" name="radio-group" value="1">
                            <label for="q17">For statuary holiday allowance
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q18" type="radio" name="radio-group" value="2">
                            <label for="q18">for hours training that’s part of the apprenticeship
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q19" type="radio" name="radio-group" value="3">
                            <label for="q19">A bonus for completing the apprenticeship
                            </label>
                    </div>
                </div>
                <button class="button submit">Submit answer</button>
            </form>
    </div>

            <div class="success-summary">
    <h3 class="heading-medium">Correct</h3>
    <p>Apprentices must be paid for their time in training and be allowed to and get paid for holidays.</p>
    <a class="button next">Next question</a>
</div>
        
<div class="error-summary">
    <h3 class="heading-medium">Incorrect</h3>
    <p>Apprentices must be paid for their time in training and be allowed to and get paid for holidays.</p>
    <a class="button next">Next question</a>
</div>            
            </div>
        </div>
</section>

    <section  id="8" data-answer="2" class="question">
        <div class="grid-row">
            <div class="column-two-thirds">
 <div class="hgroup">
      <h1 class="heading-xlarge">How many days holiday must you pay an apprentice</h1>
            
            <form>
                <div class="form-group">
                    <div class="multiple-choice">
                            <input id="q20" type="radio" name="radio-group" value="1">
                            <label for="q20">25 days
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q21" type="radio" name="radio-group" value="2">
                            <label for="q21">20 days plus bank holidays
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q22" type="radio" name="radio-group" value="3">
                            <label for="q22">You do not need to renumerate for holiday days taken
                            </label>
                    </div>
                </div>
                <button class="button submit">Submit answer</button>
            </form>
    </div>

            <div class="success-summary">
    <h3 class="heading-medium">Correct</h3>
    <p>All apprentices must get at least 20 days plus bank holidays paid as part of their salary/wage</p>
    <a class="button next">Next question</a>
</div>
        
<div class="error-summary">
    <h3 class="heading-medium">Incorrect</h3>
    <p>All apprentices must get at least 20 days plus bank holidays paid as part of their salary/wage</p>
    <a class="button next">Next question</a>
</div>            
            </div>
        </div>
</section>
    <section  id="9" data-answer="3" class="question">
        <div class="grid-row">
            <div class="column-two-thirds">
 <div class="hgroup">
      <h1 class="heading-xlarge">How many hours must an apprentice work to qualify for apprenticeship funding</h1>
            
            <form>
                <div class="form-group">
                    <div class="multiple-choice">
                            <input id="q23" type="radio" name="radio-group" value="1">
                            <label for="q23">16 hours per week
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q24" type="radio" name="radio-group" value="2">
                            <label for="q24">38 hours per week
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q25" type="radio" name="radio-group" value="3">
                            <label for="q25">30 hours per week
                            </label>
                    </div>
                </div>
                <button class="button submit">Submit answer</button>
            </form>
    </div>

            <div class="success-summary">
    <h3 class="heading-medium">Correct</h3>
    <p>Apprentices must work at least 30 hours a week to qualify as a government funded apprentice</p>
    <a class="button next">Next question</a>
</div>
        
<div class="error-summary">
    <h3 class="heading-medium">Incorrect</h3>
    <p>Apprentices must work at least 30 hours a week to qualify as a government funded apprentice</p>
    <a class="button next">Next question</a>
</div>            
            </div>
        </div>
</section>

</main><!-- / #content -->
{% endblock %}