{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="lesson" data-level="3" data-lesson="4" id="content" role="main" tabindex="-1">
    <header>
<div class="grid-row">
    <div class="column-two-thirds">
<div class="progress-wrap progress" data-progress-percent="10">
  <div class="progress-bar progress"></div>
</div>
        <p class="form-hint">Question <span class="current">1</span> of <span class="total">10</span></p>
    </div>
</div>
    </header>    

    <section  id="1" data-answer="2" class="question">
        <div class="grid-row">
            <div class="column-two-thirds">
 <div class="hgroup">
      <h1 class="heading-xlarge">
A levy transfer is what?            </h1>
            
            <form>
                <div class="form-group">
                    <div class="multiple-choice">
                            <input id="q1" type="radio" name="radio-group" value="1">
                            <label for="q1">The transfer of levy paye liability to another connected company
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q2" type="radio" name="radio-group" value="2">
                            <label for="q2">The transfer of levy credit from one apprenticeship account to another
                            </label>
                    </div>
                </div>
                <button class="button submit">Submit answer</button>
            </form>
    </div>

            <div class="success-summary">
    <h3 class="heading-medium">Correct</h3>
    <p>Users with owner rights in a digital apprenticeship account can transfer up to 10% of their </p>
    <a class="button next">Next question</a>
</div>
        
<div class="error-summary">
    <h3 class="heading-medium">Incorrect</h3>
    <p>Users with owner rights in a digital apprenticeship account can transfer up to 10% of their </p>
    <a class="button next">Next question</a>
</div>            
            </div>
        </div>
</section>
    
    <section  id="2" data-answer="3" class="question">
        <div class="grid-row">
            <div class="column-two-thirds">
 <div class="hgroup">
      <h1 class="heading-xlarge">
When might you want to send levy credit to another employer?            </h1>
            
            <form>
                <div class="form-group">
                    <div class="multiple-choice">
                            <input id="q3" type="radio" name="radio-group" value="1">
                            <label for="q3">When you want to include it as part of a business deal
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q4" type="radio" name="radio-group" value="2">
                            <label for="q4">When you want to reduce the amount of un-spent levy in your account
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q5" type="radio" name="radio-group" value="2">
                            <label for="q5">When you want to support an organisation in your supply chain
                            </label>
                    </div>
                </div>
                <button class="button submit">Submit answer</button>
            </form>
    </div>

            <div class="success-summary">
    <h3 class="heading-medium">Correct</h3>
    <p>"It is not permitted to use levy credit to bribe or otherwise be used in exchange for cash or discounts for products and services.
Unspent levy is returned to the treasury to be re-invested into the nation."</p>
    <a class="button next">Next question</a>
</div>
        
<div class="error-summary">
    <h3 class="heading-medium">Incorrect</h3>
    <p>"It is not permitted to use levy credit to bribe or otherwise be used in exchange for cash or discounts for products and services.
Unspent levy is returned to the treasury to be re-invested into the nation."</p>
    <a class="button next">Next question</a>
</div>            
            </div>
        </div>
</section>
    
    <section  id="3" data-answer="1" class="question">
        <div class="grid-row">
            <div class="column-two-thirds">
 <div class="hgroup">
      <h1 class="heading-xlarge">
When would you not want to be in receipt of levy credit      </h1>
            
            <form>
                <div class="form-group">
                    <div class="multiple-choice">
                            <input id="q6" type="radio" name="radio-group" value="1">
                            <label for="q6">In part of a deal in a tender of services
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q7" type="radio" name="radio-group" value="2">
                            <label for="q7">When you have a shortfall of levy credit to fully fund an apprenticeship
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q8" type="radio" name="radio-group" value="3">
                            <label for="q8">When you do not pay the levy but can't afford the 10% co-investment payment
                            </label>
                    </div>
                </div>
                <button class="button submit">Submit answer</button>
            </form>
    </div>

            <div class="success-summary">
    <h3 class="heading-medium">Correct</h3>
    <p>It is not pemitted to use the levy in exchange for payment of something other than apprenticeship training.</p>
    <a class="button next">Next question</a>
</div>
        
<div class="error-summary">
    <h3 class="heading-medium">Incorrect</h3>
    <p>It is not pemitted to use the levy in exchange for payment of something other than apprenticeship training.</p>
    <a class="button next">Next question</a>
</div>            
            </div>
        </div>
</section>
    <section  id="4" data-answer="2" class="question">
        <div class="grid-row">
            <div class="column-two-thirds">
 <div class="hgroup">
      <h1 class="heading-xlarge">
You have to declare de minimis state aid when recieving a levy transfer because  </h1>
            
            <form>
                <div class="form-group">
                    <div class="multiple-choice">
                            <input id="q6" type="radio" name="radio-group" value="1">
                            <label for="q6">So government can control who recieves the money
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q7" type="radio" name="radio-group" value="2">
                            <label for="q7">Because the money is not considered freely available according the EU legislation
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q8" type="radio" name="radio-group" value="3">
                            <label for="q8">It allows large employers to offset their tax liability
                            </label>
                    </div>
                </div>
                <button class="button submit">Submit answer</button>
            </form>
    </div>

            <div class="success-summary">
    <h3 class="heading-medium">Correct</h3>
    <p>EU regulations designed to protect business from unfair government bias means any funding not available to other organisations freely must be declared and monitored.</p>
    <a class="button next">Next question</a>
</div>
        
<div class="error-summary">
    <h3 class="heading-medium">Incorrect</h3>
    <p>EU regulations designed to protect business from unfair government bias means any funding not available to other organisations freely must be declared and monitored.</p>
    <a class="button next">Next question</a>
</div>            
            </div>
        </div>
</section>
    <section  id="5" data-answer="2" class="question">
        <div class="grid-row">
            <div class="column-two-thirds">
 <div class="hgroup">
      <h1 class="heading-xlarge">
When is de minimis state aid not €300,000 over a 3 year period? </h1>
            
            <form>
                <div class="form-group">
                    <div class="multiple-choice">
                            <input id="q9" type="radio" name="radio-group" value="1">
                            <label for="q9">When the receiving organisation is a government organisation
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q10" type="radio" name="radio-group" value="2">
                            <label for="q10">When your organisation is in the Road Freight industry
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q11" type="radio" name="radio-group" value="3">
                            <label for="q11">When you have multiple connected companies each with thier own allowance
                            </label>
                    </div>
                </div>
                <button class="button submit">Submit answer</button>
            </form>
    </div>

            <div class="success-summary">
    <h3 class="heading-medium">Correct</h3>
    <p></p>
    <a class="button next">Next question</a>
</div>
        
<div class="error-summary">
    <h3 class="heading-medium">Incorrect</h3>
    <p></p>
    <a class="button next">Next question</a>
</div>            
            </div>
        </div>
</section>
    <section  id="6" data-answer="1" class="question">
        <div class="grid-row">
            <div class="column-two-thirds">
 <div class="hgroup">
      <h1 class="heading-xlarge">
Do you have to declare state aid from all sources or just apprenticeships </h1>
            
            <form>
                <div class="form-group">
                    <div class="multiple-choice">
                            <input id="q12" type="radio" name="radio-group" value="1">
                            <label for="q12">all sources
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q13" type="radio" name="radio-group" value="2">
                            <label for="q13">just apprenticeships
                            </label>
                    </div>
                </div>
                <button class="button submit">Submit answer</button>
            </form>
    </div>

            <div class="success-summary">
    <h3 class="heading-medium">Correct</h3>
    <p>State aid is not limited to the apprenticeship service, declarations must include state aid received from any source.</p>
    <a class="button next">Next question</a>
</div>
        
<div class="error-summary">
    <h3 class="heading-medium">Incorrect</h3>
    <p>State aid is not limited to the apprenticeship service, declarations must include state aid received from any source.</p>
    <a class="button next">Next question</a>
</div>            
            </div>
        </div>
</section>

</main><!-- / #content -->
{% endblock %}