{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="lesson" data-level="1" data-lesson="2" id="content" role="main" tabindex="-1">
    <header>
<div class="grid-row">
    <div class="column-two-thirds">
<div class="progress-wrap progress" data-progress-percent="10">
  <div class="progress-bar progress"></div>
</div>
        <p class="form-hint">Question <span class="current">1</span> of <span class="total">10</span></p>
    </div>
</div>
    </header>    

    <section  id="1" data-answer="2" class="question">
        <div class="grid-row">
            <div class="column-two-thirds">
 <div class="hgroup">
      <h1 class="heading-xlarge">
Which is the best description of an apprentice?
            </h1>
            
            <form>
                <div class="form-group">
                    <div class="multiple-choice">
                            <input id="q1" type="radio" name="radio-group" value="1">
                            <label for="q1">An 18 to 21 year old in work with on the job training
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q2" type="radio" name="radio-group" value="2">
                            <label for="q2">Any employee provided with on-the-job training and accompanying study
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q3" type="radio" name="radio-group" value="3">
                            <label for="q3">A school leaver continuing to study while also working
                            </label>
                    </div>
                </div>
                <button class="button submit">Submit answer</button>
            </form>
    </div>

            <div class="success-summary">
    <h3 class="heading-medium">Correct</h3>
    <p>Smaller organisations are supported</p>
    <a class="button next">Next question</a>
</div>
        
<div class="error-summary">
    <h3 class="heading-medium">Incorrect</h3>
    <p>Government believes it is important to support small organisations, including small charities, to take on apprentices.</p>
    <a class="button next">Next question</a>
</div>            
            </div>
        </div>
</section>
    
    <section  id="2" data-answer="2" class="question">
        <div class="grid-row">
            <div class="column-two-thirds">
 <div class="hgroup">
      <h1 class="heading-xlarge">
Can an apprentice be studying for two, or more, apprenticeships at the same time?
            </h1>
            
            <form>
                <div class="form-group">
                    <div class="multiple-choice">
                            <input id="q4" type="radio" name="radio-group" value="1">
                            <label for="q4">Yes
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q5" type="radio" name="radio-group" value="2">
                            <label for="q5">No
                            </label>
                    </div>
                </div>
                <button class="button submit">Submit answer</button>
            </form>
    </div>

            <div class="success-summary">
    <h3 class="heading-medium">Correct</h3>
    <p>An apprentice can only be on one apprenticeship at any given time. They can however change apprenticeship by stopping the current one.</p>
    <a class="button next">Next question</a>
</div>
        
<div class="error-summary">
    <h3 class="heading-medium">Incorrect</h3>
    <p>Apprentices must only be on a single course at any given time.</p>
    <a class="button next">Next question</a>
</div>            
            </div>
        </div>
</section>
    
    <section  id="3" data-answer="3" class="question">
        <div class="grid-row">
            <div class="column-two-thirds">
 <div class="hgroup">
      <h1 class="heading-xlarge">
        Apprentices to recieve funding must legally do what    
      </h1>
            
            <form>
                <div class="form-group">
                    <div class="multiple-choice">
                            <input id="q6" type="radio" name="radio-group" value="1">
                            <label for="q6">Complete a series of recorded milestones
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q7" type="radio" name="radio-group" value="2">
                            <label for="q8">Be assessed by an independent training assessor
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q9" type="radio" name="radio-group" value="3">
                            <label for="q9">Spend at least 20% of their time in off the job training
                            </label>
                    </div>
                </div>
                <button class="button submit">Submit answer</button>
            </form>
    </div>

            <div class="success-summary">
    <h3 class="heading-medium">Correct</h3>
    <p>HMRC can only check people's location by their home address and thus why the percentage is calculated against this address.</p>
    <a class="button next">Next question</a>
</div>
        
<div class="error-summary">
    <h3 class="heading-medium">Incorrect</h3>
    <p>HMRC have access to employees home address through your PAYE, they use this to determine who is in the English %</p>
    <a class="button next">Next question</a>
</div>            
            </div>
        </div>
</section>
    <section  id="4" data-answer="3" class="question">
        <div class="grid-row">
            <div class="column-two-thirds">
 <div class="hgroup">
      <h1 class="heading-xlarge">
You must have an agreement in place with whom to receive funding from the ESFA      </h1>
            
            <form>
                <div class="form-group">
                    <div class="multiple-choice">
                            <input id="q10" type="radio" name="radio-group" value="1">
                            <label for="q10">The apprentice and the training provider
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q11" type="radio" name="radio-group" value="2">
                            <label for="q11">The training provider
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q12" type="radio" name="radio-group" value="3">
                            <label for="q12">The ESFA, Training provider and the apprentice
                            </label>
                    </div>
                </div>
                <button class="button submit">Submit answer</button>
            </form>
    </div>

            <div class="success-summary">
    <h3 class="heading-medium">Correct</h3>
    <p>All 3 stakeholders must hold a valid agreement with you that outlines the apprenticeship and your commitment to it.</p>
    <a class="button next">Next question</a>
</div>
        
<div class="error-summary">
    <h3 class="heading-medium">Incorrect</h3>
    <p>All 3 stakeholders must hold a valid agreement with you that outlines the apprenticeship and your commitment to it.</p>
    <a class="button next">Next question</a>
</div>            
            </div>
        </div>
</section>
    <section  id="5" data-answer="2" class="question">
        <div class="grid-row">
            <div class="column-two-thirds">
 <div class="hgroup">
      <h1 class="heading-xlarge">
How many apprentices can an employer have  </h1>
            
            <form>
                <div class="form-group">
                    <div class="multiple-choice">
                            <input id="q13" type="radio" name="radio-group" value="1">
                            <label for="q13">up to 10% of their annual wage bill
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q14" type="radio" name="radio-group" value="2">
                            <label for="q14">no limit
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q15" type="radio" name="radio-group" value="3">
                            <label for="q15">10,000 or 25% of thier workforce whichever is smaller
                            </label>
                    </div>
                </div>
                <button class="button submit">Submit answer</button>
            </form>
    </div>

            <div class="success-summary">
    <h3 class="heading-medium">Correct</h3>
    <p>There is no limit to the number of apprenticeships an organisation can have funded.</p>
    <a class="button next">Next question</a>
</div>
        
<div class="error-summary">
    <h3 class="heading-medium">Incorrect</h3>
    <p>There is no limit to the number of apprenticeships an organisation can have funded.</p>
    <a class="button next">Next question</a>
</div>            
            </div>
        </div>
</section>

</main><!-- / #content -->
{% endblock %}