{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="lesson" data-level="7" data-lesson="2" id="content" role="main" tabindex="-1">
    <header>
<div class="grid-row">
    <div class="column-two-thirds">
<div class="progress-wrap progress" data-progress-percent="10">
  <div class="progress-bar progress"></div>
</div>
        <p class="form-hint">Question <span class="current">1</span> of <span class="total">10</span></p>
    </div>
</div>
    </header>    

    <section  id="1" data-answer="2" class="question">
        <div class="grid-row">
            <div class="column-two-thirds">
 <div class="hgroup">
      <h1 class="heading-xlarge">
The public sector apprenticeship target applies to            </h1>
            
            <form>
                <div class="form-group">
                    <div class="multiple-choice">
                            <input id="q1" type="radio" name="radio-group" value="1">
                            <label for="q1">TfL
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q2" type="radio" name="radio-group" value="2">
                            <label for="q2">TfL and it's subsiduaries
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q3" type="radio" name="radio-group" value="3">
                            <label for="q3">Tfl and it's sub-contractor organisations
                            </label>
                    </div>
                </div>
                <button class="button submit">Submit answer</button>
            </form>
    </div>

            <div class="success-summary">
    <h3 class="heading-medium">Correct</h3>
    <p> </p>
    <a class="button next">Next question</a>
</div>
        
<div class="error-summary">
    <h3 class="heading-medium">Incorrect</h3>
    <p> </p>
    <a class="button next">Next question</a>
</div>            
            </div>
        </div>
</section>
    
    <section  id="2" data-answer="3" class="question">
        <div class="grid-row">
            <div class="column-two-thirds">
 <div class="hgroup">
      <h1 class="heading-xlarge">
Can an EU citizin be placed on an apprenticeship            </h1>
            
            <form>
                <div class="form-group">
                    <div class="multiple-choice">
                            <input id="q4" type="radio" name="radio-group" value="1">
                            <label for="q4">only if they have a student visa granted for the duration of the apprenticeship's typical duration or more.
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q5" type="radio" name="radio-group" value="2">
                            <label for="q5">only if they have a british passport and conform to the apprentice requirements
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q6" type="radio" name="radio-group" value="3">
                            <label for="q6">any EU citizine who qualifys under the normal rules can be an apprenitce
                            </label>
                    </div>
                </div>
                <button class="button submit">Submit answer</button>
            </form>
    </div>

            <div class="success-summary">
    <h3 class="heading-medium">Correct</h3>
    <p></p>
    <a class="button next">Next question</a>
</div>
        
<div class="error-summary">
    <h3 class="heading-medium">Incorrect</h3>
    <p></p>
    <a class="button next">Next question</a>
</div>            
            </div>
        </div>
</section>
    

</main><!-- / #content -->
{% endblock %}