{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="lesson" data-level="6" data-lesson="2" id="content" role="main" tabindex="-1">
    <header>
<div class="grid-row">
    <div class="column-two-thirds">
<div class="progress-wrap progress" data-progress-percent="10">
  <div class="progress-bar progress"></div>
</div>
        <p class="form-hint">Question <span class="current">1</span> of <span class="total">10</span></p>
    </div>
</div>
    </header>    
No lessons yet
</main><!-- / #content -->
{% endblock %}