{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="lesson" data-level="1" data-lesson="3" id="content" role="main" tabindex="-1">
    <header>
<div class="grid-row">
    <div class="column-two-thirds">
<div class="progress-wrap progress" data-progress-percent="10">
  <div class="progress-bar progress"></div>
</div>
        <p class="form-hint">Question <span class="current">1</span> of <span class="total">10</span></p>
    </div>
</div>
    </header>    

    <section  id="1" data-answer="1" class="question">
        <div class="grid-row">
            <div class="column-two-thirds">
 <div class="hgroup">
      <h1 class="heading-xlarge">
        How much funding can you receive for a band 6 apprenticeship  
      </h1>
            
            <form>
                <div class="form-group">
                    <div class="multiple-choice">
                            <input id="q1" type="radio" name="radio-group" value="1">
                            <label for="q1">£21,000 - £27,000 + qualifying additional incentive payments
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q2" type="radio" name="radio-group" value="2">
                            <label for="q2">£6,000 per term
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q3" type="radio" name="radio-group" value="3">
                            <label for="q3">As much as the training provider requests
                            </label>
                    </div>
                </div>
                <button class="button submit">Submit answer</button>
            </form>
    </div>

            <div class="success-summary">
    <h3 class="heading-medium">Correct</h3>
    <p>The maximum any band 6 apprenticeship can currently receive is XXX but some band 6 have a lower maximum</p>
    <a class="button next">Next question</a>
</div>
        
<div class="error-summary">
    <h3 class="heading-medium">Incorrect</h3>
    <p>HMRC have access to employees home address through your PAYE, they use this to determine who is in the English %</p>
    <a class="button next">Next question</a>
</div>            
            </div>
        </div>
</section>
    
    <section  id="2" data-answer="1" class="question">
        <div class="grid-row">
            <div class="column-two-thirds">
 <div class="hgroup">
      <h1 class="heading-xlarge">
Does the government offer any form of funding to employers?      </h1>
            
            <form>
                <div class="form-group">
                    <div class="multiple-choice">
                            <input id="q4" type="radio" name="radio-group" value="1">
                            <label for="q4">Yes
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q5" type="radio" name="radio-group" value="2">
                            <label for="q5">No
                            </label>
                    </div>
                </div>
                <button class="button submit">Submit answer</button>
            </form>
    </div>

            <div class="success-summary">
    <h3 class="heading-medium">Correct</h3>
    <p>Yes there are several different funding methods available for approved apprenticeship training. The type you can get will depend on your circumstances.</p>
    <a class="button next">Next question</a>
</div>
        
<div class="error-summary">
    <h3 class="heading-medium">Incorrect</h3>
    <p>Yes there are several different funding methods available for approved apprenticeship training. The type you can get will depend on your circumstances.</p>
    <a class="button next">Next question</a>
</div>            
            </div>
        </div>
</section>
    <section  id="3" data-answer="3" class="question">
        <div class="grid-row">
            <div class="column-two-thirds">
 <div class="hgroup">
      <h1 class="heading-xlarge">
What is the maximum age of an apprentice?  </h1>
            
            <form>
                <div class="form-group">
                    <div class="multiple-choice">
                            <input id="q6" type="radio" name="radio-group" value="1">
                            <label for="q6">21 years old
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q7" type="radio" name="radio-group" value="2">
                            <label for="q7">18 years old
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q8" type="radio" name="radio-group" value="3">
                            <label for="q8">no upper limit
                            </label>
                    </div>
                </div>
                <button class="button submit">Submit answer</button>
            </form>
    </div>

            <div class="success-summary">
    <h3 class="heading-medium">Correct</h3>
    <p>Yes there are several different funding methods available for approved apprenticeship training. The type you can get will depend on your circumstances.</p>
    <a class="button next">Next question</a>
</div>
        
<div class="error-summary">
    <h3 class="heading-medium">Incorrect</h3>
    <p>Yes there are several different funding methods available for approved apprenticeship training. The type you can get will depend on your circumstances.</p>
    <a class="button next">Next question</a>
</div>            
            </div>
        </div>
</section>
    <section  id="4" data-answer="2" class="question">
        <div class="grid-row">
            <div class="column-two-thirds">
 <div class="hgroup">
      <h1 class="heading-xlarge">
To receive funding in England an apprentice must </h1>
            
            <form>
                <div class="form-group">
                    <div class="multiple-choice">
                            <input id="q9" type="radio" name="radio-group" value="1">
                            <label for="q9">Be a British citizen
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q10" type="radio" name="radio-group" value="2">
                            <label for="q10">Live in England
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q11" type="radio" name="radio-group" value="3">
                            <label for="q11">Be an EU national
                            </label>
                    </div>
                </div>
                <button class="button submit">Submit answer</button>
            </form>
    </div>

            <div class="success-summary">
    <h3 class="heading-medium">Correct</h3>
    <p>Apprentices must live in Englad at the time of applying for an apprenticeship</p>
    <a class="button next">Next question</a>
</div>
        
<div class="error-summary">
    <h3 class="heading-medium">Incorrect</h3>
    <p>Apprentices must live in Englad at the time of applying for an apprenticeship</p>
    <a class="button next">Next question</a>
</div>            
            </div>
        </div>
</section>
    <section  id="5" data-answer="1" class="question">
        <div class="grid-row">
            <div class="column-two-thirds">
 <div class="hgroup">
      <h1 class="heading-xlarge">
True or false, can an apprentice enroll in an apprenticeship if they are already in some form of education? </h1>
            
            <form>
                <div class="form-group">
                    <div class="multiple-choice">
                            <input id="q12" type="radio" name="radio-group" value="1">
                            <label for="q12">True
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q13" type="radio" name="radio-group" value="2">
                            <label for="q13">False
                            </label>
                    </div>
                </div>
                <button class="button submit">Submit answer</button>
            </form>
    </div>

            <div class="success-summary">
    <h3 class="heading-medium">Correct</h3>
    <p>As long as the education is not full time employees can enter into an apprenticeship. An apprenticeship is however a full time commitment and it would be advised they manage their learning commitments.</p>
    <a class="button next">Next question</a>
</div>
        
<div class="error-summary">
    <h3 class="heading-medium">Incorrect</h3>
    <p>As long as the education is not full time employees can enter into an apprenticeship. An apprenticeship is however a full time commitment and it would be advised they manage their learning commitments.</p>
    <a class="button next">Next question</a>
</div>            
            </div>
        </div>
</section>
    <section  id="6" data-answer="1" class="question">
        <div class="grid-row">
            <div class="column-two-thirds">
 <div class="hgroup">
      <h1 class="heading-xlarge">
What is the apprenticeship levy</h1>
            
            <form>
                <div class="form-group">
                    <div class="multiple-choice">
                            <input id="q14" type="radio" name="radio-group" value="1">
                            <label for="q14">An employer 0.5% deducation from an organisations monthly PAYE paybill if annually the paybill grosses over £3,000,000
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q15" type="radio" name="radio-group" value="2">
                            <label for="q15">An employee deduction of 10% of their salary for the duration of their apprenticeship
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q16" type="radio" name="radio-group" value="3">
                            <label for="q16">1% of an organisation's payroll split over 12months with an allowance of £35,000
                            </label>
                    </div>
                </div>
                <button class="button submit">Submit answer</button>
            </form>
    </div>

            <div class="success-summary">
    <h3 class="heading-medium">Correct</h3>
    <p>All employers are subject to the apprenticeship levy but only those with an annual paybill exceeding £3,000,000 will need to pay the levy. </p>
    <a class="button next">Next question</a>
</div>
        
<div class="error-summary">
    <h3 class="heading-medium">Incorrect</h3>
    <p>All employers are subject to the apprenticeship levy but only those with an annual paybill exceeding £3,000,000 will need to pay the levy. </p>
    <a class="button next">Next question</a>
</div>            
            </div>
        </div>
</section>

    <section  id="7" data-answer="1" class="question">
        <div class="grid-row">
            <div class="column-two-thirds">
 <div class="hgroup">
      <h1 class="heading-xlarge">
What can be funded by the government</h1>
            
            <form>
                <div class="form-group">
                    <div class="multiple-choice">
                            <input id="q17" type="radio" name="radio-group" value="1">
                            <label for="q17">Registration and examination (including certification) costs associated with mandatory qualifications excluding any licence to practise
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q18" type="radio" name="radio-group" value="2">
                            <label for="q18">Enrolment, induction, prior assessment, initial diagnostic testing or similar activity
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q19" type="radio" name="radio-group" value="3">
                            <label for="q19">End point assessment costs incurred by the training provider but not included in the price agreed between the employer and the apprentice assessment organisation
                            </label>
                    </div>
                </div>
                <button class="button submit">Submit answer</button>
            </form>
    </div>

            <div class="success-summary">
    <h3 class="heading-medium">Correct</h3>
    <p>Required registrations and examinations to compelte the end point assessment can be included in the cost of the apprenticeship agreed with your provider. Resits and additional training can not be included in the government's funding amount. </p>
    <a class="button next">Next question</a>
</div>
        
<div class="error-summary">
    <h3 class="heading-medium">Incorrect</h3>
    <p>Required registrations and examinations to compelte the end point assessment can be included in the cost of the apprenticeship agreed with your provider. Resits and additional training can not be included in the government's funding amount. </p>
    <a class="button next">Next question</a>
</div>            
            </div>
        </div>
</section>
    <section  id="8" data-answer="2" class="question">
        <div class="grid-row">
            <div class="column-two-thirds">
 <div class="hgroup">
      <h1 class="heading-xlarge">
If the training provider quotes more than the funding cap who is liable?</h1>
            
            <form>
                <div class="form-group">
                    <div class="multiple-choice">
                            <input id="q20" type="radio" name="radio-group" value="1">
                            <label for="q20">The apprentice
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q21" type="radio" name="radio-group" value="2">
                            <label for="q21">The employer
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q22" type="radio" name="radio-group" value="3">
                            <label for="q22">The employer can request additional funding via a busury application.
                            </label>
                    </div>
                </div>
                <button class="button submit">Submit answer</button>
            </form>
    </div>

            <div class="success-summary">
    <h3 class="heading-medium">Correct</h3>
    <p>Any costs over the funding band maximum are directly the liability of the employer. </p>
    <a class="button next">Next question</a>
</div>
        
<div class="error-summary">
    <h3 class="heading-medium">Incorrect</h3>
    <p>Any costs over the funding band maximum are directly the liability of the employer. </p>
    <a class="button next">Next question</a>
</div>            
            </div>
        </div>
</section>


</main><!-- / #content -->
{% endblock %}