{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="lesson" data-level="6" data-lesson="3" id="content" role="main" tabindex="-1">
    <header>
<div class="grid-row">
    <div class="column-two-thirds">
<div class="progress-wrap progress" data-progress-percent="10">
  <div class="progress-bar progress"></div>
</div>
        <p class="form-hint">Question <span class="current">1</span> of <span class="total">10</span></p>
    </div>
</div>
    </header>    

    <section  id="1" data-answer="2" class="question">
        <div class="grid-row">
            <div class="column-two-thirds">
 <div class="hgroup">
      <h1 class="heading-xlarge">
How many connected companies can be in an apprenticeship account?            </h1>
            
            <form>
                <div class="form-group">
                    <div class="multiple-choice">
                            <input id="q1" type="radio" name="radio-group" value="1">
                            <label for="q1">connected companies can not share apprenticeship accuonts
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q2" type="radio" name="radio-group" value="2">
                            <label for="q2">unlimited
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q3" type="radio" name="radio-group" value="3">
                            <label for="q3">up to 50
                            </label>
                    </div>
                </div>
                <button class="button submit">Submit answer</button>
            </form>
    </div>

            <div class="success-summary">
    <h3 class="heading-medium">Correct</h3>
    <p>There is no limit to the number of connected companies that can appear in your account.</p>
    <a class="button next">Next question</a>
</div>
        
<div class="error-summary">
    <h3 class="heading-medium">Incorrect</h3>
    <p>There is no limit to the number of connected companies that can appear in your account.</p>
    <a class="button next">Next question</a>
</div>            
            </div>
        </div>
</section>
        <section  id="2" data-answer="2" class="question">
        <div class="grid-row">
            <div class="column-two-thirds">
 <div class="hgroup">
      <h1 class="heading-xlarge">
Can public sector companies be connected in the apprenticeship account?      </h1>
            
            <form>
                <div class="form-group">
                    <div class="multiple-choice">
                            <input id="q4" type="radio" name="radio-group" value="1">
                            <label for="q4">Always
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q5" type="radio" name="radio-group" value="2">
                            <label for="q5">Sometimes
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q6" type="radio" name="radio-group" value="3">
                            <label for="q6">Never
                            </label>
                    </div>
                </div>
                <button class="button submit">Submit answer</button>
            </form>
    </div>

            <div class="success-summary">
    <h3 class="heading-medium">Correct</h3>
    <p>Most public sector organisations can not be in the same account, the service will not allow it by default. To add a second public sector organisation you must contact ESFA to manually add it.</p>
    <a class="button next">Next question</a>
</div>
        
<div class="error-summary">
    <h3 class="heading-medium">Incorrect</h3>
    <p>Most public sector organisations can not be in the same account, the service will not allow it by default. To add a second public sector organisation you must contact ESFA to manually add it.</p>
    <a class="button next">Next question</a>
</div>            
            </div>
        </div>
</section>
        <section  id="3" data-answer="2" class="question">
        <div class="grid-row">
            <div class="column-two-thirds">
 <div class="hgroup">
      <h1 class="heading-xlarge">
How much of a controlling stake does an organisation need in another to deem it a connected company</h1>
            
            <form>
                <div class="form-group">
                    <div class="multiple-choice">
                            <input id="q7" type="radio" name="radio-group" value="1">
                            <label for="q7">51% or a controlling stake on the board
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q8" type="radio" name="radio-group" value="2">
                            <label for="q8">51%
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q9" type="radio" name="radio-group" value="3">
                            <label for="q9">100% share ownership
                            </label>
                    </div>
                </div>
                <button class="button submit">Submit answer</button>
            </form>
    </div>

            <div class="success-summary">
    <h3 class="heading-medium">Correct</h3>
    <p>The rules around connected companies can be complex but as a rule of thumb if your organisation owns 51% or more shares in the organisation you are connected, likewise if the majority of control at a board level is by board members in your organisation you are connected. E.g. If your Chief Financial Officer sits on your board but also has another company he runs with a partner then that organisation despite not working directly with you would still be deemed a connected company by virtue that your CFO has a controlling stake in it.</p>
    <a class="button next">Next question</a>
</div>
        
<div class="error-summary">
    <h3 class="heading-medium">Incorrect</h3>
    <p>The rules around connected companies can be complex but as a rule of thumb if your organisation owns 51% or more shares in the organisation you are connected, likewise if the majority of control at a board level is by board members in your organisation you are connected. E.g. If your Chief Financial Officer sits on your board but also has another company he runs with a partner then that organisation despite not working directly with you would still be deemed a connected company by virtue that your CFO has a controlling stake in it.</p>
    <a class="button next">Next question</a>
</div>            
            </div>
        </div>
</section>
</main><!-- / #content -->
{% endblock %}