{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="lesson" data-level="3" data-lesson="2" id="content" role="main" tabindex="-1">
    <header>
<div class="grid-row">
    <div class="column-two-thirds">
<div class="progress-wrap progress" data-progress-percent="10">
  <div class="progress-bar progress"></div>
</div>
        <p class="form-hint">Question <span class="current">1</span> of <span class="total">10</span></p>
    </div>
</div>
    </header>    

    <section  id="1" data-answer="3" class="question">
        <div class="grid-row">
            <div class="column-two-thirds">
 <div class="hgroup">
      <h1 class="heading-xlarge">
Will the Government fund re-sits for apprentices            </h1>
            
            <form>
                <div class="form-group">
                    <div class="multiple-choice">
                            <input id="q1" type="radio" name="radio-group" value="1">
                            <label for="q1">In all circumstances
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q2" type="radio" name="radio-group" value="2">
                            <label for="q2">When the re-sit is mandatory to complete the apprenticeship
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q3" type="radio" name="radio-group" value="3">
                            <label for="q3">Under no circumstances
                            </label>
                    </div>
                </div>
                <button class="button submit">Submit answer</button>
            </form>
    </div>

            <div class="success-summary">
    <h3 class="heading-medium">Correct</h3>
    <p>The government does not fund re-sits for apprentices failing any part of the apprenticeship training.</p>
    <a class="button next">Next question</a>
</div>
        
<div class="error-summary">
    <h3 class="heading-medium">Incorrect</h3>
    <p>The government does not fund re-sits for apprentices failing any part of the apprenticeship training.</p>
    <a class="button next">Next question</a>
</div>            
            </div>
        </div>
</section>
    
    <section  id="2" data-answer="1" class="question">
        <div class="grid-row">
            <div class="column-two-thirds">
 <div class="hgroup">
      <h1 class="heading-xlarge">
You can receive additinal payments when            </h1>
            
            <form>
                <div class="form-group">
                    <div class="multiple-choice">
                            <input id="q4" type="radio" name="radio-group" value="1">
                            <label for="q4">"if at the start of the apprenticeship your apprentice is aged between 16 and 18 years old (or 15 years of age if the apprentice’s 16th
birthday is between the last Friday of June and 31 August)
"
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q5" type="radio" name="radio-group" value="2">
                            <label for="q5">if at the start of the apprenticeship your apprentice is aged over 16 years old (or 15 years of age if the apprentice’s 16th birthday is between the last Friday of June and 31 August) and qualifies for universal credit
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q6" type="radio" name="radio-group" value="3">
                            <label for="q6">"if at the start of the apprenticeship your apprentice is aged between 16 and 18 years old, has UCAS credits below 3,500 and eligible for supported learning benfits.
"
                            </label>
                    </div>
                </div>
                <button class="button submit">Submit answer</button>
            </form>
    </div>

            <div class="success-summary">
    <h3 class="heading-medium">Correct</h3>
    <p>An apprentice can only be on one apprenticeship at any given time. They can however change apprenticeship by stopping the current one.</p>
    <a class="button next">Next question</a>
</div>
        
<div class="error-summary">
    <h3 class="heading-medium">Incorrect</h3>
    <p>Apprentices must only be on a single course at any given time.</p>
    <a class="button next">Next question</a>
</div>            
            </div>
        </div>
</section>
    
    <section  id="3" data-answer="3" class="question">
        <div class="grid-row">
            <div class="column-two-thirds">
 <div class="hgroup">
      <h1 class="heading-xlarge">
How long does the training provider have to pass on any incentive payments it receives?      </h1>
            
            <form>
                <div class="form-group">
                    <div class="multiple-choice">
                            <input id="q7" type="radio" name="radio-group" value="1">
                            <label for="q7">It does not have to pass on the incentive payments
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q8" type="radio" name="radio-group" value="2">
                            <label for="q8">Within 1 calendar month
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q9" type="radio" name="radio-group" value="3">
                            <label for="q9">Within 30 days of receipt of the additional payment
                            </label>
                    </div>
                </div>
                <button class="button submit">Submit answer</button>
            </form>
    </div>

            <div class="success-summary">
    <h3 class="heading-medium">Correct</h3>
    <p>Training providers have 30 days to forward on incentive payments from the point at which they are transferred the payment from the ESFA.</p>
    <a class="button next">Next question</a>
</div>
        
<div class="error-summary">
    <h3 class="heading-medium">Incorrect</h3>
    <p>Training providers have 30 days to forward on incentive payments from the point at which they are transferred the payment from the ESFA.</p>
    <a class="button next">Next question</a>
</div>            
            </div>
        </div>
</section>
    <section  id="4" data-answer="1" class="question">
        <div class="grid-row">
            <div class="column-two-thirds">
 <div class="hgroup">
      <h1 class="heading-xlarge">
When would a training provider receive an additional 20% of the funding band maximum allowance?   </h1>
            
            <form>
                <div class="form-group">
                    <div class="multiple-choice">
                            <input id="q10" type="radio" name="radio-group" value="1">
                            <label for="q10">if the apprentice is aged between 16 and 18 which must only be used to fund the eligible costs until 2018
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q11" type="radio" name="radio-group" value="2">
                            <label for="q11">If the apprentice is on an apprenticeship standard
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q12" type="radio" name="radio-group" value="3">
                            <label for="q12">If the apprentice lives in an area desingated as deprived area postcode.
                            </label>
                    </div>
                </div>
                <button class="button submit">Submit answer</button>
            </form>
    </div>

            <div class="success-summary">
    <h3 class="heading-medium">Correct</h3>
    <p>The government offers incentive payments for organisations operating in deprived areas to support the development of talent there.</p>
    <a class="button next">Next question</a>
</div>
        
<div class="error-summary">
    <h3 class="heading-medium">Incorrect</h3>
    <p>The government offers incentive payments for organisations operating in deprived areas to support the development of talent there.</p>
    <a class="button next">Next question</a>
</div>            
            </div>
        </div>
</section>

    <section  id="5" data-answer="3" class="question">
        <div class="grid-row">
            <div class="column-two-thirds">
 <div class="hgroup">
      <h1 class="heading-xlarge">
How is an additional payment made </h1>
            
            <form>
                <div class="form-group">
                    <div class="multiple-choice">
                            <input id="q13" type="radio" name="radio-group" value="1">
                            <label for="q13">To your digital account once the apprentice has been added and approved by the training provider.
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q14" type="radio" name="radio-group" value="2">
                            <label for="q14">50% after 90 days of the apprenticeship start to the training provider and 50% to you after the apprentice completes the end point assessment
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q15" type="radio" name="radio-group" value="3">
                            <label for="q15">The training provider will recieve half the additional payment after 90 days followed by the remaining 50% after 365 days the apprentice has been on the apprenticeship
                            </label>
                    </div>
                </div>
                <button class="button submit">Submit answer</button>
            </form>
    </div>

            <div class="success-summary">
    <h3 class="heading-medium">Correct</h3>
    <p>The government breaks apart additional payments to encourage apprenticeships to start and complete rather than up front or all at the end.</p>
    <a class="button next">Next question</a>
</div>
        
<div class="error-summary">
    <h3 class="heading-medium">Incorrect</h3>
    <p>The government breaks apart additional payments to encourage apprenticeships to start and complete rather than up front or all at the end.</p>
    <a class="button next">Next question</a>
</div>            
            </div>
        </div>
</section>

    <section  id="6" data-answer="1" class="question">
        <div class="grid-row">
            <div class="column-two-thirds">
 <div class="hgroup">
      <h1 class="heading-xlarge">
Can you get funding for an unpaid apprenticeship?</h1>
            
            <form>
                <div class="form-group">
                    <div class="multiple-choice">
                            <input id="q16" type="radio" name="radio-group" value="1">
                            <label for="q16">No
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q17" type="radio" name="radio-group" value="2">
                            <label for="q17">Yes
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q18" type="radio" name="radio-group" value="3">
                            <label for="q18">Yes, but expenses must be made out of pocket
                            </label>
                    </div>
                </div>
                <button class="button submit">Submit answer</button>
            </form>
    </div>

            <div class="success-summary">
    <h3 class="heading-medium">Correct</h3>
    <p>The government will not fund an apprentice who is not paid the apprenticeship wage.</p>
    <a class="button next">Next question</a>
</div>
        
<div class="error-summary">
    <h3 class="heading-medium">Incorrect</h3>
    <p>The government will not fund an apprentice who is not paid the apprenticeship wage.</p>
    <a class="button next">Next question</a>
</div>            
            </div>
        </div>
</section>
    <section  id="7" data-answer="2" class="question">
        <div class="grid-row">
            <div class="column-two-thirds">
 <div class="hgroup">
      <h1 class="heading-xlarge">
The 20% completion payment is designed to what?</h1>
            
            <form>
                <div class="form-group">
                    <div class="multiple-choice">
                            <input id="q19" type="radio" name="radio-group" value="1">
                            <label for="q19">Cover the cost of end point assessment
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q20" type="radio" name="radio-group" value="2">
                            <label for="q20">Encourage the training provider to progress apprentices to the end of the course
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q21" type="radio" name="radio-group" value="3">
                            <label for="q21">To manage budget in the ESFA
                            </label>
                    </div>
                </div>
                <button class="button submit">Submit answer</button>
            </form>
    </div>

            <div class="success-summary">
    <h3 class="heading-medium">Correct</h3>
    <p>The government wants to maximise the number of apprentices completing apprenticeships and holding back a chunk of the money a training provider gets is one mechanism designed to help this.</p>
    <a class="button next">Next question</a>
</div>
        
<div class="error-summary">
    <h3 class="heading-medium">Incorrect</h3>
    <p>The government wants to maximise the number of apprentices completing apprenticeships and holding back a chunk of the money a training provider gets is one mechanism designed to help this.</p>
    <a class="button next">Next question</a>
</div>            
            </div>
        </div>
</section>

</main><!-- / #content -->
{% endblock %}