{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="lesson" data-level="2" data-lesson="3" id="content" role="main" tabindex="-1">
    <header>
<div class="grid-row">
    <div class="column-two-thirds">
<div class="progress-wrap progress" data-progress-percent="10">
  <div class="progress-bar progress"></div>
</div>
        <p class="form-hint">Question <span class="current">1</span> of <span class="total">10</span></p>
    </div>
</div>
    </header>    

    <section  id="1" data-answer="3" class="question">
        <div class="grid-row">
            <div class="column-two-thirds">
 <div class="hgroup">
      <h1 class="heading-xlarge">
In your training provider agreement it must stipulate what            </h1>
            
            <form>
                <div class="form-group">
                    <div class="multiple-choice">
                            <input id="q1" type="radio" name="radio-group" value="1">
                            <label for="q1">Where the training will be delivered
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q2" type="radio" name="radio-group" value="2">
                            <label for="q2">To who they will be delivering the training to
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q3" type="radio" name="radio-group" value="3">
                            <label for="q3">The amount of funding they will retain for their direct delivery
                            </label>
                    </div>
                </div>
                <button class="button submit">Submit answer</button>
            </form>
    </div>

            <div class="success-summary">
    <h3 class="heading-medium">Correct</h3>
    <p>The training provider agreement does not need to include specifics about how the programme will be delivered logistically only how it will be funded and the costs involved. This includes information about sub-contractors.</p>
    <a class="button next">Next question</a>
</div>
        
<div class="error-summary">
    <h3 class="heading-medium">Incorrect</h3>
    <p>The training provider agreement does not need to include specifics about how the programme will be delivered logistically only how it will be funded and the costs involved. This includes information about sub-contractors.</p>
    <a class="button next">Next question</a>
</div>            
            </div>
        </div>
</section>
    
    <section  id="2" data-answer="2" class="question">
        <div class="grid-row">
            <div class="column-two-thirds">
 <div class="hgroup">
      <h1 class="heading-xlarge">
What is block training            </h1>
            
            <form>
                <div class="form-group">
                    <div class="multiple-choice">
                            <input id="q4" type="radio" name="radio-group" value="1">
                            <label for="q4">A type of training where apprentices go to buildings known as blocks to study
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q5" type="radio" name="radio-group" value="2">
                            <label for="q5">where training is delivered in one lump at the training provider's site
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="q6" type="radio" name="radio-group" value="3">
                            <label for="q6">training that is split into small blocks that apprentices must add together to build a complete apprenticeship
                            </label>
                    </div>
                </div>
                <button class="button submit">Submit answer</button>
            </form>
    </div>

            <div class="success-summary">
    <h3 class="heading-medium">Correct</h3>
    <p>Block training is usually found in roles where health and safety are crticial or a base knowledge is required at the begining of an apprenticeship.</p>
    <a class="button next">Next question</a>
</div>
        
<div class="error-summary">
    <h3 class="heading-medium">Incorrect</h3>
    <p>Block training is usually found in roles where health and safety are crticial or a base knowledge is required at the begining of an apprenticeship.</p>
    <a class="button next">Next question</a>
</div>            
            </div>
        </div>
</section>


</main><!-- / #content -->
{% endblock %}