{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="agreement-start" id="content" role="main" tabindex="-1">
    {% include "includes/link-back.html" %}

    
    
<div class="grid-row" id="publication-banner">
        <div class="column-third">
            <div class="logo">
    <h1><span class="organisation-logo organisation-logo-stacked-single-identity organisation-logo-stacked-single-identity-large"><span>Education and Skills Funding Agency</span></span></h1>

  </div>
        </div>
        <div class="column-two-thirds">
                                <aside style="float: right; text-align: right;">
            <ul>
                <li><a href="#">View the full agreement</a></li>
            </ul>
        </aside></div>
    </div>

    
<article id="draftContract" class="html-publications-show">

            <header class="publication-header" id="contents">
<div class="inner-block floated-children">
<div class="headings">
<p class="document-type">About your legal agreement</p>
<h1>Apprenticeship funding: <br>what you need to know

</h1>
    <p class="lede">A brief introduction to this help about the agreement</p>
<p>Updated <time class="published-at date" datetime="2016-08-12T09:34:04+01:00">31 January 2017</time></p>
</div>
</div>
</header>
    
    <div class="grid-row">
        <div class="column-two-thirds">
        
        </div>
    </div>
    
    <h3 class="heading-medium">Funding</h3>
    <div class="js-hidden" data-module="accordion-with-descriptions">
    <div class="subsection-wrapper">
        <div class="subsection js-subsection">
            <div class="subsection__header">
                <h2 class="subsection__title">What are my obligations?</h2>
            </div>
            <div class="subsection__content js-subsection-content" id="subsection_content_0">
                <ul class="subsection__list">
                    <li class="subsection__list-item">
                         <a href="#1">List item one</a>
                    </li>
                    <li class="subsection__list-item">
                         <a href="#1">List item two</a>
                    </li>                      
                </ul>
            </div>
        </div>
        <div class="subsection js-subsection">
            <div class="subsection__header">
                <h2 class="subsection__title">What is co-investment?</h2>
            </div>
            <div class="subsection__content js-subsection-content" id="subsection_content_1">
                <ul class="subsection__list">
                    <li class="subsection__list-item">
                         <a href="#1">List item one</a>
                    </li>
                    <li class="subsection__list-item">
                         <a href="#1">List item two</a>
                    </li>                      
                </ul>
            </div>
        </div>
    </div>
</div>
    
    <h3 class="heading-medium">Information</h3>
    <div class="js-hidden" data-module="accordion-with-descriptions">
    <div class="subsection-wrapper">
        <div class="subsection js-subsection">
            <div class="subsection__header">
                <h2 class="subsection__title">What information may be asked to have?</h2>
            </div>
            <div class="subsection__content js-subsection-content" id="subsection_content_0">
                <ul class="subsection__list">
                    <li class="subsection__list-item">
                         <a href="#1">List item one</a>
                    </li>
                    <li class="subsection__list-item">
                         <a href="#1">List item two</a>
                    </li>                      
                </ul>
            </div>
        </div>
        <div class="subsection js-subsection">
            <div class="subsection__header">
                <h2 class="subsection__title">What I need to know about Interlectual Property?</h2>
            </div>
            <div class="subsection__content js-subsection-content" id="subsection_content_1">
                <ul class="subsection__list">
                    <li class="subsection__list-item">
                         <a href="#1">List item one</a>
                    </li>
                    <li class="subsection__list-item">
                         <a href="#1">List item two</a>
                    </li>                      
                </ul>
            </div>
        </div>
        <div class="subsection js-subsection">
            <div class="subsection__header">
                <h2 class="subsection__title">How do I protect confidential information from my business?</h2>
            </div>
            <div class="subsection__content js-subsection-content" id="subsection_content_1">
                <ul class="subsection__list">
                    <li class="subsection__list-item">
                         <a href="#1">List item one</a>
                    </li>
                    <li class="subsection__list-item">
                         <a href="#1">List item two</a>
                    </li>                      
                </ul>
            </div>
        </div>
    </div>
</div>
    <h3 class="heading-medium">Accountabilities</h3>
    <div class="js-hidden" data-module="accordion-with-descriptions">
    <div class="subsection-wrapper">
        <div class="subsection js-subsection">
            <div class="subsection__header">
                <h2 class="subsection__title">What are my legal obligations as an employer?</h2>
            </div>
            <div class="subsection__content js-subsection-content" id="subsection_content_0">
                <ul class="subsection__list">
                    <li class="subsection__list-item">
                         <a href="#1">List item one</a>
                    </li>
                    <li class="subsection__list-item">
                         <a href="#1">List item two</a>
                    </li>                      
                </ul>
            </div>
        </div>
        <div class="subsection js-subsection">
            <div class="subsection__header">
                <h2 class="subsection__title">What are the ESFA accountable for?</h2>
            </div>
            <div class="subsection__content js-subsection-content" id="subsection_content_1">
                <ul class="subsection__list">
                    <li class="subsection__list-item">
                         <a href="#1">List item one</a>
                    </li>
                    <li class="subsection__list-item">
                         <a href="#1">List item two</a>
                    </li>                      
                </ul>
            </div>
        </div>
        <div class="subsection js-subsection">
            <div class="subsection__header">
                <h2 class="subsection__title">What is meant by anti-discrimination?</h2>
            </div>
            <div class="subsection__content js-subsection-content" id="subsection_content_1">
                <ul class="subsection__list">
                    <li class="subsection__list-item">
                         <a href="#1">List item one</a>
                    </li>
                    <li class="subsection__list-item">
                         <a href="#1">List item two</a>
                    </li>                      
                </ul>
            </div>
        </div>
    </div>
</div>
         
    <h3 class="heading-medium">About the agreement</h3>
    <div class="js-hidden" data-module="accordion-with-descriptions">
    <div class="subsection-wrapper">
        <div class="subsection js-subsection">
            <div class="subsection__header">
                <h2 class="subsection__title">Who is the agreement between?</h2>
            </div>
            <div class="subsection__content js-subsection-content" id="subsection_content_0">
                <ul class="subsection__list">
                    <li class="subsection__list-item">
                         <a href="#1">List item one</a>
                    </li>
                    <li class="subsection__list-item">
                         <a href="#1">List item two</a>
                    </li>                      
                </ul>
            </div>
        </div>
        <div class="subsection js-subsection">
            <div class="subsection__header">
                <h2 class="subsection__title">Am I the right person to sign the agreement?</h2>
            </div>
            <div class="subsection__content js-subsection-content" id="subsection_content_1">
                <ul class="subsection__list">
                    <li class="subsection__list-item">
                         <a href="#1">List item one</a>
                    </li>
                    <li class="subsection__list-item">
                         <a href="#1">List item two</a>
                    </li>                      
                </ul>
            </div>
        </div>
        <div class="subsection js-subsection">
            <div class="subsection__header">
                <h2 class="subsection__title">How will I be notified of changes to the agreement?</h2>
            </div>
            <div class="subsection__content js-subsection-content" id="subsection_content_1">
                <ul class="subsection__list">
                    <li class="subsection__list-item">
                         <a href="#1">List item one</a>
                    </li>
                    <li class="subsection__list-item">
                         <a href="#1">List item two</a>
                    </li>                      
                </ul>
            </div>
        </div>
        <div class="subsection js-subsection">
            <div class="subsection__header">
                <h2 class="subsection__title">What do I do when I have a dispute to changes in the agreement?</h2>
            </div>
            <div class="subsection__content js-subsection-content" id="subsection_content_1">
                <ul class="subsection__list">
                    <li class="subsection__list-item">
                         <a href="#1">List item one</a>
                    </li>
                    <li class="subsection__list-item">
                         <a href="#1">List item two</a>
                    </li>                      
                </ul>
            </div>
        </div>
        <div class="subsection js-subsection">
            <div class="subsection__header">
                <h2 class="subsection__title">Is there anything else I should know?</h2>
            </div>
            <div class="subsection__content js-subsection-content" id="subsection_content_1">
                <ul class="subsection__list">
                    <li class="subsection__list-item">
                         <a href="#1">List item one</a>
                    </li>
                    <li class="subsection__list-item">
                         <a href="#1">List item two</a>
                    </li>                      
                </ul>
            </div>
        </div>
    </div>
</div>
    <br />
    <br />
           
    <a class="button">Continue to sign the agreement</a>

    </article>    
    
</main><!-- / #content -->
{% endblock %}
