{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="terms" id="content" role="main" tabindex="-1">
    {% include "includes/link-back.html" %}

    
    
<div class="grid-row">
        <div class="column-two-thirds">
            <div class="hgroup">
            <h1 class="heading-xlarge">Terms</h1>
                <p class="lede">Terms and conditions of use</p>
            </div>
        </div>
</div> 
    <p>You must sign out of this service at the end of each session.</p>
    <p>You must not do any of the following when using this service:</p>
    
    <ul class="list list-bullet">
        <li>input untruthful or inaccurate information</li>
        <li>upload any files that contain computer viruses or malware</li>
        <li>commit any cybercrime as described by the Computer Misuse Act 1990</li>
        <li>share your sign in details with anybody else</li>
    </ul>
</main><!-- / #content -->
{% endblock %}
