
$info-colour:$purple;
$success-colour:$turquoise;
$warning-colour:$orange;
$info-highlighted:$purple;

// Container for notifications, to reduce space between them wehen there are multiple
    .error-summary,.warning-summary,.success-summary,.info-summary, .info-highlighted {
        margin-bottom:0px !important;
        &:last-child {
           margin-bottom:100px; 
        }
    }


// Share notification styles
.error-summary, .info-summary, .success-summary, .warning-summary, .info-highlighted {
    border-width: 4px;
    border-style: solid;

    margin-top: $gutter-half;
    margin-bottom: $gutter-half;
    padding: $gutter-half 10px;

    @include media(tablet) {
        border-width: 5px;
        border-style: solid;

        margin-top: $gutter;
        margin-bottom: $gutter;

        padding: $gutter-two-thirds $gutter-half $gutter-half;
    }

    @include ie-lte(6) {
        zoom: 1;
    }

    // Use the GOV.UK outline focus style
    &:focus {
        outline: 3px solid $focus-colour;
    }

    p {
        margin-bottom: 10px;
    }

    &-heading {
        margin-top: 0;
    }
    
    @for $index from 1 through 6 {
        h#{$index}{
        }
        h#{$index}[class^="heading-"] {
            margin: 0;
        }
    }
    
    &-list {
    padding-left: 0;
        li {
            @include media(tablet) {
            margin-bottom: 5px;
            }
        }
        a {
            font-weight: bold;
            text-decoration: underline;
        }
    }  
}

.info-dismiss, .success-dismiss, .warning-dismiss {
    font-weight: bold;
    text-decoration: underline;
}

// Info notification styles
.info-summary {
  border-color:$info-colour;

  @include media(tablet) {
    border-color:$info-colour;
  }

  .info-summary-list {
    a {
      color: $info-colour;
    }
  }
  .info-dismiss {
    color: $info-colour;
  }
}

// Success notification styles
.success-summary {
  border-color:$success-colour;

  @include media(tablet) {
    border-color:$success-colour;
  }

  .success-summary-list {
    a {
      color: $success-colour;
    }
  }
  .success-dismiss {
    color: $success-colour;
  }
}

// Warning notification styles
.warning-summary {
  border-color:$warning-colour;

  @include media(tablet) {
    border-color:$warning-colour;
  }

  .warning-summary-list {
    a {
      color: $warning-colour;
    }
  }
  .warning-dismiss {
    color: $warning-colour;
  }
}

// info-highlighted styles
.info-highlighted {
    max-width: 30em;
    background: mix(white,$purple,90%);
    border: none;
    border-left: solid 10px $purple;
    }


// ==========================================================================
// This is a modifiation of the GDS pattern .govuk-box.highlight to include
// padding on the inside of the box, incase of a long title
// ==========================================================================

.sfa-govuk-box-highlight {
    padding-left:0.5em;
    padding-right:0.5em;
}