{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="estimate-apprentices-start" id="content" role="main" tabindex="-1">
    {% include "includes/link-back.html" %}

<div class="grid-row">
        <div class="column-two-thirds">
            <div class="hgroup">
            <h1 class="heading-xlarge">
        EESTIMATE APPRENTICES
      </h1>
                
                    
</div>

                
    </div>
        
        </div>    

</main><!-- / #content -->
{% endblock %}
