{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="estimator-details" id="content" role="main" tabindex="-1">
    

<link href="https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/css/tooltipster.css" media="screen" rel="stylesheet" type="text/css" />    
<link href="https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/css/themes/tooltipster-noir.css" media="screen" rel="stylesheet" type="text/css" />    


<!--
<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-footable/3.1.6/footable.core.standalone.css" media="screen" rel="stylesheet" type="text/css" />    
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-footable/3.1.6/footable.js" type="text/javascript"></script>
-->

    
    
<a href="../transfers/index.html" class="link-back">Back funding forecast</a>
    

    
    <div class="grid-row">
    <div class="column-two-thirds">
        <div class="hgroup form-group">
           <h1 class="heading-xlarge">July 2018</h1>
           <p class="lede">The figures below show the activity in your account for the month chosen.</p>

<table class="top-border">
                <tbody>
                    
                    <!--<tr>
                    <th scope="row">
                        Organisation
                    </th>
                    <td>
                        <dl class="inline">
                            <dt>Name:</dt>
                            <dd class="organisation-name">TESCO STORES LIMITED</dd>
                            <dt>Companies House number:</dt>
                            <dd>00519500</dd>
                        </dl>
                    </td>
                </tr>-->
                <tr>
                    <th scope="row" class="tooltip" title="THE OPENINING BALANCE IS" >
                        Opening balance
                    </th>
                    <td>
                        £158,000.00
                    </td>
                </tr>
                    <tr>
                    <th scope="row">
                        Closing balance
                    </th>
                    <td>
                        £160,033.00
                    </td>
                </tr>                    
                    <tr>
                    <th scope="row">
                        Total payments made
                    </th>
                    <td>
                        £5,967.00
                    </td>
                </tr>
                    <tr>
                    <td scope="row">
                        Apprenticeships that are live and have been paid for
                        </td>
                    <td>
                        £1,889.00
                    </td>
                </tr>
                    <tr>
                    <td scope="row">
                       Apprenticeships that are live and are yet to be paid for
                    </td>
                    <td>
                        £1,900.00
                    </td>
                </tr>
                    <tr>
                    <td scope="row">
                       Apprenticeships waiting to start
                    </td>
                    <td>
                        £2,178.00
                    </td>
                </tr>
                                        <tr>
                    <th scope="row">
                        Expired funds
                    </th>
                    <td>
                        --
                    </td>
                </tr>
                                        <tr>
                    <th scope="row">
                        Funds in
                    </th>
                    <td>
                        £8,000.00
                    </td>
                </tr>
                                        <tr>
                    <td scope="row">
                        Levy funds
                    </td>
                    <td>
                        £8,000.00
                    </td>
                </tr>
                                        <tr>
                    <td scope="row">
                        Transfer of funds from another employer
                    </td>
                    <td>
                        N/A
                    </td>
                </tr>

                    <tr>
                    <th scope="row">
                        Remaining transfer allowance
                    </th>
                    <td>
                        £1,000.00
                    </td>
                </tr>
                              <tr>
                    <th scope="row">
                        Total co-investment due
                    </th>
                    <td>
                        £0.00
                    </td>
                </tr>
                        

            </tbody></table>

        </div>
        
 

      </div>
       <div class="column-third">
           <br>
           <br>
           <br>
           <br>
           <br>
        </div>
    </div>
    
    
           
      <div id="tabs-container">
    <ul class="tabs-menu">
        <li class="current"><a href="#tab-1">My apprenticeships</a></li>
        <li class=""><a href="#tab-2">My transfer of funds</a></li>
    </ul>
    <div id="tab-1" class="tab-content" style="">
        
        <table class="small responsive">
            <thead>
            <tr>
                <th>Apprenticeship <span class="form-hint">Level</span></th>
                <th>Number of apprentices</th>
                <th>Total cost</th>
                <th>Training provider</th>
                <th>Apprenticeship status</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Loading <span class="form-hint">Loading</span></td>
                <td>Loading</td>
                <td>Loading</td>
                <td>Loading</td>
                <td>Loading</td>
            </tr>
            </tbody>
<tfoot class="total"></tfoot>

        </table>
        
    </div>


    <div id="tab-2" class="tab-content" style="display: none;">
        <table class="small responsive">
            <thead>
            <tr>
                <th>Apprenticeship <span class="form-hint">Level</span></th>
                <th>Number of apprentices</th>
                <th>Total cost</th>
                <th>Employer</th>
                <th>Apprenticeship status</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Loading <span class="form-hint">Loading</span></td>
                <td>Loading</td>
                <td>Loading</td>
                <td>Loading</td>
                <td>Loading</td>
            </tr>
            </tbody>
<tfoot class="total"></tfoot>

        </table>
    </div>
</div> 
    <br>
    <br>
                                <a class="button">Download information as a CSV</a>
    

<br>
<br>
 
         <div class="info-highlighted">
                        <h3 class="heading-medium">Disclaimer</h3>
                        <p>This tool is designed to illustrate what your funds may look like based on the apprenticeships currently in your apprenticeship service account and the funding band maximum for the estimated apprenticeships you have added, using this forecasting tool.</p>
                        <p> The actual amount of funds available is likely to vary if there are any changes made to your apprenticeship arrangements, including, for example, changes in the number of apprentices employed, or the cost and duration of their training. </p>
                        <p>You should therefore not rely solely on the information provided by this tool when making decisions about the transfer of funds.</p>
    
    
  


    
                    </div>   
            


    <script src='https://cdnjs.cloudflare.com/ajax/libs/tabletop.js/1.5.1/tabletop.min.js'></script>


</main><!-- / #content -->
{% endblock %}