{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="estimator-details" id="content" role="main" tabindex="-1">
    

<link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.18/c3.min.css" media="screen" rel="stylesheet" type="text/css" />    


<!--
<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-footable/3.1.6/footable.core.standalone.css" media="screen" rel="stylesheet" type="text/css" />    
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-footable/3.1.6/footable.js" type="text/javascript"></script>
-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js" type="text/javascript"></script>
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.18/c3.min.js" type="text/javascript"></script>
    
<a href="../transfers/index.html" class="link-back">Back to forecast</a>
    

    
    <div class="grid-row">
    <div class="column-two-thirds">
        <div class="hgroup form-group">
           <h1 class="heading-xlarge">July 2018</h1>
           <p class="lede" style="text-transform:uppercase;">This page shows the movement of funds for the selected month.</p>
            
<table class="top-border">
                <tbody>
                    
                    <!--<tr>
                    <th scope="row">
                        Organisation
                    </th>
                    <td>
                        <dl class="inline">
                            <dt>Name:</dt>
                            <dd class="organisation-name">TESCO STORES LIMITED</dd>
                            <dt>Companies House number:</dt>
                            <dd>00519500</dd>
                        </dl>
                    </td>
                </tr>-->
                <tr>
                    <th scope="row">
                        Opening balance
                    </th>
                    <td>
                        £14,000.00
                    </td>
                </tr>
                    <tr>
                    <th scope="row">
                        Total payments made
                    </th>
                    <td>
                        £14,000.00
                    </td>
                </tr>
                                        <tr>
                    <th scope="row">
                        Expired funds
                    </th>
                    <td>
                        £1,400.00
                    </td>
                </tr>
                                        <tr>
                    <th scope="row">
                        Funds in
                    </th>
                    <td>
                        £1,400.00
                    </td>
                </tr>
                    <tr>
                    <th scope="row">
                        Closing balance
                    </th>
                    <td>
                        £14,000.00
                    </td>
                </tr>
                    <tr>
                    <th scope="row">
                        Remaining transfer allowance
                    </th>
                    <td>
                        £1,400.00
                    </td>
                </tr>
                              <tr>
                    <th scope="row">
                        Total co-investment due
                    </th>
                    <td>
                        £1,400.00
                    </td>
                </tr>
                        

            </tbody></table>

        </div>
        
      </div>
       
    </div>
    

           
    <div>
        
              <div class="grid-row">
      <div class="column-full">
        <ul class="list pill">
            <li class="active"><a href="#" id="#apprentice">Payments by apprentice</a></li>
            <li><a href="#" id="#apprenticeship">Payments by apprenticeship</a></li>
            <li><a href="#" id="#provider">Payments by provider</a></li>
          </ul>    
      </div>
      </div>
        <div id="apprentice">
        <table class="small responsive">
            <thead>
            <tr>
                <th>Apprentice<span class="form-hint">ULN/Employer</span></th>
                <th>Apprenticeship<span class="form-hint">Level</span></th>
                <th>Amount</th>
                <th class="highlight">Co-investment due</th>
                <th>Type</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Loading <span class="form-hint">Loading</span></td>
                <td>Loading</td>
                <td>Loading</td>
                <td class="highlight">Loading</td>
                <td>Loading</td>
                <td><a href="add-apprenticeship.html">Details</a></td>
            </tr>
            </tbody>
<tfoot class="total">
            <tr>
    <th></th>
    <th></th>
    <th>£00.00</th>
    <th>£00.00</th>
                <th></th>
                <th></th>
    </tr>
            </tfoot>

        </table>   
                        <div class="grid-row">
        <div class="column-two-thirds">
                        <details role="group">
                <summary role="button" aria-controls="details-content-0" aria-expanded="false">What does this table show</summary>
                <div class="panel panel-width-thin" id="details-content-0" aria-hidden="true">
<p>THIS SHOWS LINE BY LINE THE PAYMENTS THAT ARE IMPACTING YOUR FORECAST.</p>
                </div>
            </details>
            

    
    
        </div>
    </div>
        </div>
        
        <div id="apprenticeship">
        <table class="small responsive">
            <thead>
            <tr>
                <th>Apprenticeship<span class="form-hint">Level</span></th>
                <th>Number of apprentices</th>
                <th>Amount</th>
                <th class="highlight">Co-investment due</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Loading</td>
                <td>Loading</td>
                <td>Loading</td>
                <td class="highlight">Loading</td>
            </tr>
            </tbody>
<tfoot class="total">
            <tr>
    <th></th>
    <th>0</th>
    <th>£00.00</th>
    <th>£00.00</th>
                <th></th>
    </tr>
            </tfoot>

        </table>
                        <div class="grid-row">
        <div class="column-two-thirds">
                        <details role="group">
                <summary role="button" aria-controls="details-content-0" aria-expanded="false">What does this table show</summary>
                <div class="panel panel-width-thin" id="details-content-0" aria-hidden="true">
<p>THIS SHOWS LINE BY LINE THE PAYMENTS THAT ARE IMPACTING YOUR FORECAST.</p>
                </div>
            </details>
            

   
    
        </div>
    </div>
        </div>
        
        <div id="provider">
        <table class="small responsive">
            <thead>
            <tr>
                <th>Provider</th>
                <th>Amount</th>
                <th>Balance</th>
                <th class="highlight">Co-investment due</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Loading <span class="form-hint">Loading</span></td>
                <td>Loading</td>
                <td>Loading</td>
                <td class="highlight">Loading</td>
            </tr>
            </tbody>
<tfoot class="total">
            <tr>
    <th></th>
    <th>£00.00</th>
    <th>£00.00</th>
    <th>£00.00</th>
    </tr>
            </tfoot>
        </table>
            <div class="grid-row">
        <div class="column-two-thirds">
                        <details role="group">
                <summary role="button" aria-controls="details-content-0" aria-expanded="false">What does this table show</summary>
                <div class="panel panel-width-thin" id="details-content-0" aria-hidden="true">
<p>THIS SHOWS LINE BY LINE THE PAYMENTS THAT ARE IMPACTING YOUR FORECAST.</p>
                </div>
            </details>
            

     
    
        </div>
    </div>            
        </div>

    </div>

 
         <div class="info-highlighted">
                        <h3 class="heading-medium">Disclaimer</h3>
                        <p>This tool is designed to illustrate what your funds may look like based on the apprenticeships currently in your apprenticeship service account and the funding band maximum for the estimated apprenticeships you have added, using this estimator.</p>
                        <p> The actual amount of funds available is likely to vary if there are any changes made to your apprenticeship arrangements, including, for example, changes in the number of apprentices employed, or the cost and duration of their training. </p>
                        <p>You should therefore not rely solely on the information provided by this tool when making decisions about the transfer of funds.</p>
    
    
  


    
                    </div>   
            


    <script src='https://cdnjs.cloudflare.com/ajax/libs/tabletop.js/1.5.1/tabletop.min.js'></script>


</main><!-- / #content -->
{% endblock %}