{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="transfers-allowance-calc" id="content" role="main" tabindex="-1">
    {% include "includes/link-back.html" %}

    
<div class="grid-row">
        <div class="column-two-thirds">
            <div class="hgroup">
            <h1 class="heading-xlarge">
Estimate how many apprenticeships you could fund using a transfer
 </h1>
                
                <p class="lede">You can now transfer any unused funds to another employer to pay for the training and assessment of their apprenticeship standards.
</p>
                <P>Use this service to:
</P>
                <ul class="list list-bullet">
                    <li>see unused funds you have to transfer
</li>
                    <li>estimate transfer payments
</li>
                </ul>

    
                

</div>
        </div>
    </div> 

  <div class="grid-row">
    <div class="column-two-thirds">
<div class="form-group">
            <label class="form-label form-label-bold" for="levy-value-2">Your levy funds
    <span class="form-hint">You need to enter the total figure of your last year’s levy funds that were paid into your apprenticeship account.</span>
                        <span class="error-message hidden">Please enter your levy credit for the financial year 2017/2018</span>                
    </label>
            <label for="levy-value-2" class="text-box-unit">£</label>
            <input class="form-control text-box-with-unit-before money-mask" id="levy-value-2" name="levy-value-2" type="text">
        </div>
      </div>
    </div>
    
                    <a class="button" href="forecast-transfer.html">Continue</a>                
</main>


{% endblock %}
