{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="startAssessment" id="content" role="main" tabindex="-1">

  <div class="grid-row">
    <div class="column-full blue">
        <div class="hgroup">
      <h1 class="heading-xlarge">
Great stuff            </h1>
            <p class="lede">We've got an idea about what you currently know, we'll store that data so we can present relevant tasks in future.</p>
            <a class="button" href="../dashboard/index.html">Go to my dashboard</a>
    </div>
  </div>
        
 </div>


</main><!-- / #content -->
{% endblock %}