{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="startAssessment" id="content" role="main" tabindex="-1">

  <div class="grid-row">
    <div class="column-full blue">
        <div class="hgroup">
      <h1 class="heading-xlarge">
Start the assessment
            </h1>
            <p>It takes about 5 minutes and it is in your best interests not to cheat.</p>
            
           
                <a class="button" href="assessmentQuestions.html">Start assessment</a>
    </div>
  </div>
        
 </div>


</main><!-- / #content -->
{% endblock %}