{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="forecast-50-employees" id="content" role="main" tabindex="-1">
    {% include "includes/link-back.html" %}

    <div class="grid-row">
    <div class="column-two-thirds">
        <div class="hgroup form-group">
           <h1 class="heading-xlarge">
               50 employees question
            </h1>
          <p>ASK THE USERS IF THEY HAVE LESS THAN 50 EMPLOYEES. TELL THEM IT EFFECTS THEIR RATES</p>          
        </div>
      </div>
    </div>
    
    <div class="grid-row">
        <div class="column-two-thirds">
<form class="">
                                <fieldset class="form-group">
                                  <legend class="heading-small">MORE THAN 50 EMPLOYEES?</legend>
                                    <p>MENTION YOU CAN CHANGE THEM AFTER</p>
                                    <div class="multiple-choice">
                                    <input id="add-paye-1" type="radio" name="add-paye-group" value="2">
                                  <label class="" for="add-paye-1">
                                      Yes, I HAVE MORE THAN 50
                                  </label>
                                    </div>
                                    <div class="multiple-choice">                                    
                                    <input id="add-paye-2" type="radio" name="add-paye-group" value="1">
                                  <label class=" " for="add-paye-2">
                                      No, I HAVE LESS THAN 50
                                  </label>
                                    </div>
                                </fieldset>
                                                                    <div class="form-group sr-only">
                                    <a href="#" id="action" class="button">Continue</a>
                                    </div> 
                            </form>
            
            <a class="button" href="view-commitments.html">Continue</a>
        </div>
    </div>
   

</main><!-- / #content -->
{% endblock %}
