{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="levy-index" id="content" role="main" tabindex="-1">

    {% include "includes/link-back.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="hgroup">
            <h1 class="heading-xlarge">Your accounts</h1>
                <p class="lede">Select an account or add a new one.</p>
            </div>
        </div>
</div> 

<table>
                      <colgroup><col width="10">
  <col width="8">
  <col width="2">
                    </colgroup><thead>
                        <tr>
                            <th scope="col">Account name</th>
                            <th scope="col">What you can do</th>
                            <th scope="col"><span class="vh">Select account</span></th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <td class="responsive-td">
                                    <span class="force-word-wrap">
                                        TYIT LTD
                                        <br>
                                        <span style="color: #6F777B">Account ID: 46MYXV</span>
                                    </span>
                                </td>
                                <td class="responsive-td">
                                    Accept agreements, view information and manage PAYE schemes, organisations, apprentices and team members
                                </td>
                                <td class="responsive-td link-right">
                                    <a aria-label="View account homepage for TYIT LTD" title="View account homepage for TYIT LTD"  href="/apps/{{currentApp.appDirName}}/views/account/index">
                                        Open<span class="vh"> TYIT LTD account homepage</span>
                                    </a>
                                </td>
                            </tr>
                    </tbody>
                </table>
    
    <a href="/apps/{{currentApp.appDirName}}/views/onboarding/what-you-need" class="button">Add new account</a>
    
</main><!-- / #content -->
{% endblock %}
