{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="rename-account" id="content" role="main" tabindex="-1">

    {% include "includes/link-back.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="hgroup">
            <h1 class="heading-xlarge">Rename levy account</h1>
                <p class="lede">You can rename this levy accont to something more relevant to you.</p>
                <p>This does not change the name of the account for other users, it only reflects on your account.</p>
            </div>
        </div>
</div> 
<form>
    <div class="form-group">
            <label class="form-label-bold" for="email">Current account name</label>
            <input class="form-control company-name" id="currentName" maxlength="128" name="email" type="text" tabindex="0" disabled="" value="Your levy account">  
    </div>
    <div class="form-group hidden">
            <label class="form-label-bold" for="email">Account ID</label>
            <input class="form-control" id="email" maxlength="128" name="email" type="text" tabindex="0" disabled="" value="XC993">  
    </div>
    <div class="form-group" id="newName">
            <label class="form-label-bold" for="new-name">
                
                New account name
        <span class="error-message" style="display: none;">
          Enter a name
        </span>

        </label>
        
            <input class="form-control" id="new-name" maxlength="128" name="email" type="text"> 
    </div>
</form>
    
    <a href="/apps/{{currentApp.appDirName}}/views/onboarding/what-you-need" class="button">Save and continue</a>
    <a href="#" class="button text-link">Cancel</a>
    
</main><!-- / #content -->
{% endblock %}
