{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="team-next" id="content" role="main" tabindex="-1">    
<div class="grid-row">
        <div class="column-two-thirds">
<div id="notifications">
        <div class="success-summary">
            <h3 class="heading-medium">Invitation sent</h3>
            <p>You've sent an invitation to <span class="bold-small">pete.kowalczyk@digi2al.co.uk</span>.</p>
        </div>
    </div>
        </div>
</div>    
    

    

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-medium">What next?</h1>        
        <form action="">
            <div class="form-group">
                <div class="multiple-choice">
                    <input id="addteam" type="radio" name="next" value="addteam" class="">
                    <label data-target="addteam" for="addteam">
                        Add another team member
                    </label>
                </div>
                <div class="multiple-choice">
                    <input id="viewteam" type="radio" name="next" value="viewteam">
                    <label data-target="viewteam" for="viewteam">
                        View all team members
                    </label>
                </div>
                <div class="multiple-choice">
                    <input id="homepage" type="radio" name="next" value="homepage">
                    <label data-target="homepage" for="homepage">
                        Return to homepage
                    </label>
                </div>
            </div>
<a class="button" id="" href="/apps/{{currentApp.appDirName}}/views/account/team/index.html">Continue</a>    
        </form>
    </div>
</div>
    
    
</main><!-- / #content -->
{% endblock %}
