{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="settings-dashboard" id="content" role="main" tabindex="-1">
    {% include "includes/link-back.html" %}

    <div class="grid-row">
    <div class="column-two-thirds">
        <div class="hgroup">
           <h1 class="heading-xlarge">
        Settings
      </h1>
            <p>Manage your personal and employer account settings here</p>
        </div>
      </div>
    </div>
    

<div id="tabs-container">
    <ul class="tabs-menu">
        <li class="current"><a href="#tab-1">Your profile</a></li>
        <li class=""><a href="#tab-2">Notification settings</a></li>
        <li class=""><a href="#tab-3">Invitations <span class="label">0</span></a></li>
        <li class=""><a href="#tab-4">Employer settigns</a></li>
    </ul>
    <div id="tab-1" class="tab-content" style="">

<fieldset id="basic-info" draggable="false">
      <div class="field-group shorten" draggable="false">
        <label for="user-name" draggable="false">First name:</label>
        <input type="text" class="align-left width-160" id="user-name" value="" draggable="false">
      </div>
      <div class="field-group shorten" draggable="false">
        <label for="user-last-name" draggable="false">Last name:</label>
        <input type="text" class="align-left width-160" id="user-last-name" value="" draggable="false">
      </div>
            <div class="field-group" draggable="false">
        <label for="user-email" draggable="false">E-mail:</label>
        <input type="text" id="user-email" value="ty@popmenu.com" draggable="false">
      </div>
            <a href="#" class="blue-link" draggable="false">Change password</a>
          </fieldset>
        
    </div>


    <div id="tab-2" class="tab-content" style="display: none;">
        <p>Choose which accounts you want to receive cohort and apprentice updates from</p>
<table>
                <thead>
                    <tr>
                        <th scope="col">Account name</th>
                        <th scope="col">Emails</th>
                        <th scope="col">No emails</th>
                    </tr>
                </thead>
                <tbody>
                   
                        <tr>
                            <td class="notification-row">
                                    Acme Training Ltd
                            </td>

                            <td class="notification-row">

                                <div class="multiple-choice">
                                    <input checked="checked" id="NotificationSettings-true-0" name="notifications" type="radio" value="True">
                                    <label for="NotificationSettings-true-0" aria-label="Send emails"></label>
                                </div>
                              
                            </td>

                            <td class="notification-row">
                                <div class="multiple-choice">
                                    <input id="NotificationSettings-false-0" name="notifications" type="radio" value="False">                                
                                    <label for="NotificationSettings-false-0" class="" aria-label="Stop emails"></label>
                                </div>


                            </td>
                           
                        </tr>

                </tbody>
            </table>
    </div>

    <div id="tab-3" class="tab-content" style="display: none;">
<table>
                        <thead>
                            <tr>
                                <th scope="col">Account name</th>
                                <th scope="col">What you can do</th>
                                <th>Expires in</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="">
                                <td class=""><span class="company-name">Acme Ltd Coventry</span>
                                </td>
                                <td>Everything – you're an owner</td>
                                <td>7 days</td>
<td><a href="/sprint/48/user/index.html?invite=accepted">Accept</a></td>
                            </tr>
                            
                        </tbody>
                    </table>
    </div>

    <div id="tab-4" class="tab-content" style="display: none;">

        <p>Your account settings for <strong class="bold-small">Acme Ltd</strong>. To view other employer accounts, <a href="#">switch employer</a>.</p>
        
    </div>
</div>   
    

</main><!-- / #content -->
{% endblock %}
