{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="remove-an-organisation" id="content" role="main" tabindex="-1">

    
    
<div class="grid-row">
        <div class="column-two-thirds">
            <div class="hgroup">
            <h1 class="heading-xlarge">Remove an organisation</h1>
            </div>
        </div>
</div> 

<div id="orgTable">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Organisation</th>
                <th></th>
            </tr>
        </thead>
        <tr>
            <td>Tesco food ltd</td>
            <td>Can’t be removed because it's the only organisation on your account.</td>
        </tr>
    </table>
</div>
    
</main><!-- / #content -->
{% endblock %}
