{% extends currentApp.filePaths.layoutsDir + "default.html" %}

{% block page_title %}
    FAT - Standards detail page
{% endblock %}

{% block global_header_text %}
  ESFA
{% endblock %}

{{ global_header_text|default('ESFA') }}

{% block inside_header %}
  {% include "../includes/alpha-banner.html" %}
{% endblock %}

{% block main_content %}



<main class="fat-standard" id="content" role="main" tabindex="-1">
<br>
<br>
<div class="grid-row">
        <div class="column-two-thirds">
            <div>
                <h1 class="bold-xlarge">
                    Engineering design and draughtsperson
                </h1>
                <p class="lede">Producing engineering designs and drawings for components, structures and systems used in industrial and commercial construction.</p>
            </div>
        </div>
        <div class="column-third">
            <div class="related-container">
                <aside class="hidden-for-mobile-tablet">
                    <a class="button ui-find-training-providers" rel="nofollow" id="ga-find-provider-top" href="/Apprenticeship/SearchForStandardProviders?standardId=92&amp;keywords=design">
Find training providers who offer this apprenticeship
                    </a>
                </aside>
            </div>
        </div>
    </div>
    
<section>
        <header>
            <h2 class="heading-large">
                Summary of this apprenticeship standard
            </h2>
        </header>
        <dl class="data-list">
                    <dt>Level</dt>
        <dd id="level"><div class="markdown"><p>3 (equivalent to A levels at grades A to E)</p>

</div></dd>

                    <dt>Typical length</dt>
        <dd id="length">42 months</dd>

                <dt>Current funding band</dt>
    <dd id="funding-cap">
        Up to £27,000 per apprentice.<br>
        <a href="https://www.gov.uk/guidance/employing-an-apprentice-technical-guide-for-employers#funding-for-your-apprenticeship" target="_blank" rel="external">More information about funding</a>
    </dd>

                    <dt>Entry requirements</dt>
        <dd id="entry-requirements"><div class="markdown"><p>Set by employer.</p>
<p>Candidates will usually have 5 GCSEs at grade A* to C (or equivalent) - including English, maths and a science or technical subject.</p>

</div></dd>

                    <dt>What apprentices will learn</dt>
        <dd id="will-learn"><div class="markdown"><ul class="list list-bullet">
<li>design and drawing concepts, principles and processes - including aesthetics, document management, ergonomics, materials and sustainability</li>
<li>engineering drawing and modelling - including using paper, computer aided design (CAD) and building information modelling (BIM)</li>
<li>common construction, engineering and manufacturing methods and principles</li>
<li>reviewing and evaluating designs, drawings and technical information to find the most effective solution</li>
<li>specialist electrical, mechanical, piping, structural or control and implementation design and drafting skills</li>
<li>health and safety practices, standards and legislation within a construction environment</li>
</ul>

</div></dd>

                    <dt>Qualifications</dt>
        <dd id="qualifications"><div class="markdown"><p>None specified.</p>
<p>Before taking their end-point assessment apprentices must:</p>
<ul class="list list-bullet">
    <li>achieve level 2 English and maths (equivalent to GCSEs at grades A* to C)</li>
</ul>

</div></dd>

                    <dt>Professional registration</dt>
        <dd id="professional-registration"><div class="markdown"><p>This apprenticeship meets the professional standards of the Engineering Council for registration as an engineering technician (EngTech) in partnership with the:</p>
<ul class="list list-bullet">
<li>Institution of Engineering Designers (IED)</li>
<li>Institution of Engineering and Technology (IET) - for electrical and mechanical specialists</li>
<li>Institution of Mechanical Engineers (IMechE) - for piping and mechanical specialists)</li>
<li>Institution of Structural Engineers (IStructE)</li>
</ul>

</div></dd>
</dl>
        <div class="grid-row">
            <div class="column-full">
                <section id="epa">                
                    
                    <div class="title bold-small">How apprentices are assessed </div>
                    
                    <div class="details">
                    
                    <p>A government-
approved organisation must assess apprentices towards the end of their
                        apprenticeship.</p><p>
This end-point assessment ensures apprentices achieve the skills, training
and any qualifications necessary to complete their apprenticeship.</p>
<p>You can download the assessment plan from the Institute for Apprenticeships.
There are no end-point assessment organisations for this apprenticeship yet.
Please email <a href="#">apprentice.assessment@education.gov.uk</a> if you urgently need
    an end-point assessment organisation.</p>
                    </div>
                    <details class="hidden">
                        <summary><span class="summary" style="text-decoration: none">View a list of end point assessment organisations for this standard</span></summary>
                        <table class="responsive">
                            <thead>
                            <tr>
                                <th scope="col">Organisation</th>
                                <th scope="col">Phone Number</th>
                                <th scope="col">Email</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="organisation-name" data-label="organisation">
                                    <a href="http://www.nocn.org.uk/" target="_blank">NOCN</a>
                                    </td>
                                    <td class="phone-number" data-label="phone-number">0114 227 0500</td>
                                    <td class="email" data-label="email"><a href="mailto:managing.director@nocn.org.uk" target="_blank">managing.director@nocn.org.uk</a></td>
                                </tr>
                                <tr>
                                    <td class="organisation-name" data-label="organisation">
                                    <a href="http://qfi.org.uk/" target="_blank">QFI</a>
                                    </td>
                                    <td class="phone-number" data-label="phone-number">07710 427643</td>
                                    <td class="email" data-label="email"><a href="mailto:richard.mcclelland@qfi.org.uk" target="_blank">richard.mcclelland@qfi.org.uk</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </details>          
                </section>                    
            </div>
        </div>
    <dl class="data-list">
                    <dt>More information</dt>
        <dd id="level"><div class="markdown"><p>The Institute for Apprenticeships has
more detailed information about this apprenticeship.</p>
            </div></dd></dl>
    
        <div id="bottom-actions">
            <a class="button btn-find-trng-prov" rel="nofollow" id="ga-find-provider-bottom" href="/Apprenticeship/SearchForStandardProviders?standardId=92&amp;keywords=design">
Find training providers who offer this apprenticeship
            </a>
        </div>
    </section>    
    
</main><!-- / #content -->
{% endblock %}