{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="login" id="content" role="main" tabindex="-1">

  <div class="grid-row">
    <div class="column-full blue">
        <div class="hgroup">
      <h1 class="heading-xlarge">
Access your account
            </h1>
            <div class="form-group">
                <input type="text" class="form-control" />
            </div>
            <a class="button" href="../onboarding/chooseGoal.html">Start learning</a>
    </div>
  </div>
        
 </div>
 <div class="grid-row">
     <section>
     <div class="column-full">
        
       
         <p class="form-hint">No password is needed to access your progress. New users can also start here.</p>
         

         
    </div>     
       </section>       
     </div>    
    


</main><!-- / #content -->
{% endblock %}