{% extends currentApp.filePaths.layoutsDir + "email.html" %}
{% block main_content %}

<main class="verify-email" id="email" role="email" tabindex="-1">

    <div class="hgroup"></div>
<p>Dear jimbo,</p>
<p>Enter this code to create your account:</p>
<p class="bold-medium">ABC123</p>
<p>This code replaces any previous access codes we’ve sent you. It will expire at midnight on 31 October 2017.</p>
<p>If you’ve closed your browser, you can click the following link: <a href="#">https://test-eas.apprenticeships.sfa.bis.gov.uk/service/register/new</a></p>
<p>This is an automated message. Please don’t reply to this email.</p>
<p>Kind regards,<br>
Apprenticeship service team</p>
        <div class="hgroup"></div>

</main><!-- / #content -->
{% endblock %}