{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="paye-check" id="content" role="main" tabindex="-1">

 <div class="grid-row">
        <div class="column-two-thirds">
            <div class="hgroup">
            <h1 class="heading-xlarge">PAYE schemes</h1>
                <p class="lede">Funds will credit your account from any PAYE schemes you add.</p>
                <p>You must add all PAYE schemes that your apprentices will be paid through.</p>
            </div>
        </div>
</div>   
    
    <div class="grid-row">
        <div class="column-two-thirds">
<table>
                        <thead>
                            <tr>
                                <th scope="col" style="padding-top:0">Added PAYE schemes</th>
                                <th scope="col" style="padding-top:0">English %</th>
                                <th></th>
                            </tr>
                        </thead>
<tbody>
    <tr>
        <td class="">123/AB12345
            <div class="form-hint">Tescos stores limited longest</div>
        </td>
        <td>80.034%</td>
        <td><a href="/apps/{{currentApp.appDirName}}/views/account/paye/details">Details</a></td>

    </tr>
    <tr>
        <td class="">680/cacb268
        </td>
        <td>75.915%</td>
        <td><a href="/apps/{{currentApp.appDirName}}/views/account/paye/details">Details</a></td>
    </tr>
</tbody>
</table>       
        </div>
    </div>
    
<div class="grid-row">
        <div class="column-two-thirds">
<form method="GET">
                <input id="radio1" type="hidden" name="accountCreated" checked="checked" value="y">
                <div class="form-group">
                    <a class="button" href="/apps/{{currentApp.appDirName}}/views/account/settings/paye/add">Add new scheme</a>
                </div>
            </form>  
    <details>
        <summary>What is English percentage?</summary>
        <div class="panel panel-width-thin">
        <p>Your English percentage is provided by HMRC based on the data in your payroll submissions. It represents the proportion of your payroll that’s paid to your employees that live in England.</p>
            <p>If you think there are any issues with your English percentage, check your payroll data to make sure your employee's address information is correct.</p>
        </div>
    </details>    
<div class="info-highlighted">
    <p><a href="#">Give us your feedback</a> if your English percentage isn't what you expected. connected organisations.</p>
</div>            
            
    </div>
    </div>
    
</main><!-- / #content -->
{% endblock %}
