{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="estimate-start-transfer" id="content" role="main" tabindex="-1">
    {% include "includes/link-back.html" %}

    <div class="grid-row">
    <div class="column-two-thirds">
        <div class="hgroup form-group">
           <h1 class="heading-xlarge">
        Estimate the funds you could transfer
      </h1>
          <p>Use this estimator tool to see the amount of unused funds you could transfer to another employer to pay for their apprenticeships.</p>          
        </div>
      </div>
    </div>
    
    <div class="grid-row">
        <div class="column-two-thirds">
          
            
            <a class="button button-start" href="add-apprenticeship?type=transfer">Start</a>
        </div>
    </div>
   

</main><!-- / #content -->
{% endblock %}
