{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="failed-payments" id="content" role="main" tabindex="-1">
    {% include "includes/link-back.html" %}

    
    
<div class="grid-row">
        <div class="column-two-thirds">
            <div class="hgroup">
            <h1 class="heading-xlarge">Failed payments</h1>
                <p class="lede">Payments can fail if there's a mismatch between the data you submitted in your account and the data submitted directly to ESFA by your provider.</p>
            </div>
        </div>
</div> 

    <div class="timeline large">
  <div class="entry payment">
    <div class="title">
      <span class="font-small">Today</span>
    </div>
    <div class="body">
        <div><span class="bold">£500 for Anne Smith to Acme training ltd</span><br>Payment failed because some details are missing or incorrect<br><a href="/sprint/49/account/apprentices/ann-smith">Check Anne's details</a> and contact Acme training ltd</div>
  </div>
  </div>
                
    <div class="entry payment">
    <div class="title">
      <span class="font-small"></span>
    </div>
    <div class="body">
        <div><span class="bold">£200 for Aziz Anzari to Master training ltd</span><br>Payment failed because some details are missing or incorrect</div>
            <a href="/sprint/49/account/apprentices/aziz-anzari">Check Aziz's details</a> and contact Master training ltd
      </div>
  </div>
                 <div class="entry team">
    <div class="title">
      <span class="font-small">29 May 2018</span>
    </div>
    <div class="body">
        <div><span class="bold">£350 for Yuval Noah Harari to Sapiens training ltd</span><br>Payment failed because some details are missing or incorrect</div>
            <a href="#">Check Yuval 's details</a> and contact Sapiens training ltd
      </div>
  </div>  
  <div class="entry apprentice">
    <div class="title">
    </div>
    <div class="body">
        <div><span class="bold">£500 for Christian Riese Lassen to Dolphin training ltd</span><br>
            Payment failed because some details are missing or incorrect<br>
            <a href="#">Check Christian's details</a> and contact Dolphin training ltd
        </div>
    </div>
  </div>
                
 <div class="entry team">
    <div class="title">
      <span class="font-small">27 June 2018</span>
    </div>
    <div class="body">
        <div><span class="bold">£400 for Emeline Nsingi Nkosi to Acme training ltd</span><br>
Payment failed because some details are missing or incorrect<br>
            <a href="#">Check Emeline's details</a> and contact Acme training ltd
</div>
      </div>
  </div>                  
 <div class="entry team">
    <div class="title">
      <span class="font-small">&nbsp;</span>
    </div>
    <div class="body">
        <div><span class="bold">£500 for Tim Sweeney to BIS training ltd</span><br>
Payment failed because some details are missing or incorrect<br>
<a href="#">Check Tim's details</a> and contact BIS training ltd
        </div> 
      </div>
  </div>                     
  <div class="entry start account">

    <div class="body">
    </div>
  </div> 
</div>  
</main><!-- / #content -->
{% endblock %}
