{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="login" id="content" role="main" tabindex="-1">
    <div class="header-user">
	<div class="header-inner">
		<div class="service-info">
		    <div class="phase-banner prototype">
		        <p>
		            <strong class="phase-tag">PROTOTYPE</strong>
		            <span>This is not a real service. <a href="https://www.surveymonkey.co.uk/r/accessmylevysurvey?utm_source=proto&amp;utm_medium=research&amp;utm_campaign=phase-banner" target="_blank">Give feedback</a> and help us to build a better service. </span>
		        </p>
		    </div>
		</div>
	</div>
</div>
  <div class="grid-row">
    <div class="column-full blue">
        <div class="hgroup">
      <h1 class="heading-xlarge">
Access your account
            </h1>
            <div class="form-group">
                <input type="text" class="form-control" />
            </div>
            <a class="button" href="../onboarding/chooseGoal.html">Start learning</a>
    </div>
  </div>
        
 </div>
 <div class="grid-row">
     <section>
     <div class="column-full">
        
       
         <p class="form-hint">No password is needed to access your progress. New users can also start here.</p>
         

         
    </div>     
       </section>       
     </div>    
    


</main><!-- / #content -->
{% endblock %}