{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="assessmentQuestions" id="content" role="main" tabindex="-1">
    <header>
<div class="grid-row">
    <div class="column-two-thirds">
<div class="progress-wrap progress" data-progress-percent="10">
  <div class="progress-bar progress"></div>
</div>
        <p class="form-hint">Question <span class="current">1</span> of <span class="total">10</span></p>
    </div>
</div>
    </header>    

    <section  id="1" data-answer="2" class="question">
        <div class="grid-row">
            <div class="column-two-thirds">
 <div class="hgroup">
      <h1 class="heading-xlarge">
The ESFA will fully fund your apprenticeship when?
            </h1>
            
            <form>
                <div class="form-group">
                    <div class="multiple-choice">
                            <input id="a1" type="radio" name="radio-group" value="1">
                            <label for="a1">The apprentice is a single parent
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="a2" type="radio" name="radio-group" value="2">
                            <label for="a2">When you have less than 50 employees
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="a3" type="radio" name="radio-group" value="3">
                            <label for="a3">When you are a charitable organisation
                            </label>
                    </div>
                </div>
            </form>
                <a class="button submit" href="#">Submit answer</a>
    </div>

            <div class="success-summary">
    <h3 class="heading-medium">Correct</h3>
    <p>Smaller organisations are supported</p>
    <a class="button next">Next question</a>
</div>
        
<div class="error-summary">
    <h3 class="heading-medium">Incorrect</h3>
    <p>Government believes it is important to support small organisations, including small charities, to take on apprentices.</p>
    <a class="button next">Next question</a>
</div>            
            </div>
        </div>
</section>
    
    <section  id="2" data-answer="3" class="question">
        <div class="grid-row">
            <div class="column-two-thirds">
 <div class="hgroup">
      <h1 class="heading-xlarge">
Your English percentage is calculated how?
            </h1>
            
            <form>
                <div class="form-group">
                    <div class="multiple-choice">
                            <input id="a1" type="radio" name="radio-group" value="1">
                            <label for="a1">The percentage of apprentices in England
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="a2" type="radio" name="radio-group" value="2">
                            <label for="a2">The percentage of employees working in England
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="a3" type="radio" name="radio-group" value="3">
                            <label for="a3">The percentage of employees living in England
                            </label>
                    </div>
                </div>
            </form>
                <a class="button submit" href="#">Submit answer</a>
    </div>

            <div class="success-summary">
    <h3 class="heading-medium">Correct</h3>
    <p>HMRC can only check people's location by their home address and thus why the percentage is calculated against this address.</p>
    <a class="button next">Next question</a>
</div>
        
<div class="error-summary">
    <h3 class="heading-medium">Incorrect</h3>
    <p>HMRC have access to employees home address through your PAYE, they use this to determine who is in the English %</p>
    <a class="button next">Next question</a>
</div>            
            </div>
        </div>
</section>
    
    <section  id="3" data-answer="3" class="question">
        <div class="grid-row">
            <div class="column-two-thirds">
 <div class="hgroup">
      <h1 class="heading-xlarge">
        Apprentices to recieve funding must legally do what    
      </h1>
            
            <form>
                <div class="form-group">
                    <div class="multiple-choice">
                            <input id="a1" type="radio" name="radio-group" value="1">
                            <label for="a1">Complete a series of recorded milestones
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="a2" type="radio" name="radio-group" value="2">
                            <label for="a2">Be assessed by an independent training assessor
                            </label>
                    </div>
                    <div class="multiple-choice">
                            <input id="a3" type="radio" name="radio-group" value="3">
                            <label for="a3">Spend at least 20% of their time in off the job training
                            </label>
                    </div>
                </div>
            </form>
                <a class="button submit" href="#">Submit answer</a>
    </div>

            <div class="success-summary">
    <h3 class="heading-medium">Correct</h3>
    <p>HMRC can only check people's location by their home address and thus why the percentage is calculated against this address.</p>
    <a class="button next">Next question</a>
</div>
        
<div class="error-summary">
    <h3 class="heading-medium">Incorrect</h3>
    <p>HMRC have access to employees home address through your PAYE, they use this to determine who is in the English %</p>
    <a class="button next">Next question</a>
</div>            
            </div>
        </div>
</section>

</main><!-- / #content -->
{% endblock %}