{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="junk" id="content" role="main" tabindex="-1">
    {% include "includes/link-back.html" %}

    <div class="grid-row">
            <div class="column-two-thirds">
                <div class="hgroup">
                <h1 class="heading-xlarge">This is another junk page</h1>
                    <p class="lede">Junk remove members and cancel or resend invitations.</p>
                </div>
            </div>
    </div>



</main><!-- / #content -->
{% endblock %}
