{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="team-dashboard" id="content" role="main" tabindex="-1">
    {% include "includes/link-back.html" %}

    
    
<div class="grid-row">
        <div class="column-two-thirds">
            <div class="hgroup">
            <h1 class="heading-xlarge">Sam Harris</h1>
                <p class="lede">Invitation details for Sam Harris.</p>
            </div>
        </div>
</div> 

<table class=" form-group">
            
                                     
                        <tbody>
                            <tr>
                                <td class="rjTableName">Email</td>
                                <td class="users-email">sam.harris@gmail.com</td>


                            </tr>
                            <tr>
                                <td class="rjTableName">What they can do</td>
                                <td class="">Create and stop payments and view financial information</td>



                            </tr>
                            
                            <tr>
                                <td class="rjTableName">Status</td>
                                <td class="">Invitation awaiting response<br>
                                    Expires in <span class="bold-small">3 days</span>
                                </td>



                            </tr>
                           <!-- <tr>
                                <td class="rjTableName">Status</td>
                                <td class="">Invitation pending</td>


                            </tr>-->
                        </tbody>
                    </table>
    
<a class="button" id="" href="/apps/{{currentApp.appDirName}}/views/account/team/invite-a-team-member.html">Resend invitation</a>    
<a class="button text-link" id="" href="/apps/{{currentApp.appDirName}}/views/account/team/invite-a-team-member.html">Cancel invitation and remove user</a>    
    
</main><!-- / #content -->
{% endblock %}
