{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="forecast-index-wide" id="content" role="main" tabindex="-1">
    

<link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.18/c3.min.css" media="screen" rel="stylesheet" type="text/css" />    

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js" type="text/javascript"></script>
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.18/c3.min.js" type="text/javascript"></script>
    
    <div class="wrapper">
    
        <div class="main">
  <a class="link-back" href="../index.html">Back</a>
          
            <div class="grid-row">
                <div class="column-two-thirds">
    <div class="success-summary">
    <h3 class="heading-medium">FORECAST CREATED</h3>
    <p class="text">YOU CAN VIEW AND AMEND YOUR FORECAST AT ANY TIME</p>
    </div>                
                </div>
            </div>
            
            <div class="hgroup">
                <h1 class="heading-xlarge">FORECAST YOUR FUNDING</h1>
                <p class="lede text">USE THIS PAGE TO SEE HOW YOUR FUNDS CHANGE OVER TIME AND MODEL DIFFERENT FUTURE APPRENTICESHIPS AGAINST THIS DATA.</p>
            </div>

<section id="populated-state">
    
    <div id="chartPanel">
        <div id="chart"></div>
        <div id="json"></div>
    </div>
    <div id="transactions" class="container" style="">
        <h2 class="heading-medium">MONTHLY ACCOUNT BALANCE FIGURES</h2>
        <details class="text" role="group">
            <summary role="button" aria-controls="details-content-1" aria-expanded="false">What do the figures mean?</summary>
            <div class="panel panel-width-thin" id="details-content-1" aria-hidden="true">
                
    <h3 class="heading-small">How are transfers calculated</h3>         
                
                <p>The ‘transfer allowance’ column shows 10% of your total levy funds taken from the previous tax year. </p>

                <p>The ‘actual cost of training’ column shows the actual cost of the apprenticeships that you’ve selected to fund with you transfer funds.
                </p>
                <p>The ‘transfer allowance remaining’ column shows the difference between the transfer allowance and the apprentices you’ve already selected to fund.
                </p>
    <h3 class="heading-small">How the cost of training is calculated</h3>         
            <p>The balance sheet is based on last month’s payment for both levy credit and cost of training.</p>

<p>It doesn’t include any future apprenticeship starts or apprentices who’ve already started and payment has not yet been made to their training provider.</p>
                
                    <h3 class="heading-small">Where is the end point assessment cost?</h3>         
                <p>The end point assessment cost is separate from the payment that the provider receives when they inform the Education and Skills Funding Agency (ESFA) that the apprentice has completed their training.</p>
                <p>This payment will be made to the end point assessment organisation by the training provider at the end of the apprenticeship or soon after the apprenticeship has finished.</p>
                <p>This payment will be made to the end point assessment organisation by the training provider, at the end of the apprenticeship or soon after the apprenticeship has finished.</p>
            </div>

        </details>
        <details>
            <summary>Show/Hide columns</summary>
            <form>
  <fieldset>

    <legend>
      <h3 class="heading-medium">Which types of waste do you transport regularly?</h3>
      <span class="body-text">Select any/all you want to show</span>
    </legend>

    <div class="multiple-choice">
      <input id="type-1" name="option-group" type="checkbox" value="expiredFunds" checked>
      <label for="type-1">Expired funds</label>
    </div>
    <div class="multiple-choice">
      <input id="type-2" name="option-group" type="checkbox" value="coInvestment">
      <label for="type-2">Gov/Employer contributions</label>
    </div>
    <div class="multiple-choice">
      <input id="type-3" name="option-group" type="checkbox" value="transfers">
      <label for="type-3">Transfer payments</label>
    </div>

  </fieldset>
</form>
        </details>
<table class="small" id="transferProjectionBalance">
            <thead>
                <tr>
                    <th data-column="1">Date</th>
                    <th data-column="2">Levy credit</th>
                    <th data-column="3">Transfer allowance</th>
                    <th data-column="4">Your cost of transfers <span class="form-hint">pre-existing transfer costs</span></th>
                    <th data-column="5">Transfer completion payments <span class="form-hint">pre-existing transfer completion payments</span></th>
                    <th data-column="6">Your estimated cost of training <span class="form-hint">pre-existing cost of training</span></th>
                    <th data-column="7">Completion payments <span class="form-hint">pre-existing completion payments</span></th>
                    <th data-column="8">Employer contribution (10%)</th>
                    <th data-column="9">Government contribution (90%)</th>
                    <th data-column="10">Expired funds</th>
                    <th data-column="11">Transfer allowance remaining</th>
                    <th data-column="12">Account balance</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <div id="apprenticeships" class="container" style="">
        <h2 class="heading-medium">Estimated transfer costs by apprenticeships</h2>
        <p class="text">This table shows the cost of apprenticeships that you've added to your estimate which is shown over the tax year.</p>
        
        
        
        <table class="small" id="apprenticeshipsTransferProjection">
            <thead>
                <tr>
                    <th>Start date</th>
                    <th>Funding type</th>
                    <th>Apprenticeship</th>
                    <th>Number of apprenitces</th>
                    <th>Total cost of training</th>
                    <th>2018/2019</th>
                    <th>2019/2020</th>
                    <th>2020/2021</th>
                    <th>2021/2022</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="financial">April 2018</td>
                    <td class="financial">Your estimated training</td>
                    <td class="nowrap">Accountant<span class="form-hint">level 4</span></td>
                    <td class="financial">2</td>
                    <td class="financial">£1,882.00</td>
                    <td class="financial">£3,353.00</td>100
                    <td class="financial">£0.00</td>
                    <td class="financial">£0.00</td>
                    <td class="financial">£0.00</td>
                    <td><a href="edit-apprenticeship" class="edit-apprenticeship">edit</a> <a href="remove-cohort-confirm" class="remove-apprenticeship">remove</a></td>
                </tr>                
                <tr>
                    <td class="financial">January 2019</td>
                    <td class="financial">Your current training</td>
                    <td class="nowrap">Civil Engineer<span class="form-hint">level 6</span></td>
                    <td class="financial">6</td>
                    <td class="financial">£675,000.00</td>
                    <td class="financial">£100,356.84</td>
                    <td class="financial">£100,356.84</td>
                    <td class="financial">£100,356.84</td>
                    <td class="financial">£100,356.84</td>
                    <td><a href="edit-apprenticeship" class="edit-apprenticeship">edit</a> <a href="remove-cohort-confirm" class="remove-apprenticeship">remove</a></td>
                </tr>
                <tr>
                    <td class="financial">September 2019</td>
                    <td class="financial">Your estimated training</td>
                    <td class="nowrap">Business Administration<span class="form-hint">level 3</span></td>
                    <td class="financial">3</td>
                    <td class="financial">£1,880.00</td>
                    <td class="financial">£5,640.00</td>
                    <td class="financial">£1,140.00</td>
                    <td class="financial">£0.00</td>
                    <td class="financial">£0.00</td>
                    <td><a href="edit-apprenticeship" class="edit-apprenticeship">edit</a> <a href="remove-cohort-confirm" class="remove-apprenticeship">remove</a></td>
                </tr>                
                <tr>
                    <td class="financial">September 2019</td>
                    <td class="financial">Your estimated training</td>
                    <td class="nowrap">Power Engineer<span class="form-hint">level 7    </span></td>
                    <td class="financial">20</td>
                    <td class="financial">£540,000.00</td>
                    <td class="financial">£87,864.36</td>
                    <td class="financial">£87,864.36</td>
                    <td class="financial">£87,864.36</td>
                    <td class="financial">£87,864.36</td>
                    <td><a href="edit-apprenticeship" class="edit-apprenticeship">edit</a> <a href="remove-cohort-confirm" class="remove-apprenticeship">remove</a></td>
                </tr>
                <tr>
                    <td class="financial">January 2020</td>
                    <td class="financial">Your estimated training</td>
                    <td class="nowrap">Nuclear Technician<span class="form-hint">level 5</span></td>
                    <td class="financial">8</td>
                    <td class="financial">£160,000.00</td>
                    <td class="financial">£0.00</td>
                    <td class="financial">£55,613.40</td>
                    <td class="financial">£55,613.40</td>
                    <td class="financial">£61,406.70</td>
                    <td><a href="edit-apprenticeship" class="edit-apprenticeship">edit</a> <a href="remove-cohort-confirm" class="remove-apprenticeship">remove</a></td>
                </tr>
               

                <tr>
                    <td class="financial" colspan="4"></td>
                    <td class="financial">£1,378,762.00</td>
                    <td class="financial">£197,214.20</td>
                    <td class="financial">£189,361.20</td>
                    <td class="financial">£243,834.60</td>
                    <td class="financial">£249,627.90</td>
                    <td>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
</section>

        </div>
        <aside class="aside">
            <div class="grid-row">
                <div class="column-full">
                    <div>
        <div class="related">
         <h2 class="heading-medium">Forecasts</h2>                             
            <p>THIS IS WHERE USERS GO TO MANIPULATE THEIR DATA</p>
         <a class="button" href="start.html">Create a new forecast</a>
        </div>
<div data-module="accordion-with-descriptions">
    <div class="subsection-wrapper">
        <div class="subsection js-subsection">
            <div class="subsection__header">
                <h2 class="subsection__title">forecast 301017 16:14</h2>
                <p class="subsection__description">Last updated: 30 October 2017</p>
            </div>
            <div class="subsection__content js-subsection-content" id="subsection_content_0">
                <ul class="subsection__list">
                    <li class="subsection__list-item">
                         <a href="#1">Present forecast</a>
                    </li> 
                    <li class="subsection__list-item">
                         <a href="#1">Export data</a>
                    </li> 
                    <li class="subsection__list-item">
                         <a href="#1">Delete forecast</a>
                    </li>
                    <li class="subsection__list-item">
                         <a href="#1">Rename forecast</a>
                    </li>
                     <li class="subsection__list-item">
                         <a href="#1">Share forecast</a>
                    </li>
                     
                </ul>
            </div>
        </div>
        <div class="subsection js-subsection">
            <div class="subsection__header">
                <h2 class="subsection__title">My first forecast</h2>
                <p class="subsection__description">Last updated: 3 days ago</p>
            </div>
            <div class="subsection__content js-subsection-content" id="subsection_content_1">
                <ul class="subsection__list">
                    <li class="subsection__list-item">
                         <a href="#1">List item one</a>
                    </li>
                    <li class="subsection__list-item">
                         <a href="#1">List item two</a>
                    </li>                      
                </ul>
            </div>
        </div>
        <div class="subsection js-subsection">
            <div class="subsection__header">
                <h2 class="subsection__title">5 year forecast</h2>
                <p class="subsection__description">Last updated: just now</p>
            </div>
            <div class="subsection__content js-subsection-content" id="subsection_content_1">
                <ul class="subsection__list">
                    <li class="subsection__list-item">
                         <a href="#1">List item one</a>
                    </li>
                    <li class="subsection__list-item">
                         <a href="#1">List item two</a>
                    </li>                      
                </ul>
            </div>
        </div>
    </div>
</div>     
             
                    </div>
                </div>
            </div>
        </aside>
    
    </div>
    
  

<script src="https://cdnjs.cloudflare.com/ajax/libs/tabletop.js/1.5.1/tabletop.min.js"></script>
</main><!-- / #content -->
{% endblock %}