{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="invitations" id="content" role="main" tabindex="-1">

    {% include "includes/link-back.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="hgroup">
            <h1 class="heading-xlarge">Invitations</h1>
            </div>
        </div>
</div> 
<div class="grid-row">
    <div class="column-two-thirds">
        <table>
            <thead>
                <tr>
                    <th scope="col">Account name</th>
                    <th scope="col">What you can do</th>
                    <th>Expires in</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr class="">
                    <td class=""><span class="company-name">Acme Ltd Coventry</span>
                    </td>
                    <td>Everything – you're an owner</td>
                    <td>7 days</td>
        <td><a href="/apps/{{currentApp.appDirName}}/views/account/paye/details">Accept</a></td>
                </tr>

            </tbody>
        </table>    
</div>
</div>
</main><!-- / #content -->
{% endblock %}
