{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="forecast-index" id="content" role="main" tabindex="-1">
    {% include "includes/link-back.html" %}

    
    <div class="success-summary">
    <h3 class="heading-medium">FORECAST CREATED</h3>
    <p>YOU CAN VIEW AND AMEND YOUR FORECAST AT ANY TIME</p>
    </div>
    <div class="grid-row">
    <div class="column-two-thirds">
        <div class="hgroup form-group">
           <h1 class="heading-xlarge">
               FORECASTS
            </h1>
          <p>TELL USERS THIS IS TO VIEW AND CREATE FORECASTS </p>          
        </div>
      </div>
    </div>

        
<div id="tabs-container">
    <ul class="tabs-menu">
        <li class="current"><a href="#tab-1">YOUR FORECAST</a></li>
        <li><a href="#tab-1">ANOTHER FORECAST</a></li>
        <li class="button"><a>Create new forecast</a></li>
    </ul>
    <div id="tab-1" class="tab-content" style="">
<table class="responsive">
        <thead>
            <tr>
                <th>Month</th>
                <th>Levy credit</th>
                <th>Training costs <span class="form-hint">(Co-investment)</span></th>
                <th>Levy balance <span class="form-hint">(Expired levy)</span></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <tr>
        </tr><tr>
            <td>October 17</td>
            <td>£9,000.00</td>
            <td>£9,000.00</td>
            <td>£0.00</td>
            <td class="numeric"><a href="receive/offer-received-summary.html">Details</a></td>
        </tr>
       <tr>
            <td>November 17</td>
            <td>£9,000.00</td>
            <td>£9,000.00</td>
            <td>£0.00</td>
            <td class="numeric"><a href="receive/offer-received-summary.html">Details</a></td>
        </tr>
       <tr>
            <td>December 17</td>
            <td>£9,000.00</td>
            <td>£9,000.00</td>
            <td>£0.00</td>
            <td class="numeric"><a href="receive/offer-received-summary.html">Details</a></td>
        </tr>
       

            </tbody>

    
    
</table>
    </div>


    <div id="tab-2" class="tab-content" style="display: none;">
        <p>The quick brown fox jumps over the lazy dog.</p>
        <p>The quick brown fox jumps over the lazy dog.</p>
        <p>The quick brown fox jumps over the lazy dog.</p>
        <p>The quick brown fox jumps over the lazy dog.</p>
    </div>
</div>    


</main><!-- / #content -->
{% endblock %}
