{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="transfers-dashboard" id="content" role="main" tabindex="-1">
    {% include "includes/link-back.html" %}

    
    <div class="success-summary hidden" id="apprenticeshipAdded">
    <h3 class="heading-medium">Apprenticeship added</h3>
    <p>The estimated values will remain in your transfer projection until their start date(s) is past date.</p>
</div>    
    
    <div class="success-summary hidden" id="confirmRemoved">
    <h3 class="heading-medium">Apprenticeship removed</h3>
    <p>The apprenticeship {apprenticeship name} has been removed. <a href="#">Undo</a></p>
</div>
    
    <div class="success-summary hidden" id="estimateSaved">
    <h3 class="heading-medium">Estimate saved</h3>
    <p>The estimated values will remain in your transfer projection until their start date(s) is past date.</p>
</div>
         
    
<div class="grid-row">
        <div class="column-two-thirds">
            <div class="hgroup">
            <h1 class="heading-xlarge">
        Forecast apprenticeships using transferred funds
      </h1>
                
                <p class="lede">Estimate how many apprentices you can fund from your transfer allowance</p>
            <p>we will only be showing the uncommitted transfer allowance.
to find out how much they have comitted is current allowance – total allowance.</p>
    
                
                <a class="button" href="../forecasting/add-cohort-wizard.html">Add an apprenticeship</a>                

</div>
        </div>
    </div> 

  
    <div id="empty-state" class="hidden">
                        <h2 class="heading-medium">Transfer projection balance</h2>
        <table class="" id="empty-table">
                    <thead>
            <tr>
                <th>Year</th>
                <th>Transfer allowance</th>
                <th class="">Actual cost of training</th>
                <th>Your estimated cost of modelled training</th>
                <th>Transfer allowance remaining</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2018/19</td>
                <td>- - </td>
                <td>- - </td>
                <td>- - </td>
                <td>- - </td>
            </tr>
    </tbody>
            </table>        <span class="form-hint">You currently have no transfers to forecast, <a href="add-cohort-wizard.html">Add an apprenitce</a> to populate your balance.</span>

        
                   <h2 class="heading-medium">Apprenticeships transfer projection</h2>
        <table class="small" id="">
                    <thead>
            <tr>
                <th>Start date</th>
                <th>Apprenticeship</th>
                <th>Number of apprenitces</th>
                <th>Total cost of training</th>
                <th>Cost of training 18/19</th>
                <th>Cost of training 19/20</th>
                <th>Cost of training 20/21</th>
                <th>Cost of training 21/22</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

    </tbody>
            </table>
 <span class="form-hint">You currently have no transfers to forecast, <a href="add-cohort-wizard.html">Add an apprenitce</a> to populate your projection.</span>
    </div>
    
    
<div id="transactions" class="container" style="">
                    <h2 class="heading-medium">Transfer projection balance</h2>
        <table class="small" id="transferProjectionBalance">
                    <thead>
            <tr>
                <th>Year</th>
                <th>Transfer allowance</th>
                <th class="">Actual cost of training</th>
                <th>Your estimated cost of modelled training</th>
                <th>Transfer allowance remaining</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2020/2021</td>
                <td>£999.999</td>
                <td>£999,999</td>
                <td>£999,999</td>
                <td><a href="monthly-transfer-forecast">Details</a></td>
            </tr>
    </tbody>
            </table>
        <a href="monthly-transfer-forecast.html" class="hidden">View monthly figures</a>
    </div>    

    <div id="apprenticeships" class="container" style="">
                    <h2 class="heading-medium">Apprenticeships transfer projection</h2>
        <table class="small" id="apprenticeshipsTransferProjection">
                    <thead>
            <tr>
                <th>Start date</th>
                <th>Apprenticeship</th>
                <th>Number of apprenitces</th>
                <th>Total cost of training</th>
                <th>Cost of training 18/19</th>
                <th>Cost of training 19/20</th>
                <th>Cost of training 20/21</th>
                <th>Cost of training 21/22</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

    </tbody>
            </table>
        </div>    
    <br>
    <!--<a class="button secondary save" href="forecast-transfer?msg=saved">Save estimate</a>-->
</main><!-- / #content -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/tabletop.js/1.5.1/tabletop.min.js'></script>

{% endblock %}
