{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="forecastEnglishPercentage" id="content" role="main" tabindex="-1">
    {% include "includes/link-back.html" %}

    <div class="grid-row">
    <div class="column-two-thirds">
        <div class="hgroup form-group">
           <h1 class="heading-xlarge">
               ENGLISH % QUESTION
            </h1>
          <p>WHAT IS YOUR CURRENT ENGLISH %.</p>          
        </div>
      </div>
    </div>
    
    <div class="grid-row">
        <div class="column-two-thirds">
<form class="">
                                <fieldset>
<div class="form-group">
            <label class="form-label" for="english-value">English percentage</label>
            <input class="form-control text-box-with-unit-after percentage-mask" id="english-value" name="english-value" type="text" style="width: 80px">
            <label for="english-value" class="text-box-unit">%</label>
        </div>
                                </fieldset>
                                                                    <div class="form-group">
            <a class="button" href="view-levy.html">Continue</a>
                                    </div> 
                            </form>
            
        </div>
    </div>
   

</main><!-- / #content -->
{% endblock %}
