{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="forecastIndexWide" id="content" role="main" tabindex="-1">
    

<link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.18/c3.min.css" media="screen" rel="stylesheet" type="text/css" />    

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js" type="text/javascript"></script>
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.18/c3.min.js" type="text/javascript"></script>
    
    <div class="wrapper">
    
        <div class="main">
    
    <div class="success-summary">
    <h3 class="heading-medium">FORECAST CREATED</h3>
    <p class="text">YOU CAN VIEW AND AMEND YOUR FORECAST AT ANY TIME</p>
        <a href="#" class="button" id="saveForecast">Save your forecast</a>
    </div>
    <div class="grid-row">
    <div class="column-two-thirds">
        <div class="hgroup form-group">
           <h1 class="heading-xlarge">
               forecast 301017 16:14
               <span class="heading-secondary">(Not saved)</span>
            </h1>
        </div>
      </div>
    </div>

        
<div id="tabs-container">
    <ul class="tabs-menu">
        <li class="current"><a href="#tab-1">Graph</a></li>
        <li><a href="#tab-2">Balance sheet</a></li>
        <li><a href="#tab-3">Funding in</a></li>
        <li><a href="#tab-4">Funding out</a></li>
    </ul>
    <div id="tab-1" class="tab-content">
        

<div id="chart" style="margin-top: 50px;"></div>
        

        <div class="grid-row">
            <div class="column-quarter">
            <div class="data pink">
                <h2 class="data-item bold-large" id="data-1">£2,150</h2>
                <h2 class="data-item bold-small">Committed to training</h2>
            </div>
            </div>
            <div class="column-quarter">
            <div class="data purple">
                <h2 class="data-item bold-large" id="data-2">£2,150</h2>
                <h2 class="data-item bold-small">Levy funding</h2>
            </div>            
            </div>
            <div class="column-quarter">
            <div class="data fuscia">
                <h2 class="data-item bold-large expiring-funds" id="data-3">£2,150</h2>
                <h2 class="data-item bold-small">Training costs</h2>
            </div>
            </div>
            <div class="column-quarter">
            <div class="data">
                <h2 class="data-item bold-large expiring-funds" id="data-4">£0</h2>
                <h2 class="data-item bold-small">Transfer balance</h2>
            </div>
            </div>
        </div>
                
    </div>


    <div id="tab-2" class="tab-content">
<table class="responsive">
        <thead>
            <tr>
                <th>Month</th>
                <th>Contribution to levy</th>
                <th>Total training costs</th>
                <th>Expired funds</th>
                <th>Cofunded training costs</th>
                <th>Employer contribution</th>
                <th>Remaining levy</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>October 17</td>
            <td>£129,800</td>
            <td>£0</td>
            <td>£0</td>
            <td>£0</td>
            <td>£0</td>
            <td>£908,600</td>
        </tr>
        <tr>
            <td>November 17</td>
            <td>£129,800</td>
            <td>£0</td>
            <td>£0</td>
            <td>£0</td>
            <td>£0</td>
            <td>£1,038,400</td>
        </tr>
        <tr>
            <td>December 17</td>
            <td>£129,800</td>
            <td>£0</td>
            <td>£0</td>
            <td>£0</td>
            <td>£0</td>
            <td>£1,168,200</td>
        </tr>
        <tr>
            <td>January 18</td>
            <td>£129,800</td>
            <td>£0</td>
            <td>£0</td>
            <td>£0</td>
            <td>£0</td>
            <td>£1,298,000</td>
        </tr>
        <tr>
            <td>February 18</td>
            <td>£129,800</td>
            <td>£0</td>
            <td>£0</td>
            <td>£0</td>
            <td>£0</td>
            <td>£1,427,800</td>
        </tr>
        <tr>
            <td>March 18</td>
            <td>£129,800</td>
            <td>£0</td>
            <td>£0</td>
            <td>£0</td>
            <td>£0</td>
            <td>£1,557,600</td>
        </tr>
        <tr>
            <td>April 18</td>
            <td>£129,800</td>
            <td>£0</td>
            <td>£0</td>
            <td>£0</td>
            <td>£0</td>
            <td>£1,687,400</td>
        </tr>
        <tr>
            <td>May 18</td>
            <td>£129,800</td>
            <td>£0</td>
            <td>£0</td>
            <td>£0</td>
            <td>£0</td>
            <td>£1,817,200</td>
        </tr>
        <tr>
            <td>June 18</td>
            <td>£129,800</td>
            <td>£0</td>
            <td>£0</td>
            <td>£0</td>
            <td>£0</td>
            <td>£1,947,000</td>
        </tr>
        <tr>
            <td>July 18</td>
            <td>£129,800</td>
            <td>£0</td>
            <td>£0</td>
            <td>£0</td>
            <td>£0</td>
            <td>£2,076,800</td>
        </tr>
        <tr>
            <td>August 18</td>
            <td>£129,800</td>
            <td>£134,378</td>
            <td>£0</td>
            <td>£0</td>
            <td>£0</td>
            <td>£2,072,222</td>
        </tr>
        <tr>
            <td>September 18</td>
            <td>£129,800</td>
            <td>£134,378</td>
            <td>£0</td>
            <td>£0</td>
            <td>£0</td>
            <td>£2,067,644
</td>
        </tr>
        <tr>
            <td>October 18</td>
            <td>£129,800</td>
            <td>£134,378</td>
            <td>£0</td>
            <td>£0</td>
            <td>£0</td>
            <td>£2,063,067
</td>
        </tr>
        <tr>
            <td>November 18</td>
            <td>£129,800</td>
            <td>£134,378</td>
            <td>£0</td>
            <td>£0</td>
            <td>£0</td>
            <td>£2,058,489
</td>
        </tr>
        <tr>
            <td>December 18</td>
            <td>£129,800</td>
            <td>£134,378</td>
            <td>£0</td>
            <td>£0</td>
            <td>£0</td>
            <td>£2,053,911
</td>
        </tr>
        <tr>
            <td>January 19</td>
            <td>£129,800</td>
            <td>£134,378</td>
            <td>£0</td>
            <td>£0</td>
            <td>£0</td>
            <td>£2,049,333
</td>
        </tr>
        <tr>
            <td>February 19</td>
            <td>£129,800</td>
            <td>£134,378</td>
            <td>£0</td>
            <td>£0</td>
            <td>£0</td>
            <td>£2,044,756
</td>
        </tr>
        <tr>
            <td>March 19</td>
            <td>£129,800</td>
            <td>£134,378</td>
            <td>£0</td>
            <td>£0</td>
            <td>£0</td>
            <td>£2,040,178
</td>
        </tr>
        <tr>
            <td>April 19</td>
            <td>£129,800</td>
            <td>£134,378</td>
            <td>£0</td>
            <td>£0</td>
            <td>£0</td>
            <td>£2,035,600
</td>
        </tr>
        <tr>
            <td>May 19</td>
            <td>£129,800</td>
            <td>£134,378</td>
            <td>£0</td>
            <td>£0</td>
            <td>£0</td>
            <td>£2,031,022
</td>
        </tr>
        <tr>
            <td>June 19</td>
            <td>£129,800</td>
            <td>£134,378</td>
            <td>£0</td>
            <td>£0</td>
            <td>£0</td>
            <td>£2,026,444
</td>
        </tr>
        <tr>
            <td>July 19</td>
            <td>£129,800</td>
            <td>£134,378</td>
            <td>£0</td>
            <td>£0</td>
            <td>£0</td>
            <td>£2,021,867
</td>
        </tr>
        <tr>
            <td>August 19</td>
            <td>£129,800</td>
            <td>£134,378</td>
            <td>£0</td>
            <td>£0</td>
            <td>£0</td>
            <td>£2,017,289
</td>
        </tr>
        <tr>
            <td>September 19</td>
            <td>£129,800</td>
            <td>£134,378</td>
            <td>£0</td>
            <td>£0</td>
            <td>£0</td>
            <td>£2,012,711
</td>
        </tr>
            </tbody>

    
    
</table>   
    </div>
    
    <div id="tab-3" class="tab-content">
                <h4 class="heading-small">Funds in</h4>
        <p>Includes both levy and transfers in.</p>
        <a class="button" href="#">Add new levy declarations</a>
        <a class="button hidden" href="#">Add new inbound transfer</a>
<table>
                <thead>
                    <tr>
                        <th scope="col"><span class="no-wrap">Date</span></th>
                        <th scope="col" class="mobile-hide-cell">Description</th>
                        <th scope="col" class="numeric">Amount</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                   <tr>
                            <td>
                                <span class="no-wrap"> 22 October 2017 </span>
                            </td>
                            <td class="mobile-hide-cell">
                                <span class="description">
                                    Levy funds
                                </span>
                            </td>
                            <td class="numeric"> £5,000</td>
                            <td class="numeric">
                                    <a title="View details for the transaction on 15 Mar 2018" href="/sprint/49/account/finance/levy.html">
                                        Details <span class="vh"> for the transaction on 20 Oct 2018</span>
                                    </a>
                            </td>
                        </tr>
                    <tr>
                            <td>
                                <span class="no-wrap"> 22 October 2017 </span>
                            </td>
                            <td class="mobile-hide-cell">
                                <span class="description">
                                    Transfer of funds
                                </span>
                            </td>
                            <td class="numeric"> £300</td>
                            <td class="numeric">
                                    <a title="View details for the transaction on 15 Mar 2018" href="/sprint/49/account/finance/levy.html">
                                        Details <span class="vh"> for the transaction on 20 Oct 2018</span>
                                    </a>
                            </td>
                        </tr>
                </tbody>
            </table>
    </div>
    <div id="tab-4" class="tab-content">
        <h4 class="heading-small">Funds out</h4>
        <p>Includes both committed figures and future estimates.</p>
        <a class="button" href="#">Add more new cohorts</a>
        <a class="button hidden" href="#">Add new outbound transfer</a>
<table>
                <thead>
                    <tr>
                        <th scope="col"><span class="no-wrap">Date</span></th>
                        <th scope="col" class="mobile-hide-cell">Description</th>
                        <th scope="col" class="numeric">Amount</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                   <tr>
                            <td>
                                <span class="no-wrap"> 22 October 2017 </span>
                            </td>
                            <td class="mobile-hide-cell">
                                <span class="description">
                                   Commitment: High voltage engineer level 3
                                </span>
                            </td>
                            <td class="numeric">-£350</td>
                            <td class="numeric">
                                    <a title="View details for the transaction on 15 Mar 2018" href="/sprint/49/account/finance/levy.html">
                                        Details <span class="vh"> for the transaction on 20 Oct 2018</span>
                                    </a>
                            </td>
                        </tr>
                    <tr>
                            <td>
                                <span class="no-wrap"> 22 October 2017 </span>
                            </td>
                            <td class="mobile-hide-cell">
                                <span class="description">
                                   Forecast: Site safety manager level 2
                                </span>
                            </td>
                            <td class="numeric">-£350</td>
                            <td class="numeric">
                                    <a title="View details for the transaction on 15 Mar 2018" href="/sprint/49/account/finance/levy.html">
                                        Details <span class="vh"> for the transaction on 20 Oct 2018</span>
                                    </a>
                            </td>
                        </tr>
                    <tr>
                            <td>
                                <span class="no-wrap"> 22 October 2017 </span>
                            </td>
                            <td class="mobile-hide-cell">
                                <span class="description">
                                    Transfer of funds
                                </span>
                            </td>
                            <td class="numeric">-£300</td>
                            <td class="numeric">
                                    <a title="View details for the transaction on 15 Mar 2018" href="/sprint/49/account/finance/levy.html">
                                        Details <span class="vh"> for the transaction on 20 Oct 2018</span>
                                    </a>
                            </td>
                        </tr>
                </tbody>
            </table>    
    </div>
</div>  
        </div>
        <aside class="aside">
            <div class="grid-row">
                <div class="column-full">
                    <div>
        <div class="hgroup">
         <h2 class="bold-xlarge">Forecasts</h2>                             
            <p>TELL USERS THIS IS TO VIEW AND CREATE FORECASTS TELL USERS THIS IS TO VIEW AND CREATE FORECASTS TELL USERS THIS IS TO VIEW AND CREATE FORECASTS</p>
         <a class="button" href="start.html">Create a new forecast</a>
        </div>
                        
                        <div class="related">
                                <h2 class="heading-medium">Manage existing forecasts</h2>
                            <div class="panel panel-width-thin" id="noForecasts">
                                <p>You have no existing forecasts, you can <a href="start.html">create a new forecast</a>.</p>
                            </div>
<div data-module="accordion-with-descriptions" class="hidden" id="existingForecasts">
    <div class="subsection-wrapper">
        <div class="subsection js-subsection">
            <div class="subsection__header">
                <h2 class="subsection__title">forecast 301017 16:14</h2>
                <p class="subsection__description">Last updated: 30 October 2017</p>
            </div>
            <div class="subsection__content js-subsection-content" id="subsection_content_0">
                <ul class="subsection__list">
                    <li class="subsection__list-item">
                         <a href="#1">Present forecast</a>
                    </li> 
                    <li class="subsection__list-item">
                         <a href="#1">Export data</a>
                    </li> 

                    <li class="subsection__list-item">
                         <a href="#1">Rename forecast</a>
                    </li>
                     <li class="subsection__list-item">
                         <a href="#1">Share forecast</a>
                    </li>
                    <li class="subsection__list-item">
                         <a href="#1">Delete forecast</a>
                    </li>                     
                </ul>
            </div>
        </div>
        <div class="subsection js-subsection">
            <div class="subsection__header">
                <h2 class="subsection__title">My first forecast</h2>
                <p class="subsection__description">Last updated: 3 days ago</p>
            </div>
            <div class="subsection__content js-subsection-content" id="subsection_content_1">
                <ul class="subsection__list">
                    <li class="subsection__list-item">
                         <a href="#1">List item one</a>
                    </li>
                    <li class="subsection__list-item">
                         <a href="#1">List item two</a>
                    </li>                      
                </ul>
            </div>
        </div>
        <div class="subsection js-subsection">
            <div class="subsection__header">
                <h2 class="subsection__title">5 year forecast</h2>
                <p class="subsection__description">Last updated: just now</p>
            </div>
            <div class="subsection__content js-subsection-content" id="subsection_content_1">
                <ul class="subsection__list">
                    <li class="subsection__list-item">
                         <a href="#1">List item one</a>
                    </li>
                    <li class="subsection__list-item">
                         <a href="#1">List item two</a>
                    </li>                      
                </ul>
            </div>
        </div>
    </div>
</div>     
                        </div>
                    </div>
                </div>
            </div>
        </aside>
    
    </div>
    
  


</main><!-- / #content -->
{% endblock %}