{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="choose-funding" id="content" role="main" tabindex="-1">
<div class="grid-row">
           <div class="column-two-thirds">
               <div class="hgroup">
                   <div class="text"><h1 class="heading-large">Choose funding option</h1>
                   </div>
</div>          
               </div>
    </div>
    <form action="">
    <div class="form-group">
        <legend class="bold-small hidden">Choose an option?</legend>
    </div>
        <div class="form-group">
            <div class="multiple-choice">

        <input id="approve" type="radio" name="next" value="approve" class="">
      <label data-target="approve" for="approve">
Fund through co-investment
                </label>
            </div>
            <div class="multiple-choice">

        <input id="send" type="radio" name="next" value="send">
            <label data-target="send" for="send">
Fund through a transfer of levy from a levy paying employer
                </label>
                 </div>
      </div>

  
      <a class="button" href="../finance/transfers/account-id.html" id="submit">Continue</a>
      
</form>

</main><!-- / #content -->
{% endblock %}
