{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="cohorts-waiting-to-start" id="content" role="main" tabindex="-1">

    {% include "includes/link-back.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="hgroup">
                <h1 class="heading-large">Cohorts for approval</h1>
                <p class="lede">You have 4 cohorts ready for your approval.</p>
            </div>
        </div>
    </div>
    
<table id="transactionsOUT">
      

                    <thead>
                      <tr>
                        <th scope="col" class="mini-pad">Provider</th>
                        <th scope="col">Cohort reference</th>
                        <th class="" scope="col" style="">Last message</th>

                        <th scope="col"></th>
                      </tr>
                    </thead>

                      <tbody><tr>
                        <td class="mini-pad">Acme Training Ltd</td>
                        <td>98HGS3F</td>
                        <td style="max-width:300px">This is contract ref#90210, Assistant Accountant level 2.</td>

                        <td class=""><a href="review-your-cohort.html">Details</a></td>
                      </tr>
                      <tr>
                        <td class="mini-pad">Hackney Skills &amp; Training Ltd</td>
                        <td>55HGS3F</td>
                        <td style="max-width:300px">This is a message that has been added. It runs along the bottom of the card for now.</td>

                        <td class=""><a href="review-your-cohort.html">Details</a></td>
                      </tr>
                      <tr>
                        <td class="mini-pad">Lots of skills Ltd</td>
                        <td>999GHY4</td>
                        <td style="max-width:300px">This is a message that has been added. It runs along the bottom of the card for now.</td>

                        <td class=""><a href="review-your-cohort.html">Details</a></td>
                      </tr>
                       <tr>
                        <td class="mini-pad">Skills, Skills, Skills Ltd</td>
                        <td>999GHY4</td>
                        <td style="max-width:300px">This is a message that has been added. It runs along the bottom of the card for now.</td>

                        <td class=""><a href="review-your-cohort.html">Details</a></td>
                      </tr>

                    </tbody>
                </table>

</main><!-- / #content -->
{% endblock %}
