{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="manage-apprentices" id="content" role="main" tabindex="-1">

    {% include "includes/link-back.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="hgroup">
            <h1 class="heading-xlarge">Apprentices</h1>
                <p>Add cohorts of apprentices and manage them after.</p>
            </div>
        </div>
</div> 
    
    <div class="grid-row">

            <div class="column-half ">
              <h3 class="heading-medium" style="margin-top:0"><a href="start.html">Add an apprentice</a></h3>
              <p class="rj-home-spacer">Add apprentices to a new cohort or ask your training provider to add them.</p>
            </div>
            <div class="column-half ">
              <h3 class="heading-medium " style="margin-top:0; "><a href="your-cohort-requests.html">Your cohorts</a></h3>
              <p class="rj-home-spacer">Review, edit, approve and add more apprentices to cohorts you've already started.</p>
            </div>
            <div class="column-half ">
              <h3 class="heading-medium " style="margin-top:0; "><a href="manage.html">Manage apprentices</a></h3>
              <p class="rj-home-spacer">Review, edit, approve and add more apprentices to cohorts you've already started.</p>
            </div>
          </div> 

</main><!-- / #content -->
{% endblock %}
