{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="review-your-cohort" id="content" role="main" tabindex="-1">
<div class="grid-row">
           <div class="column-two-thirds">
               <div class="hgroup">
                   <div class="text"><h1 class="heading-large">Review your cohort</h1>
                       <p class="lede">There are <strong class="bold-small">25</strong> apprentices </p>
                   </div>
</div>          
               </div>
    </div>
    <div class="grid-row form-group">

     <div class="column-third">
                <div class="data purple">
                  <h2 id="numberOfApprentices" class="bold-xlarge">19</h2>
                  <h2 class="heading-medium">Apprentices</h2>
              </div>
    </div>
         <div class="column-third" style="">
                <div class="data fuscia">
                  <h2 id="numberOfApprentices" class="bold-xlarge">10</h2>
                  <h2 class="heading-medium">Incomplete records</h2>
              </div>
    </div>
         <div class="column-third" style="">
                <div class="data pink">
                  <h2 id="totalCostOfApprentices" class="bold-xlarge">£25,120</h2>
                  <h2 class="heading-medium">Total cost</h2>
              </div>

    </div>
  </div>

    
    <div class="grid-row">
           <div class="column-half">
               <dl>
                <dt>Provider</dt>
                <dd>Acme Training Ltd</dd>
                   <dt>Reference</dt>
                   <dd>98HGS3F</dd>
               </dl>
            </div>

        <div class="column-half">
            <div class="panel panel-width-thin">There is space here for a short note to be added by the last party to make an amend.</div>
        </div>
</div>
        <hr/>
         <div class="commit-bar">
             <a class="button" href="choose-an-option.html">Save and continue</a>

             <a class="button secondary" href="choose-how-to-add-apprenitces.html">Add apprentices</a>
             
             <a class="button text-link right" href="#">View the payment schedule</a>
        </div>          
           <hr />
    
    
    
    <div class="grid-row">
    
        <div class="column-full">
            <h2 class="heading-medium" style="margin-bottom:5px" id="apprenticeReplaceMe">19 Mechatronics Engineers</h2>
            <dl>
                <dt>Level</dt>
                <dd>4</dd>
                <dt>Training code</dt>
                <dd>3246</dd>
            </dl>
        </div>
        
    </div>
    
<table>
    <thead>
        <tr>
            <th scope="col" class="">Name</th>
            <!--th scope="col" class="">Family<br />name</th-->
            <th id="" scope="col" class="" style="width: 100px">ULN</th>
            <th id="" scope="col" class="">Date of birth</th>
            <th scope="col" class="">Training dates</th>
            <!--th scope="col" class="">Endpoint Assessor</th-->
            <th scope="col" class="" style="padding-top:0; width: 100px">Cost</th>
            <!--th scope="col" style="padding-top:0"></th-->
        </tr>
    </thead>
    <tbody>

        <tr>
            <td style="">David Edwards</td>
            <td style="">- - </td>
            <td style="">11/2018 to 10/2020</td>
            <td style="">£1,500</td>
            <td><a href="#">Edit</a></td>
        </tr>
        <tr>
            <td style="">Rob Andrews</td>
            <td style="">- - </td>
            <td style="">11/2018 to 10/2020</td>
            <td style="">£1,500</td>
            <td><a href="#">Edit</a></td>
        </tr>
        <tr>
            <td style="">Mellisa Shaw</td>
            <td style="">- - </td>
            <td style="">11/2018 to 10/2020</td>
            <td style="">£1,500</td>
            <td><a href="#">Edit</a></td>
        </tr>
        <tr>
            <td style="">Brendan Hamazaki</td>
            <td style="">- - </td>
            <td style="">11/2018 to 10/2020</td>
            <td style="">£1,500</td>
            <td><a href="#">Edit</a></td>
        </tr>
        <tr>
            <td style="">Gary Barton</td>
            <td style="">- - </td>
            <td style="">11/2018 to 10/2020</td>
            <td style="">£1,500</td>
            <td><a href="#">Edit</a></td>
        </tr>
        <tr>
            <td style="">David Edwards</td>
            <td style="">- - </td>
            <td style="">11/2018 to 10/2020</td>
            <td style="">£1,500</td>
            <td><a href="#">Edit</a></td>
        </tr>
        <tr>
            <td style="">Rob Andrews</td>
            <td style="">- - </td>
            <td style="">11/2018 to 10/2020</td>
            <td style="">£1,500</td>
            <td><a href="#">Edit</a></td>
        </tr>
        <tr>
            <td style="">Mellisa Shaw</td>
            <td style="">- - </td>
            <td style="">11/2018 to 10/2020</td>
            <td style="">£1,500</td>
            <td><a href="#">Edit</a></td>
        </tr>
        <tr>
            <td style="">Brendan Hamazaki</td>
            <td style="">- - </td>
            <td style="">11/2018 to 10/2020</td>
            <td style="">£1,500</td>
            <td><a href="#">Edit</a></td>
        </tr>
        <tr>
            <td style="">Gary Barton</td>
            <td style="">- - </td>
            <td style="">11/2018 to 10/2020</td>
            <td style="">£1,500</td>
            <td><a href="#">Edit</a></td>
        </tr>
        <tr>
            <td style="">unknown</td>
            <td style="">- - </td>
            <td style="">7/2018 to null/null</td>
            <td style="">- -</td>
            <td><a href="#">Edit</a></td>
        </tr>
        <tr>
            <td style="">unknown</td>
            <td style="">- - </td>
            <td style="">7/2018 to null/null</td>
            <td style="">- -</td>
            <td><a href="#">Edit</a></td>
        </tr>
        <tr>
            <td style="">unknown</td>
            <td style="">- - </td>
            <td style="">7/2018 to null/null</td>
            <td style="">- -</td>
            <td><a href="#">Edit</a></td>
        </tr>
        <tr>
            <td style="">unknown</td>
            <td style="">- - </td>
            <td style="">7/2018 to null/null</td>
            <td style="">- -</td>
            <td><a href="#">Edit</a></td>
        </tr>
        <tr>
            <td style="">David Edwards</td>
            <td style="">- - </td>
            <td style="">11/2018 to 10/2020</td>
            <td style="">£1,500</td>
            <td><a href="#">Edit</a></td>
        </tr>
        <tr>
            <td style="">Rob Andrews</td>
            <td style="">- - </td>
            <td style="">11/2018 to 10/2020</td>
            <td style="">£1,500</td>
            <td><a href="#">Edit</a></td>
        </tr>
        <tr>
            <td style="">Mellisa Shaw</td>
            <td style="">- - </td>
            <td style="">11/2018 to 10/2020</td>
            <td style="">£1,500</td>
            <td><a href="#">Edit</a></td>
        </tr>
        <tr>
            <td style="">Brendan Hamazaki</td>
            <td style="">- - </td>
            <td style="">11/2018 to 10/2020</td>
            <td style="">£1,500</td>
            <td><a href="#">Edit</a></td>
        </tr>
        <tr>
            <td style="">Gary Barton</td>
            <td style="">- - </td>
            <td style="">11/2018 to 10/2020</td>
            <td style="">£1,500</td>
            <td><a href="#">Edit</a></td>
        </tr>
    </tbody>
</table>
    
    <div class="page-navigation">
                    <a class="previous" href="#">
                        <i class="arrow-button fa fa-angle-left"></i>
                        <span class="description">Previous <span class="hide-mob">page</span></span>
                        <span class="counter">Page <span class="prevPage">1</span> of <span class="totalPage">10</span></span>
                    </a>
                    <a class="next" href="#">
                        <i class="arrow-button fa fa-angle-right"></i>
                        <span class="description">Next <span class="hide-mob">page</span></span>
                        <span class="counter">Page <span class="nextPage">3</span> of <span class="totalPage">10</span></span>
                    </a>

                </div>

</main><!-- / #content -->
{% endblock %}
