{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="cohort-transfer-cancelled" id="content" role="main" tabindex="-1">

    <div class="grid-row">
                    <div class="column-two-thirds">


             <div class="error-summary">
                 <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-2">Transfer cancelled</h1>
                 <p>Your apprenticeship cohort will now be funded through co-investment</p>
            </div>
                        
                         <form>
    <legend>
        <h1 class="heading-medium">Next steps</h1>
      </legend>
        <div class="form-group">
      <div class="multiple-choice">
        <input id="radio-1" type="radio" name="radio-group" value="apprentice">
        <label for="radio-1">Go back the apprenticeship dashboard</label>
      </div>
      <div class="multiple-choice">
        <input id="radio-2" type="radio" name="radio-group" value="homepage">
        <label for="radio-2">Go back to the homepage</label>
      </div>
  </div>
        <a class="button" href="request-accepted-next-steps.html">Continue</a>
    </form>
    
   
        </div>
        </div>

</main><!-- / #content -->
{% endblock %}
