{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="apprenticeship-waiting-transfer" id="content" role="main" tabindex="-1">
    {% include "includes/link-back.html" %}

    <div class="grid-row">
    <div class="column-two-thirds">
        <div class="hgroup form-group">
           <h1 class="heading-large">Request received</h1>
            <p class="lede">Your transfer summary.</p>
        </div>
      </div>
    </div>
    
    
  <div class="grid-row">
        <div class="column-two-thirds">
<h2 class="heading-medium">
Sending employer
            </h2>    
<dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            Name
          </dt>
          <dd class="cya-answer">
            Acme Ltd
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Account ID
          </dt>
          <dd class="cya-answer">
            AS4XF
          </dd>

        </div>
    
      </dl>
            
<h2 class="heading-medium">
Transfer details
</h2>    
<dl class="govuk-check-your-answers cya-questions-short">   
    <div>
          <dt class="cya-question">
              Total amount
          </dt>
          <dd class="cya-answer">
              £6,000
          </dd>
        </div> 
    <div>
          <dt class="cya-question" id="yearOneCost">
              Due in year 1
          </dt>
          <dd class="cya-answer">
              £1,129.40
          </dd>
        </div>   
      </dl>
            
<h2 class="heading-medium">
    Apprenticeships
</h2>    
<dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            Apprenticeship
          </dt>
          <dd class="cya-answer">
            Assistant Accountant
              <span class="form-hint">level 2</span>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Apprentices
          </dt>
          <dd class="cya-answer">
            1
          </dd>

        </div>
    
        <div>
          <dt class="cya-question">
            Start date
          </dt>
          <dd class="cya-answer">
            November 2017
          </dd>

        </div>    
        <div>
          <dt class="cya-question">
            Duration
          </dt>
          <dd class="cya-answer">
            18 months
          </dd>

        </div>
                
        <div>
          <dt class="cya-question">
            Monthly cost
          </dt>
          <dd class="cya-answer">
            £282.35
          </dd>

        </div>                
        <div>
          <dt class="cya-question">
            End payment
          </dt>
          <dd class="cya-answer">
            £1,200
          </dd>

        </div>
    
      </dl>  
            <br>
            <a href="payment-plan.html">View payment plan</a>
            


  
    
    <form>
    <legend>
        <h1 class="heading-medium">Do you wish to cancel this transfer request?</h1>
      </legend>
        <div class="form-group">
      <div class="multiple-choice">
        <input id="radio-1" type="radio" name="radio-group" value="yes">
        <label for="radio-1">Yes, I will co-invest this apprenticeship cohort instead</label>
      </div>
      <div class="multiple-choice">
        <input id="radio-2" type="radio" name="radio-group" value="no">
        <label for="radio-2">No, I will wait for the sending employer to respond</label>
      </div>
  </div>
        <a class="button" href="request-accepted-next-steps.html">Continue</a>
    </form>
    
</div></div>

</main><!-- / #content -->
{% endblock %}
