{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="confirm-training-provider" id="content" role="main" tabindex="-1">
<div class="grid-row">
           <div class="column-two-thirds">
               <div class="hgroup">
                   <div class="text"><h1 class="heading-large">Confirm training provider</h1></div>
</div>
                   
                   <div class="panel panel-width-thin">
                    <p class="data-item bold-large">Hackney Skills and Training Ltd</p>
                       <dl>
                        <dt>Address</dt>
                           <dd><address>93 Hackney Rd, London, EC1V 3QJ</address></dd>
                           <dt>UKPRN</dt>
                           <dd>90 21 05 55 66</dd>
                       </dl>
                       
                   </div>
               
<form action="">
    <div class="form-group">
        <legend class="bold-small">Is this the main provider of the apprenticeship training?</legend>
    </div>
        <div class="form-group">
            <div class="multiple-choice">

        <input id="yes" type="radio" name="next" value="yes" class="">
      <label data-target="yes" for="yes">
Yes, use Hackney Skills &amp; Training Ltd
    </label>
            </div>
            <div class="multiple-choice">

        <input id="no" type="radio" name="next" value="no">
            <label data-target="no" for="no">
No, change UK Provider Reference Number
                </label>
                 </div>
      </div>

  
      <a class="button" href="start-adding-apprentices.html" id="submit">Continue</a>
      
</form>

  
            </div>

</div>


</main><!-- / #content -->
{% endblock %}
