{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="bulk-upload-apprentices" id="content" role="main" tabindex="-1">
<div class="grid-row">
           <div class="column-two-thirds">
               <div class="hgroup">
                   <div class="text"><h1 class="heading-large">Bulk upload apprentices</h1>
                   <p class="lede">
You can add details for more than one apprentice at the same time - you must use a template to do this.
                       </p>
                   <p>If you ask your training provider to add them, you need to check and agree the details before any payments are made.</p>
                   </div>
</div>
               
               <h2 class="heading-medium">Before you start</h2>
               <p>You must:</p>
               <ul class="list list-links">
                <li>use a template to create a separate file for each individual training course and level - each file should only list the apprentices for that apprenticeship</li>
               <li>know the full name, date of birth, planned start and end dates, apprenticeship training course and apprenticeship training price for each apprentice you're adding</li>
               </ul>
                
            
      <a class="button" href="choose-bulk-upload-file.html" id="submit">Continue</a>
    
            </div>
    
<div class="column-one-third">
                      <aside class="related">
                        <h2 class="heading-medium" style="margin-top:20px">Adding multiple apprentices?</h2>
                          <p>Download a template and add apprentice details to it, then use it to add them all at the same time.</p>
                          <div class="attachment-thumb form-group">
                                           <img src="https://www.gov.uk/government/assets/pub-cover-spreadsheet-471052e0d03e940bbc62528a05ac204a884b553e4943e63c8bffa6b8baef8967.png">
                         </div>
                      <ul class="robSideNav">
                          <li>
                            <a href="#">Download as MS Excel (78KB)</a>
                          </li>
                         </ul>
                    </aside>
            </div>

</div>


</main><!-- / #content -->
{% endblock %}
