{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="start-adding-apprentices" id="content" role="main" tabindex="-1">
<div class="grid-row">
           <div class="column-two-thirds">
               <div class="hgroup">
                   <div class="text"><h1 class="heading-large">Start adding apprentices</h1>
                   <p class="lede">
                       You can start adding details of your apprentices or ask your training provider to add them for you.
                       </p>
                   <p>If you ask your training provider to add them, you need to check and agree the details before any payments are made.</p>
                   </div>
</div>
                
               
<form action="">
    <div class="form-group">
        <legend class="bold-small">Who will add apprentices?</legend>
    </div>
        <div class="form-group">
            <div class="multiple-choice">

        <input id="employer" type="radio" name="radio-group" value="employerwilladd" class="">
      <label data-target="employer" for="employer">
I will add apprentices
    </label>
            </div>
            <div class="multiple-choice">

        <input id="provider" type="radio" name="radio-group" value="providerwiladd">
            <label data-target="provider" for="provider">
I would like my proivder to add apprentices
                </label>
                 </div>
      </div>

  
      <a class="button" href="bulk-upload-apprentices.html" id="submit">Continue</a>
      
</form>

  
            </div>

</div>


</main><!-- / #content -->
{% endblock %}
