{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="cohort-sent" id="content" role="main" tabindex="-1">

    <div class="grid-row">
                    <div class="column-two-thirds">


             <div class="govuk-box-highlight">
                <h1 class="bold-xlarge">Sent</h1>
            </div>
                        
<dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            Reference
          </dt>
          <dd class="cya-answer">
              98HGS3F
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Sent to
          </dt>
          <dd class="cya-answer">
            Hackney Skills and Training Ltd
          </dd>

        </div>
    
        <div>
          <dt class="cya-question">
            Sent from
          </dt>
          <dd class="cya-answer">
            Alice Jones
          </dd>

        </div>    
        <div>
          <dt class="cya-question">
            On behalf of
          </dt>
          <dd class="cya-answer">
            Acme Ltd Coventry
          </dd>

        </div>
                
        <div>
          <dt class="cya-question">
            Date
          </dt>
          <dd class="cya-answer">
            Thursday 18 May 2017
          </dd>

        </div>                
        <div>
          <dt class="cya-question">
            Apprentices
          </dt>
          <dd class="cya-answer">
            23 Mechatronics Level 2 Engineers
          </dd>
        </div>               
        <div>
          <dt class="cya-question">
            Message
          </dt>
          <dd class="cya-answer">
            Please add the 12 x admin level 2 apprentices and 13 x engineering level 3 apprentices, as agreed on contract #51314.
          </dd>
        </div>
    
      </dl>

            <h2 class="heading-medium">What happens next?</h2>
                <p>The information you added has been sent to Hackney Skills &amp; Training Ltd to enter the rest of the details.</p><p> You can view the progress in <a href="#">apprenticeships in progress</a></p>
          </div>
        </div>

</main><!-- / #content -->
{% endblock %}
