{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="index" id="content" role="main" tabindex="-1">

<div class="grid-row">
    <div class="column-two-thirds column-minimum">
      <h1 class="heading-large">
        Employing an apprentice
      </h1>
      <p class="">Use this step by step list to help you take on an apprentice:</p>

      <ol class="task-list">
        <li>
          <h2 class="heading-medium task-list-section">
           <span class="task-list-section-number">1. </span> Are apprentices right for you?
          </h2>
           <p >Get insipiration for how apprentices can help your business.</p>
          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="" href="#" aria-describedby="eligibility-completed">
                Check if an apprenticeship will benefit you
              </a>
            </li>
          </ul>


        </li>
          <li>
          <h2 class="task-list-section">
           <span class="task-list-section-number">2. </span> Check funding available to you
          </h2>
           <p >You can get help from the government to pay for apprenticeship training. There are a number of different ways, depending on your organisation.</p>
          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="" href="check-which-funding-is-available.html" aria-describedby="eligibility-completed">
                Understand which funding is available to me
              </a>
               
            </li>

            <li class="task-list-item rj-dont-display" id="forecastMyLevy">
              <a class="task-name" href="https://estimate-my-apprenticeship-funding.sfa.bis.gov.uk" aria-describedby="eligibility-completed">
                Estiamte my available funding
              </a>
             
            </li>
          </ul>


        </li><li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">3. </span>  Choose your apprenticeships and training provider
          </h2>
          <p >Find the right apprenticeship for your business and then find a training provider to deliver the training, who's either national or local to you. You can save your searches to refer back to later.</p>
          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="task-name" href="https://findapprenticeshiptraining.sfa.bis.gov.uk" aria-describedby="company-information-completed">
                Find apprenticeship training
              </a> 
              <!--strong class="task-completed" id="company-information-completed">Completed</strong-->
            </li>
          </ul>
        </li>


         <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">4. </span> Your apprenticeship service account
          </h2>
         <p >You need an apprenticeship service account to recruit and manage payments for your apprentices.</p>
          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="task-name" href="https://manage-apprenticeships.service.gov.uk/">
                Register for an apprenticeship service account
              </a>

            </li>
            <li class="task-list-item">
                          <a class="task-name" href="https://beta-login.apprenticeships.sfa.bis.gov.uk/identity/employer/login?id=bc1f19da009666c7caebd9965cc782a5&returnUrl=https%3a%2f%2fbeta-login.apprenticeships.sfa.bis.gov.uk%2fidentity%2fconnect%2fauthorize%3fclient_id%3deasprd%26response_type%3dcode%26scope%3dopenid%2520profile%26redirect_uri%3dhttps%253A%252F%252Fmanage-apprenticeships.service.gov.uk%252Fservice%252FsignIn%26state%3dzhyCTV6diYan3M5WaQ-w_NiwEIbZarQ8vHqtSLC3BGL89BABfBc1ar4vUkph3liXYaZf5Auq6YV3-4Uk7WNfoJLTc-5s2F0rXG0vpITLDj9H7CZnx3pEQ66RwavYQZZE2PR3kVtcAzeKgiehuyouorystvg%26nonce%3d39638dd36c8048d289d143aab705237d&clientId=easprd" aria-describedby="contact-details-completed">
                Sign in to your apprenticeship service account
              </a>

            </li>
          </ul>
       </li>

       <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">5. </span> Recruit apprentices
          </h2>
          <p >You can advertise your apprenticeships and view current applications you have been sent.</p>
          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="task-name" href="recruit-apprentices.html">
                How to advertise your positions for free
              </a>
            </li>
          </ul>
       </li>

       <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">6. </span> Review and approve apprentices
          </h2>
          <p >If you are in receipt of levy funding you will need to add apprenticeships, apprentices and training provisions to the manage apprenticeships system to receive funding.</p>
           
       </li>
      </ol>
    </div>
  </div>
</main><!-- / #content -->
{% endblock %}