{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="index" id="content" role="main" tabindex="-1">

<div class="grid-row">
    <div class="column-two-thirds column-minimum">
      <h1 class="heading-large">
        Employing an apprentice
      </h1>
      <p class="">Use this step by step list to help you take on an apprentice:</p>

      <ol class="task-list">
        <li>
          <h2 class="heading-medium task-list-section">
           <span class="task-list-section-number">1. </span> Are apprentices right for you?
          </h2>
           <p >Get insipiration for how apprentices can help your business.</p>
          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="" href="/support&#10;&#10;&#10;&#10;/NLD-start/" aria-describedby="eligibility-completed">
                Check if an apprenticeship will benefit you
              </a>
            </li>
          </ul>


        </li>
          <li>
          <h2 class="task-list-section">
           <span class="task-list-section-number">1. </span> Check funding available to you
          </h2>
           <p >You can get help from the government to pay for apprenticeship training. There are a number of different ways, depending on your organisation.</p>
          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="" href="/support&#10;&#10;&#10;&#10;/NLD-start/" aria-describedby="eligibility-completed">
                Understand which funding is available to me
              </a>
               
            </li>

            <li class="task-list-item rj-dont-display" id="forecastMyLevy">
              <a class="task-name" href="/support&#10;&#10;&#10;&#10;/NLD-start/levy/forecastStart" aria-describedby="eligibility-completed">
                Estiamte my available funding
              </a>
             
            </li>
          </ul>


        </li><li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">2. </span>  Choose your apprenticeships and training
          </h2>
          <p >Find the right apprenticeship for your business and then find a training provider to deliver the training, who's either national or local to you. You can save your searches to refer back to later.</p>
          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="task-name" href="/support&#10;&#10;&#10;&#10;/NLD-SNS" aria-describedby="company-information-completed">
                Find apprenticeship training
              </a> 
              <!--strong class="task-completed" id="company-information-completed">Completed</strong-->
            </li>
          </ul>
        </li>


         <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">4. </span> Your apprenticeship service account
          </h2>
         <p >You need an apprenticeship service account to recruit and manage payments for your apprentices.</p>
          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="task-name" href="/support&#10;&#10;&#10;&#10;/onboarding/before-you-start">
                Register for an apprenticeship service account
              </a>
              <!--strong class="task-completed" id="contact-details-completed">Completed</strong-->
            </li>
            <li class="task-list-item">
                          <a class="task-name" href="login" aria-describedby="contact-details-completed">
                Sign in to your apprenticeship service account
              </a>

             <!--strong class="task-completed" style="min-width:60px; text-align: center; " id="contact-details-completed">3</strong-->
            </li>
          </ul>
       </li>

       <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">5. </span> Recruit apprentices
          </h2>
          <p >You can advertise your apprenticeships and view current applications you have been sent.</p>
          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="task-name" href="/support&#10;&#10;&#10;&#10;/NLD-recruit/advertise">
                How to advertise your positions for free
              </a>
            </li>
          </ul>
       </li>

       <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">6. </span> Review and approve apprentices
          </h2>
          <p >Register or sign in to your apprenticeship service account to manage your apprentices.</p>
          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="task-name" href="#">
                Review and approve new apprentices
              </a>
            </li>
            <li class="task-list-item">
              <a class="task-name" href="/support&#10;&#10;&#10;&#10;/NLD-apprentices/apprentice-list">
                View your current apprentices
              </a>
            </li>
          </ul>
       </li>
      </ol>
    </div>
  </div>
</main><!-- / #content -->
{% endblock %}