{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="index" id="content" role="main" tabindex="-1">
<div class="content-inner slides">
    <div class="grid-row">
    
<div class="column-two-thirds">
  <h1>How to take on an apprentice</h1>

  <p>The apprenticeship service will help you through the process of taking on an apprentice for your business.</p>

  <p>Apprentices are aged 16 or over and combine working with studying to gain skills and knowledge in a specific job.  Apprentices can be new or current employees.</p>

<form action="../NLD-intro/page2"><div class="actions"><button class="button">Continue</button></div>

</form></div>

    </div>
  </div>
    


</main><!-- / #content -->
{% endblock %}