{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="index" id="content" role="main" tabindex="-1">

<div class="content-inner slides">
    <div class="grid-row">
    
<div class="column-two-thirds">
  <h1>How you will pay for your apprentices?</h1>

  <p>You can pay for apprenticeships in a number of ways.</p>
  
  <p>If you pay the <a href="https://www.gov.uk/government/publications/apprenticeship-levy-how-it-will-work/apprenticeship-levy-how-it-will-work#pay-apprenticeship-levy">apprenticeship levy</a>, you’ll be able to use your levy funds to pay for apprenticeship training.  You’ll manage your apprentices and funds in your <a href="https://www.gov.uk/government/publications/apprenticeship-levy-how-it-will-work/apprenticeship-levy-how-it-will-work#apprenticeship-service">apprenticeship service account</a>.</p>
  
  <p>If you're an employer who does not pay the apprenticeship levy, the government will pay 90% of the total costs and you will pay 10%. 
    This is called <a href="https://www.gov.uk/government/publications/apprenticeship-levy-how-it-will-work/apprenticeship-levy-how-it-will-work#non-levy-paying-employers">'co-investment'</a>.</p>

<form action="dashboard"><div class="actions"><button class="button">Continue</button></div>

</form></div>

    </div>
  </div>

</main><!-- / #content -->
{% endblock %}