{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}


<main class="recruit-apprentices" id="content" role="main">



     <div class="breadcrumbs back-breadcrumb">
    <ol role="breadcrumbs">
       <a href="" class="link-back" onclick="goBack()">Back</a>
    </ol>
  </div>


<div class="grid-row">
           <div class="column-two-thirds">
  <h1 class="heading-xlarge">Recruit apprentices</h1>

 <p>Information on how to recruit an apprentice for your apprenticeship.</p>
 <p>Apprentices can come from anywhere including your own organisation.</p>

  <p>If you are looking to recruit externally you'll want to talk with your Training provider about listing your positions through the Government apprenticeship job site. Only your training provider can do this currently.</p>

</div>
</div></main>
{% endblock %}