{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="complete-state-aid-declaration" id="content" role="main" tabindex="-1">
    {% include "includes/link-back.html" %}

    <div class="grid-row">
    <div class="column-two-thirds">
        <div class="hgroup form-group">
           <h1 class="heading-large">
        Complete state aid declaration    </h1>
            
                <a class="button" href="check-your-answers.html">Continue</a>

        </div>
        </div>
    </div>

</main><!-- / #content -->
{% endblock %}
