{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="transfers-dashboard" id="content" role="main" tabindex="-1">
    {% include "includes/link-back.html" %}

<div class="grid-row">
        <div class="column-two-thirds">
            <div class="hgroup">
            <h1 class="heading-xlarge">
        Transfer requests
      </h1>
            <p class="lede">Authorise the sending of funds to other employers.</p>
               <p>You can send up to 10% (total) of last years apprenticeship levy to any other employer. You should understand the <a href="sender-inform.html">rules and means of calculating your transfer allowance</a> before authorising any transfer requests.</p>
</div>
        </div>
    <div class="column-third">
        <div class="related">
                    <h2 class="heading-small">Your apprenticeship account ID</h2>
            <p>XGHFEDF</p>
   
                        <h2 class="heading-small">Current transfer balance</h2>
            <p class="transfer-balance">£32,450</p>
            <details>
                <summary>How is this calculated</summary>
                
                Last years levy contribution <br>-<br> this years transfers to date
            </details>
        </div>
    </div>
    </div> 

<div id="transactions" class="container" style="">
                    <h2 class="heading-medium">Current transfer requests</h2>
    <div class="panel panel-width-thin hidden">
        <p>You have no transfers to date.</p>
    </div>
        <table class="" id="transfers-in">
        <thead>
            <tr>
                <th>Receiving employer</th>
                <th>Total amount <span class="form-hint">This year's amount</span></th>
                <th>Planned start date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
<!-- RECEIVER START -->                     
        <tr data-type="pending" id="transfer-request-1">
            <td>Anvil Pty</td>
            <td>£6,000
                <span class="form-hint">£1,129.40</span>
            </td>
            <td>September 17</td>
            <td class="numeric"><a href="request-received.html">Details</a></td>
        </tr>
                   
                    <tr data-type="pending" id="transfer-request-2">
            <td>GBC Micro Ltd</td>
            <td>£6,000
                <span class="form-hint">£1,129.40</span>
            </td>
            <td>September 17</td>
            <td class="numeric"><a href="request-received.html">Details</a></td>
        </tr>
            </tbody>

    </table>

<!-- RECEIVER END -->         
            
        <h2 class="heading-medium">Previous approved transfers</h2>
    <div class="panel panel-width-thin" id="no-previous-transfers">
        <p>You have no previous transfers to date.</p>
    </div>        
        <table style="display:none" id="transfers-out">
                    <thead>
            <tr>
                <th>Receiving employer</th>
                <th>Amount<span class="form-hint"></span></th>
                <th>Start date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
<!-- SENDER -->    
        <tr data-type="pending" id="sender-offer-sent" class="">
            <td>GBC Micro Ltd </td>
            <td>£6,000</td>
            <td>June 17</td>
            <td class="numeric"><a href="request-accepted.html" data-org-index="0">Details</a></td>
        </tr>
        

        
<!-- SENDER END -->            
            
    </tbody>
            </table>
        
        </div>    

</main><!-- / #content -->
{% endblock %}
