{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="transfers-payment-plan" id="content" role="main" tabindex="-1">
    {% include "includes/link-back.html" %}

    <div class="grid-row">
    <div class="column-two-thirds">
        <div class="hgroup form-group">
           <h1 class="heading-large">Payment plan</h1>
            <p class="lede">Your transfer summary.</p>
        <div class="panel panel-width-thin">
                                <p class="text">Note that this is only a schedule of expected monthly transfers. Payments may fail or be cancelled by either party.</p>
        </div>
        </div>
      </div>
    </div>
    
    <div class="grid-row">
        <div class="column-two-thirds">
   <table class="responsive">
        <thead>
            <tr>
                <th>Month</th>
                <th>Type</th>
                <th class="numeric">Amount</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>September 2017</td>
            <td>Monthly</td>
            <td class="numeric">£282.35</td>
        </tr>
        <tr>
            <td>October 2017</td>
            <td>Monthly</td>
            <td class="numeric">£282.35</td>
        </tr>
        <tr>
            <td>November 2017</td>
            <td>Monthly</td>
            <td class="numeric">£282.35</td>
        </tr>
        <tr>
            <td>December 2017</td>
            <td>Monthly</td>
            <td class="numeric">£282.35</td>
        </tr>
        <tr>
            <td>January 2018</td>
            <td>Monthly</td>
            <td class="numeric">£282.35</td>
        </tr>
        <tr>
            <td>February 2018</td>
            <td>Monthly</td>
            <td class="numeric">£282.35</td>
        </tr>
        <tr>
            <td>March 2018</td>
            <td>Monthly</td>
            <td class="numeric">£282.35</td>
        </tr>
        <tr>
            <td>April 2018</td>
            <td>Monthly</td>
            <td class="numeric">£282.35</td>
        </tr>
        <tr>
            <td>May 2018</td>
            <td>Monthly</td>
            <td class="numeric">£282.35</td>
        </tr>
        <tr>
            <td>June 2018</td>
            <td>Monthly</td>
            <td class="numeric">£282.35</td>
        </tr>
        <tr>
            <td>July 2018</td>
            <td>Monthly</td>
            <td class="numeric">£282.35</td>
        </tr>
        <tr>
            <td>August 2018</td>
            <td>Monthly</td>
            <td class="numeric">£282.35</td>
        </tr>
        <tr>
            <td>September 2018</td>
            <td>Monthly</td>
            <td class="numeric">£282.35</td>
        </tr>
        <tr>
            <td>October 2018</td>
            <td>Monthly</td>
            <td class="numeric">£282.35</td>
        </tr>
        <tr>
            <td>November 2018</td>
            <td>Monthly</td>
            <td class="numeric">£282.35</td>
        </tr>
        <tr>
            <td>December 2018</td>
            <td>Monthly</td>
            <td class="numeric">£282.35</td>
        </tr>
        <tr>
            <td>January 2019</td>
            <td>Monthly</td>
            <td class="numeric">£282.35</td>
        </tr>
        <tr>
            <td>February 2019</td>
            <td>Completion payment</td>
            <td class="numeric">£1,200</td>
        </tr>
        <tr class="total">
            <td colspan="2">&nbsp;</td>
            <td data-label="Total amount" class="total numeric">£6,000</td>            
        </tr>
          
            
    </tbody>
            </table>        
        </div>
    </div>


</main><!-- / #content -->
{% endblock %}
