{% extends "layouts/layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

    <div class="hgroup text">     
        <h1 class="heading-xlarge">
        Digital apprenticeship prototypes
        <span class="heading-secondary">For team WIN delivery and discovery tracks</span>
        </h1>
    </div>
    
    <div class="grid-row">
    <div class="column-two-thirds">
      {{ macros.subapps_list(apps) }}
    </div>
        <div class="column-third">            
            <h3 class="bold-small">Legend</h3>
            <hr>
          <ul class="list list-bullet">
            <li><span class="bold-small">DELIVERY</span><br>Prototype screens for delivery team to reference</li>
            <li><span class="bold-small">DISCOVERY</span><br>Prototypes for user research teams</li>
            <li><span class="bold-small">WIP</span><br>Prototypes in flight, do not reference</li>
            <li><span class="bold-small">POC</span><br>Proof of concepts and vision pieces</li>
            <li><span class="bold-small">ARCHIVE</span><br>No longer being developed</li>
        </ul>      
        </div>
  </div>
</main>

{% endblock %}


