{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="forecast-add-cohort-wizard" id="content" role="main" tabindex="-1">
    {% include "includes/link-back.html" %}

    <div class="grid-row">
    <div class="column-two-thirds">
        <div class="hgroup form-group">
           <h1 class="heading-xlarge">
               ADD COHORT WIZARD
            </h1>
          <p>TELL THE USER THEY CAN ADD MULTIPLE PROSPECTIVE COHORTS.</p>          
        </div>
      </div>
    </div>


    <div class="grid-row">
        <div class="column-two-thirds">
         <form>
<div class="form-group">  
        <label class="form-label-bold" for="email">Apprenticeship name</label>
        <input class="form-control" type="text"> 
        </div>
    
        <div class="form-group">  
        <label class="form-label-bold" for="email">Agreed cost</label>
        <input class="form-control" type="text"> 
        </div>
    
    <div class="form-group">  
        <label class="form-label-bold" for="email">Number of 16-18 year old apprentices</label>
        <input class="form-control" type="text"> 
        </div>
    
    <div class="form-group">  
        <label class="form-label-bold" for="email">Number of 19+ year old apprentices</label>
        <input class="form-control" type="text"> 
        </div>
        
    <div class="form-group">  
        <label class="form-label-bold" for="email">Start date</label>
        <input class="form-control" type="text"> 
        </div>
    </form>
            
            <a class="button secondary" href="#">Save and add another</a>
            <a class="button" href="view-commitments.html">Save and continue</a>
            <a class="button text-link" href="view-commitments.html">Skip to next step</a>

        </div>
        <div class="column-one-third">
            <div class="related">
                <div class="">
                <h3 class="heading-medium">Funding calculator</h3>
                <p>Enter the apprenticeship details to generate costs.</p>
                    </div>
                
<table class="repsonsive row">
                <tbody>
                <tr>
                    <th scope="row">
                        Apprenticeship
                    </th>
                    <td>
                        awaiting course selection
                    </td>
                </tr>
                    <tr>
                    <th scope="row">
                        Funding band limit
                    </th>
                    <td>
                        £---.--
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        Duration
                    </th>
                    <td>
                        -- months
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        Monthly payment
                    </th>
                    <td>
                        £---.--
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        End payment
                    </th>
                    <td>
                        £---.--
                    </td>
                </tr>
            </tbody>
    </table> 
<div class="form-group">
<a href="#">View payment plan</a>
                <br>
                
                </div>
            </div>
    </div>
        
    </div>
   
</main><!-- / #content -->
{% endblock %}
