{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="add-training-provider" id="content" role="main" tabindex="-1">
<div class="grid-row">
           <div class="column-two-thirds">
               <div class="hgroup">
                   <div class="text">
  <h1 class="heading-large">Add training provider details</h1>
                   </div>
</div>
               
<form action="">
        
 <div class="form-group">
          <label class="form-label-bold" for="search">UK Provider Reference Number
        </label>
          <input class="form-control" id="find-a-provider" type="text">
  </div>
    
    <div class="form-group">
    <details role="group">
        <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">What is a UK Provider Reference Number?</span></summary>
        <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
          
          <p>A UK Provider Reference Number (UKPRN) is a unique, 8-digit number 
            that identifies a training provider. Your training provider can tell you their UKPRN.
          </p>
 
        </div>
    </details>
        </div>
      <a class="button" href="confirm-training-provider.html" id="submit">Continue</a>
      
</form>

  
            </div>

</div>


</main><!-- / #content -->
{% endblock %}
