{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="choose-organisation" id="content" role="main" tabindex="-1">
<div class="grid-row">
           <div class="column-two-thirds">
               <div class="hgroup">
                   <div class="text">
  <h1 class="heading-large">Choose organisation</h1>
   <p class="lede">Which organisation is named on the contract with the training provider for the apprentices you'd like to add?</p>
                       </div>
</div>
               
<form action="">
            
        <div class="form-group">
<div class="multiple-choice">

        <input id="org1" type="radio" name="next" value="addteam" class="">
      <label data-target="addteam" for="org1">
Acme Ltd Coventry
    </label>
            </div>
            <div class="multiple-choice">

        <input id="org2" type="radio" name="next" value="viewteam">
            <label data-target="viewteam" for="org2">
Acme Ltd Birmingham
                </label>
                 </div>
<div class="multiple-choice">

            <input id="org3" type="radio" name="next" value="homepage">
            <label data-target="homepage" for="org3">
The organisation isn't listed here
            </label>
                 </div>
      </div>

  
      <a class="button" href="agreement-not-signed.html" id="submit">Continue</a>
      
</form>

  
            </div>

</div>


</main><!-- / #content -->
{% endblock %}
