{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="choose-bulk-upload-file" id="content" role="main" tabindex="-1">
<div class="grid-row">
           <div class="column-two-thirds">
               <div class="hgroup">
                   <div class="text"><h1 class="heading-large">Choose bulk upload file</h1>
                   <p class="lede">Add details of multiple apprentices to your chosen training course using a Microsoft Excel file.</p>
                   </div>
</div>
               
                <table class="">
                    <tbody>
                      <tr>
                        <td style="padding-top:0"></td>
                        <td style="padding-top:0"></td>
                        <td style="padding-top:0"></td>
                      </tr>
                       <tr>
                        <td style="width:191px">Chosen training course</td>
                        <td style="font-weight:700; font-size:19px; width:337px">Mechatronics engineer, Level 4</td>
                        <td><a href="choose-training-employer">Change</a></td>
                      </tr>
                    <tr>
                        <td style="width:191px">Course length</td>
                        <td style="font-weight:700; font-size:19px; width:337px">24 months</td>
                         <td><a href="change-course-length">Change</a></td>
                      </tr>
                        <tr class="rj-dont-display" id="upload-alert">
                        <td style="width:191px">File</td>
                        <td style="font-weight:700; font-size:19px; width:337px">Acme-apprentices.xlsx</td>
                        <td><a href="change-course-length">Change</a></td>
                      </tr>
                    </tbody>
                </table>          
      <a class="button secondary" href="check-similar-apprentices.html" id="submit">Choose file</a>
    
            </div>
</div>


</main><!-- / #content -->
{% endblock %}
