{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="zxcvbn" id="content" role="main" tabindex="-1">

    {% include "includes/link-back.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="hgroup">
            <h1 class="heading-xlarge">Create a new password</h1>
                <p class="lede">Update your password by first confirming your current password</p>
            </div>
        </div>
</div> 


    <form id="profileSetup" action="accesscode">
  <fieldset>
    <legend class="visuallyhidden">Current password</legend>
      <div class="form-group" id="name">
          <label class="form-label-bold" for="users-name">
          <!--span class="form-hint">Here is a hint for this form field.</span-->
              <span class="form-label-bold">Current password</span>
          <span class="error-message hidden" style="display: none;">
          Enter a name to continue
        </span>
        </label>
              
          <input aria-invalid="true" class="form-control" id="users-name" type="text" aria-required="true">
      </div>
    </fieldset>
             <fieldset>
   
            <div class="" id="passwordgroup">
          <label class="form-label-bold" for="user-password">
              <span class="form-label-bold">New password</span>
          <!--span class="form-hint">Here is a hint for this form field.</span-->
                        <span class="error-message hidden" style="display: none;">
          Enter a password to continue
        </span>
        </label>        
        
                           <div class="popover" style="display: block;">
                                    <div class="arrow"></div>
                               <p><span class="bold-small">Easy to remember, hard to steal</span>
                             <br>Try this new more secure method of setting a password  
                               </p>
                                        
                                    <div class="popover-content">
                                        <ul>
                                            <li><i class="fa fa-circle"></i>use 3 or more random words</li>
                                            <li><i class="fa fa-circle"></i>not using words personal to you or the business</li>
                                            <li><i class="fa fa-circle"></i>the longer the better</li>
                                            <li><i class="fa fa-circle"></i>Hold the 'Peek' button to check your password quickly</li>
                                            <li><i class="fa fa-circle"></i>For example: vintage-stomp-curve</li>
                                            <li><i class="fa fa-circle"></i>Don't use the example</li>
                                        </ul>
                                    </div>
                                </div>
              
        <div class="passwordContainer">
                <input id="password" type="password" class="form-control">
                <span data-toggle="tooltip" data-placement="left" title="Press and hold to show your password" class="show-pw" id="peak" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Peek</span>
                <span class="peakHelp">Hold to view password</span>
                      <!--          <div class="password-strength">
                                    <span class="veryweak"></span>
                                    <span class="weak"></span>
                                    <span class="good"></span>
                                    <span class="strong"></span>
                                    <span class="verystrong"></span>
                                </div>
                        -->
                                <div class="password-strength pw2">
                                    <span class="empty" style="width: 0%; display: none;"></span>
                                </div>
             <p>Password strength: <span class="pw-strength">empty</span></p>

            </div>
 
              </div>
          
        </fieldset>
   <fieldset>
    <legend class="visuallyhidden">Repeat new password</legend>
      <div class="form-group" id="name">
          <label class="form-label-bold" for="users-name">
          <!--span class="form-hint">Here is a hint for this form field.</span-->
              <span class="form-label-bold">Repeat new password</span>
        </label>
              
          <input class="form-control" type="text">
      </div>
    </fieldset>
            <a href="/sprint/48/onboarding/check-mail.html" class="button">Continue</a>
</form>
    
</main><!-- / #content -->
{% endblock %}
