{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<main class="dashboard" id="content" role="main" tabindex="-1">

    <div class="header-user">
	<div class="header-inner">
		<div class="service-info">
		    <div class="phase-banner prototype">
		        <p>
		            <strong class="phase-tag">PROTOTYPE</strong>
		            <span>This is not a real service. <a href="https://www.surveymonkey.co.uk/r/accessmylevysurvey?utm_source=proto&amp;utm_medium=research&amp;utm_campaign=phase-banner" target="_blank">Give feedback</a> and help us to build a better service. </span>
		        </p>
		    </div>
		</div>
	</div>
</div>
    
    
    <div class="grid-row" id="welcome">
        <div class="column-full">
            <h1 class="heading-large">Welcome to your<br>learning center</h1>
            <p class="lede">From here you'll launch all your learning activites, let's take a quick tour.</p>
            <a href="#" class="button">Take the tour</a>
        </div>
    </div>
    
<div class="grid-row">
    <div class="column-full blue">
        <div class="hgroup">
            <h1 class="heading-xlarge">
              Welcome back 
            </h1>        
        </div>
            <div>Your account: <span class="email"></span> <a href="index.html">(Not you?)</a></div>

    </div>  
</div>    
    
    <div class="grid-row">
        <div class="column-full">
            <div id="totalScoreInfographic">
                <i class="fa fa-trophy"></i>
                <span>1%</span>
            </div>
            <h2 class="heading-large">Just starting out</h2>
            <h3 class="heading-medium">10 more questions to level up</h3>
            <hr />
        </div>
    </div>
    


    
    
    <div class="grid-row">
        <div class="column-full">
<div class="" data-module="accordion-with-descriptions">
    <div class="subsection-wrapper">
        <div class="subsection js-subsection">
            <div class="subsection__header">
                <h2 class="subsection__title">Level 1</h2>
                <p class="subsection__description">The basics</p>
            </div>
            <div class="subsection__content js-subsection-content" id="subsection_content_0">
                <div class="lesson">
                    <div class="scoreWrapper">
                        <i class="fa fa-circle-thin fa-5x"></i>
                        <div><span class="answered">0</span>/<span class="numberOfQuestions">12</span></div>
                    </div>
                    <h3 class="heading-small">New recruit</h3>
                    <p>Everything everryone should know</p>
                    <a href="#" class="text-link">Take lesson</a>
                </div>
                <div class="lesson">
                    <div class="scoreWrapper">
                        <i class="fa fa-circle-thin fa-5x"></i>
                        <div><span class="answered">0</span>/<span class="numberOfQuestions">12</span></div>
                    </div>
                    <h3 class="heading-small">Badge of purpose</h3>
                    <p>Everything everryone should know</p>
                    <a href="#" class="text-link">Take lesson</a>
                </div>
                <div class="lesson">
                    <div class="scoreWrapper">
                        <i class="fa fa-circle-thin fa-5x"></i>
                        <div><span class="answered">0</span>/<span class="numberOfQuestions">12</span></div>
                    </div>
                    <h3 class="heading-small">Friend of funding</h3>
                    <p>What funding is available to me</p>
                    <a href="#" class="text-link">Take lesson</a>
                </div>
                <div class="lesson">
                    <div class="scoreWrapper">
                        <i class="fa fa-circle-thin fa-5x"></i>
                        <div><span class="answered">0</span>/<span class="numberOfQuestions">12</span></div>
                    </div>
                    <h3 class="heading-small">On course to succeed</h3>
                    <p>Find apprenticeship training</p>
                    <a href="#" class="text-link">Take lesson</a>
                </div>                
            </div>
        </div>
        <div class="subsection js-subsection">
            <div class="subsection__header">
                <h2 class="subsection__title">Level 2</h2>
                <p class="subsection__description">Apprenticeship training</p>
            </div>
            <div class="subsection__content js-subsection-content" id="subsection_content_1">
                <div class="lesson">
                    <div class="scoreWrapper">
                        <i class="fa fa-circle-thin fa-5x"></i>
                        <div><span class="answered">0</span>/<span class="numberOfQuestions">12</span></div>
                    </div>
                    <h3 class="heading-small">The standard bearer</h3>
                    <p>Apprenticeship standards</p>
                    <a href="#" class="text-link">Take lesson</a>
                </div>
                <div class="lesson">
                    <div class="scoreWrapper">
                        <i class="fa fa-circle-thin fa-5x"></i>
                        <div><span class="answered">0</span>/<span class="numberOfQuestions">12</span></div>
                    </div>
                    <h3 class="heading-small">Bye bye frameworks</h3>
                    <p>Apprenticeship frameworks</p>
                    <a href="#" class="text-link">Take lesson</a>
                </div>
                <div class="lesson">
                    <div class="scoreWrapper">
                        <i class="fa fa-circle-thin fa-5x"></i>
                        <div><span class="answered">0</span>/<span class="numberOfQuestions">12</span></div>
                    </div>
                    <h3 class="heading-small">Delivery decided</h3>
                    <p>Different delivery methods</p>
                    <a href="#" class="text-link">Take lesson</a>
                </div>
                <div class="lesson">
                    <div class="scoreWrapper">
                        <i class="fa fa-circle-thin fa-5x"></i>
                        <div><span class="answered">0</span>/<span class="numberOfQuestions">12</span></div>
                    </div>
                    <h3 class="heading-small">On course to succeed</h3>
                    <p>Find apprenticeship training</p>
                    <a href="#" class="text-link">Take lesson</a>
                </div> 
            </div>
        </div>
        <div class="subsection js-subsection">
            <div class="subsection__header">
                <h2 class="subsection__title">Level 3</h2>
                <p class="subsection__description">Funding</p>
            </div>
            <div class="subsection__content js-subsection-content" id="subsection_content_1">
                <div class="lesson">
                    <div class="scoreWrapper">
                        <i class="fa fa-circle-thin fa-5x"></i>
                        <div><span class="answered">0</span>/<span class="numberOfQuestions">12</span></div>
                    </div>
                    <h3 class="heading-small">Let's work together</h3>
                    <p>Co-investment</p>
                    <a href="#" class="text-link">Take lesson</a>
                </div>
                <div class="lesson">
                    <div class="scoreWrapper">
                        <i class="fa fa-circle-thin fa-5x"></i>
                        <div><span class="answered">0</span>/<span class="numberOfQuestions">12</span></div>
                    </div>
                    <h3 class="heading-small">Bonus round</h3>
                    <p>Additional incentive payments</p>
                    <a href="#" class="text-link">Take lesson</a>
                </div>
                <div class="lesson">
                    <div class="scoreWrapper">
                        <i class="fa fa-circle-thin fa-5x"></i>
                        <div><span class="answered">0</span>/<span class="numberOfQuestions">12</span></div>
                    </div>
                    <h3 class="heading-small">£3,000,000</h3>
                    <p>The apprenticeship levy</p>
                    <a href="#" class="text-link">Take lesson</a>
                </div>
                <div class="lesson">
                    <div class="scoreWrapper">
                        <i class="fa fa-circle-thin fa-5x"></i>
                        <div><span class="answered">0</span>/<span class="numberOfQuestions">12</span></div>
                    </div>
                    <h3 class="heading-small">Supply chain supporter</h3>
                    <p>Levy transfer</p>
                    <a href="#" class="text-link">Take lesson</a>
                </div> 
            </div>
        </div>
        <div class="subsection js-subsection">
            <div class="subsection__header">
                <h2 class="subsection__title">Level 4</h2>
                <p class="subsection__description">Apprentice management</p>
            </div>
            <div class="subsection__content js-subsection-content" id="subsection_content_1">
                <div class="lesson">
                    <div class="scoreWrapper">
                        <i class="fa fa-circle-thin fa-5x"></i>
                        <div><span class="answered">0</span>/<span class="numberOfQuestions">12</span></div>
                    </div>
                    <h3 class="heading-small">Laker and Branson</h3>
                    <p>Being a mentor</p>
                    <a href="#" class="text-link">Take lesson</a>
                </div>
                <div class="lesson">
                    <div class="scoreWrapper">
                        <i class="fa fa-circle-thin fa-5x"></i>
                        <div><span class="answered">0</span>/<span class="numberOfQuestions">12</span></div>
                    </div>
                    <h3 class="heading-small">Cohorts, cohorts, cohorts</h3>
                    <p>Request apprenticeship funding</p>
                    <a href="#" class="text-link">Take lesson</a>
                </div>
                <div class="lesson">
                    <div class="scoreWrapper">
                        <i class="fa fa-circle-thin fa-5x"></i>
                        <div><span class="answered">0</span>/<span class="numberOfQuestions">12</span></div>
                    </div>
                    <h3 class="heading-small">It's all gone Pete Tong</h3>
                    <p>What to do when it goes wrong</p>
                    <a href="#" class="text-link">Take lesson</a>
                </div>
                <div class="lesson">
                    <div class="scoreWrapper">
                        <i class="fa fa-circle-thin fa-5x"></i>
                        <div><span class="answered">0</span>/<span class="numberOfQuestions">12</span></div>
                    </div>
                    <h3 class="heading-small">Assessment Attained</h3>
                    <p>End point assessment</p>
                    <a href="#" class="text-link">Take lesson</a>
                </div> 
            </div>
        </div>
        <div class="subsection js-subsection">
            <div class="subsection__header">
                <h2 class="subsection__title">Level 5</h2>
                <p class="subsection__description">Advanced finance</p>
            </div>
            <div class="subsection__content js-subsection-content" id="subsection_content_1">
                <div class="lesson">
                    <div class="scoreWrapper">
                        <i class="fa fa-circle-thin fa-5x"></i>
                        <div><span class="answered">0</span>/<span class="numberOfQuestions">12</span></div>
                    </div>
                    <h3 class="heading-small">The reconciler</h3>
                    <p>Reconciling financial data</p>
                    <a href="#" class="text-link">Take lesson</a>
                </div>
                <div class="lesson">
                    <div class="scoreWrapper">
                        <i class="fa fa-circle-thin fa-5x"></i>
                        <div><span class="answered">0</span>/<span class="numberOfQuestions">12</span></div>
                    </div>
                    <h3 class="heading-small">I know payments</h3>
                    <p>How payments are calculated</p>
                    <a href="#" class="text-link">Take lesson</a>
                </div>
                <div class="lesson">
                    <div class="scoreWrapper">
                        <i class="fa fa-circle-thin fa-5x"></i>
                        <div><span class="answered">0</span>/<span class="numberOfQuestions">12</span></div>
                    </div>
                    <h3 class="heading-small">Where levy goes to die</h3>
                    <p>Expiring levy credits</p>
                    <a href="#" class="text-link">Take lesson</a>
                </div>
                <div class="lesson">
                    <div class="scoreWrapper">
                        <i class="fa fa-circle-thin fa-5x"></i>
                        <div><span class="answered">0</span>/<span class="numberOfQuestions">12</span></div>
                    </div>
                    <h3 class="heading-small">Rule Britania</h3>
                    <p>How English % works</p>
                    <a href="#" class="text-link">Take lesson</a>
                </div> 
            </div>
        </div>
        <div class="subsection js-subsection">
            <div class="subsection__header">
                <h2 class="subsection__title">Level 6</h2>
                <p class="subsection__description">Business change</p>
            </div>
            <div class="subsection__content js-subsection-content" id="subsection_content_1">
                <div class="lesson">
                    <div class="scoreWrapper">
                        <i class="fa fa-circle-thin fa-5x"></i>
                        <div><span class="answered">0</span>/<span class="numberOfQuestions">12</span></div>
                    </div>
                    <h3 class="heading-small">Mr Meiosis</h3>
                    <p>When organisations split</p>
                    <a href="#" class="text-link">Take lesson</a>
                </div>
                <div class="lesson">
                    <div class="scoreWrapper">
                        <i class="fa fa-circle-thin fa-5x"></i>
                        <div><span class="answered">0</span>/<span class="numberOfQuestions">12</span></div>
                    </div>
                    <h3 class="heading-small">Take-over</h3>
                    <p>When an organisation joins</p>
                    <a href="#" class="text-link">Take lesson</a>
                </div>
                <div class="lesson">
                    <div class="scoreWrapper">
                        <i class="fa fa-circle-thin fa-5x"></i>
                        <div><span class="answered">0</span>/<span class="numberOfQuestions">12</span></div>
                    </div>
                    <h3 class="heading-small">You look familiar</h3>
                    <p>Connected companies</p>
                    <a href="#" class="text-link">Take lesson</a>
                </div>
            </div>
        </div>
        <div class="subsection js-subsection">
            <div class="subsection__header">
                <h2 class="subsection__title">Level 7</h2>
                <p class="subsection__description">The small print</p>
            </div>
            <div class="subsection__content js-subsection-content" id="subsection_content_1">
                <div class="lesson">
                    <div class="scoreWrapper">
                        <i class="fa fa-circle-thin fa-5x"></i>
                        <div><span class="answered">0</span>/<span class="numberOfQuestions">12</span></div>
                    </div>
                    <h3 class="heading-small">Nitty gritty</h3>
                    <p>Terms you might not know</p>
                    <a href="#" class="text-link">Take lesson</a>
                </div>
                <div class="lesson">
                    <div class="scoreWrapper">
                        <i class="fa fa-circle-thin fa-5x"></i>
                        <div><span class="answered">0</span>/<span class="numberOfQuestions">12</span></div>
                    </div>
                    <h3 class="heading-small">Work rules</h3>
                    <p>Funding rules</p>
                    <a href="#" class="text-link">Take lesson</a>
                </div>
                <div class="lesson">
                    <div class="scoreWrapper">
                        <i class="fa fa-circle-thin fa-5x"></i>
                        <div><span class="answered">0</span>/<span class="numberOfQuestions">12</span></div>
                    </div>
                    <h3 class="heading-small">It's on you, me, them</h3>
                    <p>Who is responsible for what</p>
                    <a href="#" class="text-link">Take lesson</a>
                </div>
            </div>
        </div>
    </div>
</div>
        </div>
    </div>
    
</main><!-- / #content -->
{% endblock %}