{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="dashboard" id="content" role="main" tabindex="-1">

  <div class="grid-row">
    <div class="column-full blue">
        <div class="hgroup">
      <h1 class="heading-xlarge">
Dashboard 
            </h1>
                
    </div>
  </div>
        
 </div>
    <div>Email: <span class="email"></span></div>
    <div>Score: <span class="topScore"></span></div>

</main><!-- / #content -->
{% endblock %}