{% extends currentApp.filePaths.layoutsDir + "default.html" %}
{% block main_content %}

<main class="dashboard" id="content" role="main" tabindex="-1">

  <div class="grid-row">
    <div class="column-full blue">
        <div class="hgroup">
      <h1 class="heading-xlarge">
Dashboard 
            </h1>
                
    </div>
  </div>
        
 </div>
    <div>Email: <span class="email"></span></div>
    <div>Score: <span class="topScore"></span></div>

    
    <div class="grid-row">
        <div class="column-full-column">
            <h1>Welcome to your learning center</h1>
            <p class="lede">From here you'll launch all your learning activites, let's take a quick tour.</p>
            <a href="#" class="button">Take the tour</a>
        </div>
    </div>
    
    <div class="grid-row">
        <div class="column-full-column">
            <div id="totalScoreInfographic">
                <i class="fa fa-tropyhy"></i>
                <span>1%</span>
            </div>
            <h2 class="heading-large">Just starting out</h2>
            <h3 class="heading-medium">10 more questions to level up</h3>
            <hr />
        </div>
    </div>
    
    <div class="grid-row">
        <div class="column-full-column">
<div class="js-hidden" data-module="accordion-with-descriptions">
    <div class="subsection-wrapper">
        <div class="subsection js-subsection">
            <div class="subsection__header">
                <h2 class="subsection__title">Level 1</h2>
                <p class="subsection__description">The basics</p>
            </div>
            <div class="subsection__content js-subsection-content" id="subsection_content_0">
                <div class="grid-row">
                    
                </div>
            </div>
        </div>
        <div class="subsection js-subsection">
            <div class="subsection__header">
                <h2 class="subsection__title">Category two</h2>
                <p class="subsection__description">Short sentence describing category.</p>
            </div>
            <div class="subsection__content js-subsection-content" id="subsection_content_1">
                <ul class="subsection__list">
                    <li class="subsection__list-item">
                         <a href="#1">List item one</a>
                    </li>
                    <li class="subsection__list-item">
                         <a href="#1">List item two</a>
                    </li>                      
                </ul>
            </div>
        </div>
    </div>
</div>
        </div>
    </div>
    
</main><!-- / #content -->
{% endblock %}